.phrase {
  overflow: hidden;
  display: flex;
  position: relative;
  aspect-ratio: 43 / 100;
  overflow: hidden;

  @include tablet {
    aspect-ratio: 65 / 100;
  }

  @include laptop {
    aspect-ratio: 13 / 10;
  }

  &__text {
    @include general-text;
    position: relative;
    z-index: 3;
    display: inline-block;
    max-width: calc(479px + 40px);
    margin: 26% 0 0;

    @include tablet {
      margin: 150px 0 0 auto;
    }

    @include laptop {
      max-width: calc(445px + 80px);
      margin: 13.5% 0 0 calc(66% - 40px);
    }

    :first-child {
      font-weight: 700;
    }
  }

  &__bg-container {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 200%;

    @include tablet {
      width: 140%;
    }

    @include laptop {
      width: 100%;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__sky-container {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 330%;

    @include tablet {
      width: 250%;
    }

    @include laptop {
      inset: 0;
      width: 100%;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.choice {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  margin-top: 60px;
  overflow: hidden;

  @include tablet {
    gap: 100px;
    margin-top: 100px;
  }

  @include laptop {
    gap: 20px;
  }

  @include laptop {
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
  }

  &__left {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 35px minmax(194px, auto) auto 1fr;
    grid-template-areas:
      'us us'
      'choice choice'
      'conscious conscious'
      '_ _'
      'img text'
      'button button';
    column-gap: 20px;

    @include tablet {
      grid-template-columns: 29% 66%;

      grid-template-rows: auto auto auto auto auto auto 1fr;
      grid-template-areas:
        '_ us'
        'choice choice'
        '__ conscious'
        'img ___'
        'img text'
        'img button';
      column-gap: 5%;
    }

    @include laptop {
      grid-template-columns: 30% 66%;
      grid-template-rows: auto auto 5% auto auto auto 1fr;
      grid-template-areas:
        '_ us'
        'choice choice'
        '__ conscious'
        'img conscious'
        'img text'
        'img button';
      column-gap: 4%;
      margin-top: 100px;
    }
  }

  &__circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 14px;

    @include tablet {
      top: 3%;
      width: 64px;
      height: 24px;
    }

    @include laptop {
      top: 2%;
    }
  }

  &__first-row {
    @include section-title;
    position: relative;
    grid-area: us;

    margin: 0 16.5% 0 auto;
    font-size: 48px;

    @include tablet {
      grid-column: 2;
      justify-self: start;
      margin: 0;
      font-size: clamp(80px, calc(80px + (100 - 80) * ((100vw - 768px) / (1366 - 768))), 100px);
    }

    @include laptop {
      font-size: 5.2vw;

    }
  }

  &__second-row {
    @include section-title;
    grid-area: choice;
    font-size: 48px;

    @include tablet {
      font-size: clamp(80px, calc(80px + (100 - 80) * ((100vw - 768px) / (1366 - 768))), 100px);
    }

    @include laptop {
      font-size: 5.2vw;
    }
  }

  &__third-row {
    @include section-title;
    grid-area: conscious;
    margin: 0 16.5% 0 auto;
    font-size: 48px;

    @include tablet {

      grid-column: 2;
      justify-self: start;
      margin: 0;
      font-size: clamp(80px, calc(80px + (100 - 80) * ((100vw - 768px) / (1366 - 768))), 100px);
    }

    @include laptop {
      font-size: 5.2vw;

    }
  }

  &__img-card {
    grid-area: img;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
  }

  &__text {
    @include general-text;
    grid-area: text;
    display: flex;
    align-items: start;
    max-width: 354px;
    margin: 0;

    @include tablet {
      justify-content: center;
      align-items: center;
      margin: 50px 0 20px;
    }

    @include laptop {
      max-width: vw(445);
      margin: vw(60) 0 vw(80);
    }
  }

  &__button.general-btn {
    grid-area: button;
    justify-content: center;
    width: 100%;
    margin: 40px 0 0;
    background-color: $accent-color-2;

    span {
      color: $accent-color;
    }

    &::before {
      background-color: $olive-color;
    }

    @include tablet {
      width: 100%;
      margin: 0 0 13px 0;
      width: fit-content;
    }

    @include laptop {
      margin-bottom: 0;
    }
  }

  &__right {
    position: relative;
    margin: 0 -20px;
    overflow: hidden;

    @include laptop {
      margin: 0;
    }
  }

  &__img-bg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid #ece9e2;
  }

  &__ellipse-container {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.about-architecture {
  position: relative;
  background-color: #faf6ee;
  padding-bottom: 60px;

  @include tablet {
    padding-bottom: 100px;
  }

  @include laptop {
    padding-bottom: 200px;
  }

  &::before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 146px;
    background: linear-gradient(to bottom, $bg-color, #faf6ee);

    @include tablet {
      height: 300px;
    }

    @include laptop {
      top: -200px;
    }
  }
}

.about-projecting {
  .sticky-section__block {
    background-color: #faf6ee;
  }
}

.about-topicality {
  padding: 60px 20px 0;
  background-color: #faf6ee;

  @include tablet {
    padding: 100px 20px;
  }

  @include laptop {
    padding: 200px 40px 0;
  }
}

.sticky-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  column-gap: 40px;
  margin-top: 60px;

  @include tablet {
    gap: 50px;
    margin-top: 100px;
  }

  @include laptop {
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    margin-top: 200px;

  }

  &--reverse {
    @include laptop {
      grid-template-columns: 2fr 1fr;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include tablet {
      gap: 60px;
    }

    @include laptop {
      gap: vw(120);
      align-items: stretch;

    }
  }

  &--reverse {
    .sticky-section__list {
      order: 0;
    }
  }

  &__block {
    position: relative;
    overflow: hidden;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    border-radius: 24px;
    background: $bg-color;

    @include tablet {
      grid-template-rows: auto auto;
      // min-height: 560px;
    }

    @include laptop {
      // grid-template-columns: 3fr 2fr;
      // grid-template-rows: inherit;
      // height: 100%;
      display: flex;
      align-items: stretch;
      // height: 100%;
      flex: 1 1 auto;
      min-height: vw(560);
    }
  }

  &--reverse {
    .sticky-section__block {
      grid-template-columns: 1fr;

      @include laptop {
        // grid-template-columns: 2fr 3fr;
      }
    }
  }

  &__block-img {
    position: relative;
    width: 100%;
    aspect-ratio: 335/ 184;

    @include tablet {
      aspect-ratio: 728/ 400;
    }

    @include laptop {
      aspect-ratio: auto;
      flex: 3;
    }


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    span {
      @include tiny-text;
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 26px;
      color: $bg-color;
    }
  }

  &--reverse {
    .sticky-section__block-img {
      span {
        left: inherit;
        right: 20px;
      }
    }
  }

  &--reverse {
    .sticky-section__block-img {
      order: 0;

      @include laptop {
        order: 1;
      }
    }
  }

  &__block-content {
    padding: 20px 20px 40px;

    @include tablet {
      padding: 40px 40px 60px;
    }

    @include laptop {
      flex: 2;
    }
  }

  &--reverse {
    .sticky-section__block-content {
      order: 1;

      @include laptop {
        order: 0;
      }
    }
  }

  &__block-title {
    @include block-title;
  }

  &__block-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    @include laptop {
      gap: 40px;
      margin-top: 40px;
    }
  }

  &__block-list-item {
    display: flex;
    gap: 18px;
    @include general-text;

    :first-child {
      @include general-text;
      font-size: 20px;
      flex-shrink: 0;
      display: block;
      line-height: 120%;
    }
  }

  &__title-container {
    height: 100%;
  }

  &--reverse {
    .sticky-section__title-container {
      @include laptop {
        order: 1;
      }
    }
  }

  &__title {
    @include section-title;
    line-height: 100%;
    letter-spacing: -0.06em;
    text-transform: none;
    position: sticky;


    @include tablet {
      font-size: clamp(64px, calc(64px + (72 - 64) * ((100vw - 768px) / (1366 - 768))), 72px);
      line-height: 110%;
    }

    @include laptop {
      top: 170px;
      padding-bottom: vw(200);
    }
  }
}

.plan {
  overflow: hidden;
  position: relative;
  aspect-ratio: 33 / 100;

  @include tablet {
    aspect-ratio: 9 / 20;
  }

  @include laptop {
    aspect-ratio: 1 / 1;
    margin-top: 0;
  }

  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 33%;
    background: linear-gradient(to bottom, #faf6ee, transparent);
  }

  &__bg-container {
    position: absolute;
    bottom: 0;
    width: 300%;

    @include tablet {
      width: 275%;
    }

    @include laptop {
      width: 100%;
    }
  }

  &__sky-container {
    position: absolute;
    top: 0;
    width: 160%;

    @include tablet {
      width: 120%;
    }

    @include laptop {
      bottom: 0;
      width: 100%;
    }
  }

  &__block {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

    @include tablet {
      margin-top: 100px;
    }

    @include laptop {
      margin-top: 21%;
    }
  }

  &__logo {
    width: 89%;
    height: 8%;
    max-width: 770px;
    max-height: 171px;

    @include tablet {
      width: 62%;
      height: 14%;
    }

    @include laptop {
      width: 100%;
      height: 100%;
    }
  }

  &__button {
    margin-top: 20px;

    @include tablet {
      margin-top: 40px;
    }
  }

  &__subtitle {
    @include block-title;
  }
}

.project-haromny.harmony-section {
  &::before {
    background: linear-gradient(0deg, rgba(236, 233, 226, 0) 0%, #FAF6EE 100%);
  }
}