// ======= Features section =======

.features-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include laptop {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}

.section-content-wrapper {
  border-radius: 24px;
  background: #faf6ee;
  backdrop-filter: blur(20px);
  padding: 20px;

  @include tablet {
    padding: 40px;
  }

  @include laptop {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
  }
}

.features-title {
  @include section-title;

  font-size: 36px;
  line-height: 100%;
  text-transform: none;
  margin-bottom: 20px;

  @include tablet {
    font-size: 42px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 40px;
    max-width: 648px;
  }

  @include laptop {
    font-size: vw(42);
    margin-bottom: 0;
    // max-width: 400px;
  }

  @include desktop {
    max-width: 480px;
  }
}

.features-list__item {
  border-radius: 16px;
  background: $bg-color;
  backdrop-filter: blur(20px);
  padding: 20px;
  margin-bottom: 20px;

  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1366px) {
    flex-direction: column;
  }

  @include tablet {
    padding: 40px;
  }

  @include laptop {
    gap: 20px;
    min-width: 488px;
  }

  @include desktop {
    flex-direction: row;
    min-width: 1025px;
  }
}

.features-icon-title-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  @include tablet {
    gap: 20px;
    margin-bottom: 20px;
  }

  @include laptop {
    margin-bottom: 0;
  }
}

.features-icon {
  flex-shrink: 0;
}

.features-list__item-title {
  @include block-title;

  font-size: 14px;
  font-weight: 700;
  line-height: 140%;

  @include tablet {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
  }
}

.features-list__item-text {
  @include block-title;

  font-size: 24px;

  @include tablet {
    font-size: 32px;
  }

  @include laptop {
    font-size: 36px;
  }
}

// ======= Advantages section =======

.advantages-section {
  padding-bottom: 60px;

  @include tablet {
    padding-bottom: 100px;
  }

  @include laptop {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 140px;
  }
}

.advantages-title {
  @include section-title;

  line-height: 100%;
  margin-bottom: 60px;
  text-transform: none;

  @include tablet {
    font-size: 64px;
    margin-bottom: 40px;
  }

  @include laptop {
    position: sticky;
    top: 182px;
    z-index: 10;

    font-size: vw(72);
    margin-bottom: 0;
    max-width: 508px;
    padding-bottom: vw(300);
  }
}

.advantages-item {
  overflow: hidden;
  position: relative;
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    margin-bottom: 200px;
  }

  @include laptop {
    margin-bottom: 120px;
  }
}

.advantages-image-wrapper {
  position: relative;
  aspect-ratio: 326/360;
  border-radius: 24px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, rgba(7, 6, 15, 0) 0%, rgba(7, 6, 15, 0.98) 100%);
  }

  @include tablet {
    aspect-ratio: 728/500;
  }

  @include laptop {
    aspect-ratio: 1065/620;
    max-width: 1065px;
  }
}

.advantages-item__image {
  border-radius: 24px;
  border: 1px solid rgba(236, 233, 226, 0.4);

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advantages-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;

  @include tablet {
    padding: 40px;
  }

  @include laptop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 1065px;
  }
}

.advantages-item__title {
  @include article-title;

  color: $text-color-2;
  margin-bottom: 8px;

  @include tablet {
    margin-bottom: 12px;
  }

  @include laptop {
    margin-bottom: 0;
    width: 50%;
  }
}

.advantages-text {
  @include general-text;

  color: $text-color-2;

  @include laptop {
    max-width: 472px;
    width: 50%;
  }
}
