.contacts .footer-contacts-section {

  gap: 28px;
  padding-top: 0px;
  padding-bottom: 0px;

  @include tablet {
    gap: 40px;
  }

  @include laptop {}

  .footer-contacts-section__nav-menu,
  .footer-contacts-section__address-socials {


    @include laptop {
      width: calc((100% - 80px) / 3);
    }
  }
}