.section {
  padding-top: 100px;
  overflow: hidden;

  &:last-child {
    padding-bottom: 100px;
  }

  @include tablet {
    padding-top: 200px;

    &:last-child {
      padding-bottom: 200px;
    }
  }

  @include laptop {
    padding-top: 250px;

    &:last-child {
      padding-bottom: 250px;
    }
  }
}

.mobile-transfer {
  @include tablet {
    display: none;
  }
}

.general-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 24px;
  border-radius: 100px;
  background-color: $olive-color;
  width: fit-content;
  position: relative;
  overflow: hidden;
  height: fit-content;

  // border: none;
  @include tablet {
    padding: 22px 32px;
    height: 68px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 130%;
    height: 110%;
    top: 0;
    left: -15%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    background-color: $accent-color;
  }

  &.mobile-mode {
    @include tablet {
      display: none;
    }
  }

  &.laptop-mode {
    display: none;

    @include laptop {
      display: flex;
    }
  }

  &.laptop-header-mode {
    display: none;

    @include laptop-header {
      display: flex;
    }
  }

  span.mobile-mode {
    @include tablet {
      display: none;
    }
  }

  span.tablet-mode {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &:hover {
    span {
      color: $accent-color;
    }

    svg path {
      fill: $accent-color;
    }

    &::before {
      transform: translate3d(100%, 0, 0);
    }

    // &.button--white {
    //   background: var(--green-light);
    // }
  }

  span {
    transition: color 0.5s linear;
    position: relative;
    z-index: 2;
    @include general-text;
    white-space: nowrap;
    font-weight: 700;
    color: $wc;
    transition: all 0.4s cubic-bezier(0.3, 1, 0.8, 1);

    @include laptop {
      font-size: 18px;
    }
  }

  svg {
    position: relative;
    z-index: 2;
  }
}

.hero {
  min-height: 100svh;
  width: 100%;
  position: relative;
  z-index: 2;
  padding-top: 127px;
  overflow: hidden;

  .hero-bg {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(46, 38, 32);
    opacity: 0;
    pointer-events: none;
  }

  @include tablet {
    padding-top: 160px;
  }

  @include laptop {
    padding-top: 197px;
  }

  .section-title {
    color: $accent-color-2;
    line-height: 90%;
    display: block;

    & > span {
      color: $text-color;
      padding-left: 40px;
    }

    @include tablet {
      & > span {
        padding-left: 60px;
      }
    }

    @include laptop {
      & > span {
        padding-left: 5.2vw;
      }
    }
  }
}

.video-frame {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, rgba(7, 6, 15, 0) 0%, rgba(7, 6, 15, 0.8) 100%);
  }

  video,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.section-title {
  @include section-title;
  margin-bottom: 20px;
  color: $accent-color;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;

  @include tablet {
    margin-bottom: 40px;
  }
}

.hero-promo-wrap {
  position: absolute;
  z-index: 2;
  top: 87px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;

  @include tablet {
    top: 126px;
    gap: 18px;
  }

  @include laptop {
    top: 148px;
    gap: 4px;
  }
}

.hero-promo-item {
  position: relative;
  max-width: 178px;
  padding: 12px;
  border-radius: 0 24px 24px 0;
  background-color: rgba(100, 104, 110, 0.6);
  backdrop-filter: blur(24px);
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  @include tablet {
    max-width: 300px;
    padding: 20px;
  }

  @include laptop {
    max-width: 452px;
    padding: vw(48) vw(40);
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }

  &:hover {
    background-color: rgba(57, 48, 40, 0.4);

    .ellipse-btn {
      &::before {
        transform: translate3d(100%, 0, 0);
      }
    }
  }
}

.hero-promo-text {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include laptop {
    max-width: 260px;
  }

  h3 {
    @include subtitle-text;
    color: $wc;
  }

  p {
    @include general-text;
    color: $olive-color;
    font-size: 12px;

    @include tablet {
      font-size: 18px;
    }

    @include laptop {
      font-size: 0.9375vw;
    }
  }

  .hero-promo__date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: $grey-color;
    padding: 5px 8px;
    position: absolute;
    top: 0;
    left: 12px;
    width: fit-content;
    transform: translateY(-50%);

    @include tablet {
      left: 20px;
    }

    @include laptop {
      padding: 0;
      position: static;
      transform: none;
      margin-top: 12px;
      border-radius: 0;
      background: none;
    }

    span {
      @include tiny-text;
      color: $wc;
      font-size: 10px;

      @include tablet {
        font-size: 14px;
      }

      @include laptop {
        color: $accent-color-2;
        font-size: 14px;
      }
    }

    svg {
      display: none;

      @include laptop {
        display: block;
        width: 16px;
        height: 16px;
      }
    }
  }
}

.hero-promo-btn {
  display: none;

  @include laptop {
    display: flex;
  }
}

.mobile-mode {
  @include tablet {
    display: none;
  }
}

.tablet-mode {
  display: none;

  @include tablet {
    display: initial;
  }
}

.hero-bottom-block {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
  padding-bottom: 20px;

  @include to(768px) {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
  }

  @include tablet {
    gap: 20px;
  }

  @include laptop {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: flex-end;
    // padding: 40px;
  }

  & > img {
    @include laptop {
      width: 48vw;
    }
  }
}

.hero-bottom-items {
  display: flex;
  gap: 6px;
  width: 100%;

  @include laptop {
    gap: 20px;
    width: fit-content;
  }
}

.hero-bottom-item {
  border-radius: 24px;
  background-color: rgba(100, 104, 110, 0.2);
  backdrop-filter: blur(24px);
  flex: 1;
  padding: 12px;
  transition: background-color 0.4s ease-in-out;

  @include tablet {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 28px;
  }

  @include laptop {
    flex-direction: column;
    justify-content: center;

    gap: 28px;
    width: 204px;
    height: 204px;
  }

  &:hover {
    background-color: rgba(57, 48, 40, 0.4);
  }

  & > svg {
    display: none;

    @include tablet {
      display: block;
      width: 32px;
      height: 32px;
    }
  }

  &__text {
    h3 {
      @include general-text;

      @include to(768px) {
        font-size: 12px;
      }

      margin-bottom: 4px;
      text-align: center;
      font-weight: 500;
      line-height: 120%;
      color: $wc;

      @include tablet {
        text-align: left;
      }

      @include laptop {
        text-align: center;
      }
    }

    p {
      font-family: $default-font;
      font-size: 16px;
      color: $wc;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -0.06em;
      white-space: nowrap;
      text-align: center;

      @include tablet {
        font-size: 24px;
      }

      @include tablet {
        text-align: left;
      }

      @include laptop {
        text-align: center;
      }
    }
  }
}

.about-project {
  background-color: $bg-color;
  position: relative;
  z-index: 2;
  overflow: hidden;

  .about-project-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 100px;

    @include tablet {
      margin-bottom: 200px;
    }

    @include laptop {
      margin-bottom: 140px;
      display: flex;
    }
  }

  &-text {
    margin-bottom: 100px;

    @include laptop {
      flex: 1;
      padding-left: vw(175);
      padding-right: vw(175);
      margin-bottom: 0;
    }

    h2 {
      color: $accent-color;

      @include laptop {
        max-width: 18.17vw;
      }
    }

    p {
      @include general-text;
      color: $accent-color;
      margin-bottom: 28px;

      @include tablet {
        margin-bottom: 60px;
      }

      @include laptop {
        max-width: 23.17vw;
      }
    }

    .general-btn {
      @include tablet {
        padding-left: 100px;
        padding-right: 100px;
      }

      @include laptop {
        padding-left: 32px;
        padding-right: 32px;
      }
    }
  }

  &-video {
    position: relative;
    z-index: 3;
    flex: 2;

    & > svg {
      display: none;

      @include laptop {
        display: block;

        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        clip-path: polygon(0% 0%, 100% 3%, 100% 100%, 0% 97%);
      }
    }

    & .video-wrapper {
      width: 100%;
      aspect-ratio: 1/0.6;
      position: relative;

      @include laptop {
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;

        &:not(.playing) {
          pointer-events: none;
        }

        &.playing {
          pointer-events: auto;
        }
      }

      .controls-wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all 0.4s ease;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

        &.hidden {
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
        }

        &:hover {
          .video-btn {
            opacity: 0.9;
          }
        }
      }

      .video-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $olive-color;
        cursor: pointer;
        z-index: 1;
        transition: all 0.4s ease;

        &::before {
          background-color: $accent-color-2;
        }

        @include tablet {
          max-width: 140px;
          max-height: 185px;

          & > svg {
            width: 48px;
            height: 48px;
          }
        }

        // @include laptop {
        //   width: 120px;
        //   height: 120px;
        // }
      }
    }
  }
}

.about-project-img {
  position: relative;
  aspect-ratio: 1/ 0.94;

  @include tablet {
    aspect-ratio: 1/ 0.74;
  }

  @include laptop {
    aspect-ratio: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  svg.corner {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 70%;
    height: auto;

    @include tablet {
      width: 49%;
    }
  }
}

.location-homepage {
  &__content {
    margin-bottom: 100px;

    @include tablet {
      margin-bottom: 60px;
    }

    @include laptop {
      display: flex;
      justify-content: space-between;
    }

    h2 {
      @include laptop {
        margin-bottom: 60px;
        white-space: nowrap;
      }
    }
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;

    gap: 28px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
    }

    @include laptop {
      width: 50%;
    }

    p {
      @include general-text;
      color: $accent-color;

      @include laptop {
        max-width: vw(445);
      }
    }

    .general-btn {
      flex-shrink: 0;
    }
  }
}

.map-main-wrap {
  width: 100%;
  height: 90vh;
  // border-radius: 20px;
  // background-color: $wc;
  position: relative;
  // overflow: hidden;

  @include tablet {
  }

  @include laptop {
    height: 85vh;

    // flex: 1;
  }

  .map-wrapper {
    width: 100%;
    height: 100%;
    // border-radius: 20px;
    // overflow: hidden;

    .map {
      height: 100%;
      width: 100%;
      color: $bg-color;
    }
  }

  .map-navigation {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
    transition: all 0.4s ease-in-out;
    width: fit-content;

    .map-navigation__main {
      display: none;
    }

    .general-btn {
      transition: all 0.4s ease-in-out;

      svg {
        width: 16px;
        height: 16px;
      }

      .oppened-fltr {
        display: none;
        gap: 12px;
      }

      .closed-fltr {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }

    &.oppened {
      background-color: rgba(179, 190, 205, 0.9);
      width: calc(100% - 60px);

      @include tablet {
        width: 100%;
      }

      @include laptop {
        width: 100%;
      }

      .map-navigation__main {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
      }

      .general-btn {
        color: $wc;

        .oppened-fltr {
          display: flex;
          align-items: center;
          gap: 12px;
        }

        .closed-fltr {
          display: none;
        }
      }
    }
  }

  .map-navigation__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background-color: $wc;
    padding: 6px 12px;
    color: $accent-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    cursor: pointer;

    svg {
      transition: stroke 0.4s ease-in-out;
    }

    &:hover {
      background-color: $olive-color;
      color: $wc;

      svg use {
        stroke: $wc;
      }
    }

    &.active {
      background-color: $accent-color;
      color: $wc;

      svg {
        stroke: $wc;
        fill: $wc;
      }
    }

    svg {
      width: 24px;
      height: 24px;

      transition: stroke 0.4s ease-in-out;
    }
  }
}

.gm-style-iw.gm-style-iw-c {
  padding: 20px 40px 20px 20px !important;
}

.map-wrapper .gm-style-iw.gm-style-iw-c {
  padding: 20px 40px 20px 20px !important;
}

.map-wrapper .gm-style-iw-d {
  font-family: $default-font;
  padding: 0 !important;
  overflow: hidden !important;
  color: $accent-color;
}

.map-wrapper .gm-style-iw-chr {
  position: absolute;
  top: 0;
  right: 0;
}

.map-wrapper .gm-ui-hover-effect {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
}

.map-wrapper .gm-ui-hover-effect span {
  margin: 0 !important;
}

.advantages {
  .section-title {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 40px;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  transition: all 0.4s ease-in-out;
  background-color: $bg-color;
  cursor: pointer;

  &::before {
    transition: all 0.4s ease-in-out;
    background-color: $accent-color-2;
  }

  &.swiper-button-disabled {
    opacity: 0.4;
    cursor: no-drop;
    pointer-events: none;
    background-color: transparent;
    border: 1px solid $accent-color-2;

    &::before {
      background-color: transparent;
    }
  }
}

.swiper-advantages {
  overflow: hidden;
  position: relative;

  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-btns-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 2;

    @include laptop {
      left: calc(vw(1220) + 20px);
    }
  }

  .swiper-slide {
    background-color: $olive-color;
    padding: 20px;
    padding-bottom: 108px;
    border-radius: 24px;

    @include tablet {
      padding-bottom: 108px;
    }

    @include laptop {
      display: flex;
      gap: vw(80);
      padding-bottom: 20px;
      padding-right: 80px;
    }

    img {
      width: 100%;
      aspect-ratio: 1/0.57;
      border-radius: 12px;
      margin-bottom: 20px;

      @include laptop {
        margin-bottom: 0;
        width: vw(1140);
      }
    }

    .advantages-card__content {
      h3 {
        @include block-title;
        color: $accent-color;
        margin-bottom: 20px;

        @include laptop {
          margin-bottom: 40px;
        }
      }

      ul {
        @include general-text;
        counter-reset: item;
        margin-bottom: 20px;
      }

      li {
        @include general-text;
        counter-increment: item;
        position: relative;
        padding-left: 24px;
        margin-bottom: 12px;

        @include tablet {
          padding-left: 36px;
        }

        &::before {
          content: counter(item);
          font-family: inherit;
          font-weight: 600;
          position: absolute;
          left: 0;
          top: 2px;
          border: 1px solid $accent-color;
          font-size: 12px;
          line-height: 1;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.tech-params {
  padding-bottom: 100px;

  @include tablet {
    padding-bottom: 200px;
  }

  @include laptop {
    padding-bottom: vw(250);
  }
}

.swipers-tech-wrap {
  position: relative;

  @include laptop {
    padding-left: vw(152);
    padding-right: vw(152);
  }
}

.swiper-tech-mobile {
  // position: relative;
  overflow: hidden;

  @include tablet {
    display: none;
  }

  .swiper-slide {
    position: relative;
  }

  .tech-item {
    width: 100%;
    min-height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $accent-color-2;

    &:last-child {
      justify-content: flex-end;
      border-bottom: none;
    }

    h3 {
      @include article-title;
      color: $olive-color;
      text-align: center;
    }

    p {
      @include block-title;
      color: $accent-color;
      text-align: center;
    }
  }
}

.tech-logo-decor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: $bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 109px;
  pointer-events: none;
  border-radius: 50%;
  border: 1px solid $accent-color-2;

  & > svg {
    width: 69px;
    height: 12px;
  }

  .right-spot {
    position: absolute;
    z-index: 3;
    background-color: $bg-color;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .left-spot {
    position: absolute;
    z-index: 3;
    background-color: $bg-color;
    width: 32px;
    height: 32px;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
  }

  .top-spot {
    position: absolute;
    z-index: 3;
    background-color: $bg-color;
    width: 32px;
    height: 32px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .bottom-spot {
    position: absolute;
    z-index: 3;
    background-color: $bg-color;
    width: 32px;
    height: 32px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
  }
}

.swiper-btns-wrap--tech {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  .swiper-button-next,
  .swiper-button-prev {
    background-color: $olive-color;
  }

  .swiper-button-disabled {
    background-color: transparent;
  }
}

.swiper-tech-tablet {
  display: none;
  overflow: hidden;

  .swiper-slide {
    display: flex;
    flex-wrap: wrap;
  }

  @include tablet {
    display: block;
  }

  .swiper-slide {
    position: relative;
  }

  .tech-item {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: calc(50% - 0.5px);
    height: 364px;

    @include laptop {
      padding: 20px 40px;
      height: 240px;
    }

    &:nth-child(3) {
      border-left: 1px solid $accent-color-2;
      border-bottom: 1px solid $accent-color-2;
    }

    &:nth-child(4) {
      border-right: 1px solid $accent-color-2;
      border-top: 1px solid $accent-color-2;
    }

    h3 {
      @include article-title;
      color: $olive-color;
      text-align: center;
    }

    p {
      @include block-title;
      color: $accent-color;
      text-align: center;
    }
  }
}

.developer-homepage {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  // backdrop-filter: blur(24px);
  // -webkit-backdrop-filter: blur(24px);

  @include tablet {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @include laptop {
    padding-top: vw(200);
    padding-bottom: vw(200);
  }

  &__title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 60px;
    }

    .section-title {
      color: $wc;
      margin-bottom: 0;
    }
  }

  .general-btn {
    background-color: $olive-color;

    span {
      color: $accent-color;
    }

    color: $accent-color;

    &::before {
      background-color: $wc;
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &--blur {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include tablet {
      gap: 60px;
    }

    @include laptop {
      flex-direction: row;
      gap: 20px;
    }
  }
}

.developer-color-block {
  padding: 20px;
  border-radius: 24px;
  background-color: $wc;
  position: relative;
  overflow: hidden;
  flex: 1;

  @include tablet {
    padding: 60px 40px;
  }

  @include laptop {
    padding: vw(60) vw(40);
  }

  h3 {
    @include subtitle-text;
    color: $accent-color;
  }

  .ellipse-decor {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .icon--three-ellipse {
    width: 32px;
    height: 16px;
    margin-right: 200px;
    display: inline-block;

    @include tablet {
      margin-right: 50px;
    }
  }

  .icon--square-logo {
    margin-top: 55px;
    width: 80px;
    height: 80px;

    @include tablet {
      margin-top: 95px;
      width: 132px;
      height: 132px;
    }

    @include laptop {
      margin-top: vw(120);
    }
  }
}

.developer-descr-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;

  @include tablet {
    gap: 40px;
  }

  @include laptop {
    justify-content: space-between;
    padding: vw(60);
  }

  h3 {
    @include article-title;
    color: $wc;
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet {
      flex-direction: row;
      gap: 60px;
    }

    p {
      @include general-text;
      color: $wc;

      @include tablet {
        flex: 1;
      }
    }
  }
}

.terms-homepage {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;

  @include tablet {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @include laptop {
    padding-top: vw(200);
    padding-bottom: vw(200);
  }

  &__title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 60px;
    }

    .general-btn {
      display: none;

      @include laptop {
        display: flex;
      }
    }

    .section-title {
      margin-bottom: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet {
      gap: 60px;
    }

    @include laptop {
      flex-direction: row;
      gap: 20px;
      align-items: stretch;
    }

    .general-btn {
      width: 100%;

      @include tablet {
        width: fit-content;
      }
    }
  }
}

.terms-img-block {
  overflow: hidden;
  border-radius: 24px;
  height: 340px;
  padding: 20px;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0% 50%, #000 100%);
  display: flex;
  align-items: flex-end;
  cursor: pointer;

  @include tablet {
    height: 480px;
    padding: 40px;
  }

  @include laptop {
    height: auto;
    flex: 1;
  }

  &__wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      opacity: 1;
      background-size: 100% 150%;
      background-position: 0% 50%;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0% 50%, #000 100%);
      transition: all 0.4s ease-in-out;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.4s ease-in-out;
    }
  }

  &__title {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    @include tablet {
      gap: 40px;
    }

    h3 {
      @include subtitle-text;
      color: $wc;
    }

    .ellipse-btn {
      flex-shrink: 0;
      background-color: $olive-color;

      &::before {
        background-color: $accent-color-2;
      }
    }
  }

  &:hover {
    .terms-img-block__wrap img {
      transform: scale(1.1);
    }

    .terms-img-block__wrap-bg {
      background-position: 0% 100%;
    }

    .ellipse-btn {
      &::before {
        transform: translate3d(100%, 30%, 0);
      }
    }
  }
}

.terms-banner-block {
  @include laptop {
    flex: 1;
  }
}

.terms-banner-item {
  display: block;
  border-radius: 24px;
  border: 1px solid $accent-color-2;
  background-color: $wc;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    padding: 40px;
  }

  h3 {
    @include subtitle-text;
    color: $accent-color;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 40px;
    }

    @include laptop {
      margin-bottom: vw(80);
    }
  }

  &__list-wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include tablet {
      gap: 20px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    li {
      @include general-text;
      color: $accent-color;
      padding-left: 24px;
      position: relative;

      @include tablet {
        padding-left: 27px;
      }

      &::before {
        content: '•';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
  }

  .ellipse-btn {
    flex-shrink: 0;
    background-color: $olive-color;

    &::before {
      background-color: $accent-color-2;
    }
  }

  &:hover {
    background-color: #faf6ee;

    .ellipse-btn {
      &::before {
        transform: translate3d(100%, 30%, 0);
      }
    }
  }
}

.mob-tab-mode {
  @include laptop {
    display: none;
  }
}

.filler-3d {
  position: relative;
  height: 100vh;
  background: linear-gradient(180deg, rgba(32, 27, 23, 0) 0%, #201b17 100%);
  overflow: hidden;

  &__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;

    & > img {
      width: 100%;

      @include tablet {
        width: 464.684px;
        margin-bottom: 12px;
      }

      @include laptop {
        width: vw(747);
        margin-bottom: 20px;
      }
    }

    .general-btn {
      background-color: $olive-color;

      span {
        color: $accent-color;
      }

      color: $accent-color;

      &::before {
        background-color: $accent-color-2;
      }
    }
  }

  &__descr {
    @include block-title;
    color: $wc;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 40px;
    }
  }
}

.swiper-progress {
}

.progress-card {
  border-radius: 24px;

  overflow: hidden;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  cursor: pointer;
  aspect-ratio: 600/650;

  .progress-card__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0% 60%, #000 100%);
    background-size: 100% 150%;
    background-position: 0% 100%;
  }

  & > img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
  }

  &__date-wrap {
    border-radius: 100px;
    background: rgba(236, 233, 226, 0.1);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: 6px 12px;
    width: fit-content;

    p {
      @include general-text;
      color: $wc;
    }
  }

  &__text-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 8px;

    @include tablet {
      gap: 80px;
    }

    @include laptop {
      gap: vw(80);
    }

    h3 {
      @include text-24;
      color: $wc;
    }
  }

  .ellipse-btn {
    flex-shrink: 0;
    background-color: $olive-color;

    &::before {
      background-color: $accent-color-2;
    }
  }

  &:hover {
    & > img {
      transform: scale(1.1);
    }

    .progress-card__bg {
      background-position: 0% 50%;
    }

    .ellipse-btn {
      &::before {
        transform: translate3d(100%, 30%, 0);
      }
    }
  }
}
