// ======== Infrastructure section ========
#map-section {
  .section-title {
    @media screen and (max-width: 768px) {
      font-size: 36px;
      margin-bottom: 20px;
    }
  }
}

.infrastructure-section {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: $bc;
  position: relative;
  overflow: hidden;
  height: 635px;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: url('/assets/images/location/filler/mob-oval.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;

    width: clamp(365px, 28vw, 795px);
    aspect-ratio: 355 / 190;
    height: auto;

    @include tablet {
      background-image: url('../images/location/filler/tab-oval.svg');
      width: clamp(400px, 100vw, 650px);
      aspect-ratio: 623 / 471;
    }

    @include laptop {
      background-image: url('../images/location/filler/desk-oval.svg');
      width: clamp(500px, 40vw, 795px);
      aspect-ratio: 795 / 570;
    }
  }

  @include tablet {
    padding-top: 140px;
    padding-bottom: 109px;
    height: 1080px;
  }

  @include laptop {
    height: auto;
  }

  @include desktop {
    height: 1080px;
  }

  .inzhure-text-link-block {
    right: 8vw;

    @include tablet {
      left: 70vw;
    }
  }

  .inzure-text {
    @include general-text;

    font-weight: 700;
    max-width: 246px;

    span {
      color: #faeef2;
    }

    @include tablet {
      font-weight: 600;
      font-size: 32px;
      line-height: 120%;
      max-width: unset;
      min-width: 479px;
    }

    @include laptop {
      font-size: vw(36);
      min-width: 259px;

      @media screen and (max-width: 1366px) {
        max-width: 392px;
      }
    }

    @include desktop {
      max-width: 520px;
    }
  }
}

.icon-inzhure-block,
.inzhur-title {
  position: relative;
  z-index: 2;
}

.infrastructure-icons-list {
  display: flex;
}

.infrastructure-icons-list__item {
  margin: -3px;
}

.inzhur,
.inzhur-title {
  @include section-title;

  color: #faeef0;
  font-size: 36px;
  line-height: 100%;

  @include tablet {
    font-size: 80px;
    line-height: 90%;
  }

  @include laptop {
    font-size: vw(100);
  }
}

.inzhur-title {
  margin-bottom: 317px;
  max-width: 515px;

  @include tablet {
    max-width: 728px;
    margin-bottom: 454px;
  }

  @include laptop {
    margin-bottom: 220px;
    max-width: 874px;

    @media screen and (max-width: 1366px) {
      margin-bottom: 90px;
      max-width: 585px;
    }
  }

  @include desktop {
    max-width: 1064px;
  }
}

// ======== Area section ========

.area-section {
  padding-top: 60px;
  padding-bottom: 30px;
  position: relative;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  @include laptop {
    padding-top: 200px;
    padding-bottom: 100px;
  }
}

.area-title {
  @include section-title;

  font-size: 48px;
  margin-bottom: 40px;

  @include tablet {
    font-size: 80px;
    margin-bottom: 60px;
    max-width: 640px;
  }

  @include laptop {
    max-width: none;
    font-size: vw(100);
  }
}

.area-image-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include tablet {
    gap: 40px;
  }

  @include laptop {
    flex-direction: row;
    gap: 20px;
  }
}

.area-img-wrapper {
  position: relative;
  inset: 0;
  aspect-ratio: 335 / 360;
  overflow: hidden;
  border-radius: 24px;
  padding: 20px;

  flex-basis: clamp(360px, 50vw, 910px);

  &::after {
    content: '';
    position: absolute;
    top: 213px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(57, 48, 40, 0) 0%,
      rgba(57, 48, 40, 0.6) 40.38%,
      rgba(57, 48, 40, 0.9) 100%
    );
  }

  @include tablet {
    aspect-ratio: 728 / 520;
    padding: 40px;
  }

  @include laptop {
    aspect-ratio: 910 / 520;
  }
}

.area-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.area-img-text {
  @include block-title;

  position: absolute;
  z-index: 1;
  bottom: 20px;

  font-size: 24px;
  color: #faf6ee;

  @include tablet {
    font-size: 32px;
  }

  @include laptop {
    font-size: vw(36);
    max-width: 830px;
  }
}

.area-list {
  flex-basis: clamp(360px, 50vw, 910px);
}

.area-item {
  border-radius: 16px;
  background: var(--White, #faf6ee);
  backdrop-filter: blur(20px);
  padding: 20px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    padding: 40px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
  }
}

.area-item__icon-title-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 0;
  }
}

.area-item__title {
  @include block-title;

  font-size: 24px;
}

.area-sublist {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 8px;
}

.area-sublist__item {
  position: relative;
  padding-left: 20px;

  &::before {
    position: absolute;
    content: '';
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    background-color: $text-color;
    border-radius: 50%;
  }

  @include tablet {
    min-width: 280px;
  }
}

.area-sublist__item-text {
  @include general-text;
}

// ======== Nearby section ========

.nearby-section {
  padding-top: 30px;

  @include tablet {
    padding-top: 50px;
  }

  @include laptop {
    padding-top: 100px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 120px;
  }
}

.nearby-title {
  @include section-title;
  position: relative;

  font-size: 42px;
  line-height: 100%;
  margin-bottom: 40px;

  @include tablet {
    font-size: 72px;
    margin-bottom: 60px;
  }

  @include laptop {
    font-size: vw(72);
    margin-bottom: 0;
    position: sticky;
    top: 162px;
    z-index: 10;
    padding-bottom: vw(200);
  }
}

.nearby-list {
  counter-reset: nearby;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include tablet {
    gap: 60px;
  }

  @include laptop {
    gap: vw(140);
  }
}

.nearby-item {
  counter-increment: nearby;

  border-radius: 28px;
  background: #faf6ee;
  position: relative;
  overflow: hidden;

  &::before {
    @include general-text;

    content: counter(nearby);
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 100px;
    background: $bg-color;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      font-size: 14px;
    }
  }

  @include laptop {
    display: flex;
  }
}

.nearby-image {
  width: 100%;
  aspect-ratio: 335 / 184;
  object-fit: cover;

  @include tablet {
    aspect-ratio: 728 / 400;
  }

  @include laptop {
    width: 50%;
    aspect-ratio: 600 / 520;
  }
}

.nearby-item-title {
  @include block-title;

  margin-bottom: 12px;

  @include tablet {
    font-size: 32px;
    margin-bottom: 28px;
  }

  @include laptop {
    font-size: vw(36);
  }
}

.nearby-text-content-wrapper {
  padding: 20px 20px 28px;

  @include tablet {
    padding: 40px 40px 60px;
  }

  @include laptop {
    width: 50%;
  }
}

.nearby-table-title-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 16px;

  &::after {
    position: absolute;
    content: '';
    border-bottom: 1px solid rgba(179, 190, 205, 0.4);
    opacity: 0.8;
    backdrop-filter: blur(20px);
    bottom: -8px;
    width: 100%;

    @include tablet {
      bottom: -12px;
    }
  }

  @include tablet {
    margin-bottom: 40px;
  }
}

.nearby-table-title-item {
  &:not(:first-child) {
    display: flex;
    align-items: center;
    gap: 12px;

    @include tablet {
      gap: 20px;
    }
  }
}

.nearby-table-title {
  @include general-text;

  font-weight: 700;
  color: $olive-color;
}

.nearby-lists-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.establishment-name-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  @include tablet {
    gap: 12px;
  }
}

.establishment-name-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.establishment-name,
.time-by-car,
.time-on-foot {
  @include general-text;
}

.establishment-name {
  font-weight: 700;
  max-width: 150px;

  @include tablet {
    max-width: 100%;
  }

  @include laptop {
    max-width: 320px;
  }
}

.establishment-time {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 110px;

  @include tablet {
    width: 126px;
  }

  @include laptop {
    width: 76px;
  }

  @include desktop {
    width: 128px;
  }
}

.time-by-car {
  min-width: 64px;

  @include tablet {
    min-width: 80px;
  }

  @include laptop {
    min-width: 52px;
  }

  @include desktop {
    min-width: 80px;
  }
}

.time-on-foot {
  min-width: 44px;
}

// ======== Harmony section ========

.harmony-section {
  padding-top: 235px;
  position: relative;
  overflow: hidden;
  height: 150vh;

  &::before {
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg, rgba(236, 233, 226, 0) 0%, #ece9e2 100%);
  }

  @include tablet {
    padding-top: 320px;
    // height: 1705px;

    &::before {
      height: 400px;
    }
  }

  @include laptop {
    padding-top: vw(400);
    height: 180vh;
  }
}

.mobile.landscape {
  height: 300vh;
}

.harmony-logo {
  display: block;
  margin: 0 auto 13px;

  @include tablet {
    max-width: 478px;
    margin-bottom: 20px;
  }

  @include laptop {
    max-width: 770px;
  }
}

.harmony-title {
  @include block-title;

  text-align: center;
  margin-bottom: 20px;

  @include tablet {
    font-size: 32px;
    margin-bottom: 40px;
  }

  @include laptop {
    font-size: vw(36);
  }
}

.harmony-link {
  display: block;
  margin: 0 auto;
  height: 46px;

  @include tablet {
    height: 68px;
  }

  &.general-btn {
    background-color: $bc;

    &::before {
      background-color: $olive-color;
    }

    span {
      color: $text-color;
    }

    &:hover {
      span {
        color: $wc;
      }
    }
  }
}

.harmony-sky-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: -2;

  aspect-ratio: 375 / 745;

  @include tablet {
    aspect-ratio: 768 / 1254;
  }

  @include desktop {
    aspect-ratio: 1920 / 1474;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.harmony-house-wrapper {
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
  z-index: -1;

  aspect-ratio: 375 / 581;

  @include tablet {
    aspect-ratio: 768 / 1133;
    bottom: -120px;
  }

  @include laptop {
    aspect-ratio: 1920 / 1133;
    bottom: -68px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
