.present {


  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include tablet {}

    @include laptop {
      flex-direction: row;

    }
  }


}

.present-card {
  position: relative;
  padding: 20px;
  background-color: $white-color-light;
  border-radius: 24px;
  width: 100%;

  @include tablet {
    padding: 40px;
  }

  @include laptop {
    padding: vw(40);
    width: calc((100% - 60px) / 4)
  }

  h3 {
    font-family: $default-font;
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
    font-size: 28px;
    color: $accent-color;
    margin-bottom: 40px;

    letter-spacing: -0.06em;

    @include tablet {
      margin-bottom: 80px;
      font-size: 36px;
    }

    @include laptop {
      margin-bottom: vw(165);
      font-size: clamp(28px, calc(28px + (36 - 28) * ((100vw - 1024px) / (1920 - 1024))), 36px);
    }
  }


  @include tablet {}

  &__btn-wrap {


    display: flex;
    justify-content: space-between;
    align-items: center;

    .svg-pdf {

      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;

      svg {
        width: 100%;
        height: 100%;
      }

      @include tablet {
        width: 92px;
        height: 92px;
      }

      @include laptop {
        width: vw(92);
        height: vw(92);
      }
    }


  }
}