.progress-page__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;

  @include tablet {
    gap: 60px;
  }

  @include laptop {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
  }

  .progress-card {
    @include laptop {
      width: calc((100% - 40px) / 3);
    }
  }
}

.pagination-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 80px;

  @include tablet {
    margin-top: 140px;
  }

  @include laptop {
    margin-top: 10.4vw;
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 40px;

  &.hidden {
    display: none;
  }

  @include to(600px) {
    gap: 20px;
  }

  &__middle {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__input {
    display: flex;
    padding: 4px 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: $wc;
    border-radius: 100px;
    background: $accent-color;
    @include general-text;
    width: 86px;
    pointer-events: none;
  }

  &--plannings &__input {
    background-color: $wc;
    color: $bc;
  }

  &__span {
    @include general-text;
    color: $accent-color;

    @include to(600px) {
      white-space: nowrap;
    }
  }

  &__button {
    display: flex;
    width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: $wc;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $dark-color;

    &--dark {
      background-color: $bc;
      color: $wc;
    }

    &--dark svg [fill] {
      fill: $wc;
    }

    &--dark svg [stroke] {
      stroke: $wc;
    }

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    @media (hover: hover) and (min-width: 1025px) {
      background-color: transparent;
      position: relative;
      overflow: hidden;

      svg {
        position: relative;
        z-index: 2;

        path {
          transition: all 0.4s ease-in-out;
        }
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $accent-color;
        transition: 0.2s ease-in;
        border-radius: 1000px;
        transform: translateY(-100%);
      }

      &:hover:before {
        transform: translateY(0%);
      }

      &:hover svg path {
        fill: $wc;
      }
    }
  }

  .incredible-button {
    width: 100%;
  }
}

.incredible-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  --animation-primary: cubic-bezier(0.83, 0, 0.17, 1);
  width: max-content;
  color: $wc;
  // padding-bottom: 5px;

  &.hidden {
    display: none;
  }

  &__title {
    @include general-text;
    position: relative;
    overflow: hidden;
    display: block;
    // color: $dark-color;
    color: transparent;

    &:before {
      content: attr(data-title);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: $dark-color;
      transition: 0.2s ease-in-out;
    }

    &:after {
      content: attr(data-title);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: $dark-color;
      transition: 0.2s ease-in-out;
      transform: translateY(100%);
    }
  }

  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $dark-color;
    transition: transform 0.725s var(--animation-primary);
    transform-origin: left;
    transform: scaleX(1) rotate(0.001deg);
    transition-delay: 0.2s;
    bottom: 0;
  }

  &__line2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $dark-color;
    transition: transform 0.725s var(--animation-primary);
    transform-origin: right;
    transform: scaleX(0) rotate(0.001deg);
    transition-delay: 0s;
  }

  &__circle {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    border: 1px solid $dark-color;

    transition: 0.2s ease-in-out;
  }

  @media (hover: hover) {
    &__title {
      color: transparent;
    }

    &:hover &__line {
      transform-origin: right;
      transform: scaleX(0) rotate(0.001deg);
      transition-delay: 0s;
    }

    &:hover &__line2 {
      transform-origin: left;
      transform: scaleX(1) rotate(0.001deg);
      transition-delay: 0.2s;
    }

    &:hover &__circle {
      background-color: $wc;
      transform: scale(0.87);
    }

    &--dark:hover &__circle {
      background-color: $bc;
    }

    &:hover &__title:before {
      transform: translateY(-100%);
    }

    &:hover &__title:after {
      transform: translateY(0%);
    }
  }

  &--dark {
    color: $bc;
  }

  &--dark &__title:before {
    color: $bc;
  }

  &--dark &__title:after {
    color: $bc;
  }

  &--dark &__line,
  &--dark &__line2 {
    background-color: $bc;
  }

  &--dark &__circle {
    border: 1px solid $bc;
  }
}
