.showroom {
  padding-top: 92px;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 148px;
    padding-bottom: 100px;
  }

  @include laptop {
    padding-top: 190px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include laptop {
      grid-template-columns: 32.25% 65.25%;
      gap: 2.5%;
      aspect-ratio: 121 / 50;
    }
  }

  &__block {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 24px;
    background-color: #faf6ee;

    @include tablet {
      gap: 40px;
      padding: 40px;
    }

    @include laptop {
      order: 0;
    }
  }

  &__description {
    @include general-text;
  }

  &__block-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0;

    @include tablet {
      gap: 4px;
    }
  }

  &__list-title {
    @include text-24;
  }

  &__list-item {
    @include general-text;
    display: flex;
    align-items: center;
    gap: 12px;

    span:first-child {
      flex-shrink: 0;
      align-self: start;
      display: block;
      width: 2px;
      height: 2px;
      margin-top: 8px;
      background-color: $text-color;
      border-radius: 50%;

      @include tablet {
        width: 4px;
        height: 4px;
        margin-top: 12px;
      }
    }
  }

  &__3d {
    aspect-ratio: 39 / 50;
    order: 0;

    @include tablet {
      aspect-ratio: 11 / 10;
    }

    @include laptop {
      aspect-ratio: unset;
      order: 1;
    }

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 24px;
    }
  }
}
