.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 140px;
}

.offer {
  &__body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    height: 100%;
    min-height: 460px;
    padding: 20px;
    background-color: #faf6ee;
    border-radius: 24px;

    @include tablet {
      padding: 40px;
    }

    @include laptop {
      grid-template-columns:
        1fr
        minmax(200px, 380px)
        minmax(200px, 380px)
        minmax(200px, 380px);
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;

    @include tablet {
      gap: 20px;
      margin-bottom: 20px;
    }

    @include laptop {
      min-width: 250px;
      max-width: 445px;
      margin-top: 40px;
    }
  }

  &__title {
    @include article-title;
  }

  &__description {
    @include text-24;
  }
}

.harmony {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px 20px 40px;
    background-color: #faf6ee;
    border-radius: 24px;

    @include tablet {
      gap: 40px;
      padding: 40px;
    }

    @include laptop {
      flex-direction: row;
      gap: 20px;
    }
  }

  &__main {
    width: 100%;

    @include laptop {
      flex: 1 0 559px;
    }
  }

  &__title {
    @include article-title;
  }

  &__swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
    @include laptop {
      max-width: calc(100% - 559px - 20px);
    }
  }
}

.swiper {
  &__body {
    position: relative;
    border-radius: 24px;
    width: 100%;
    height: 191px;

    @include tablet {
      height: 490px;
    }

    @include laptop {
      height: 100%;
    }
  }

  &__slide {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    @include laptop {
      max-height: 640px;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__button-prev,
  &__button-next {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(50deg);
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__button-prev {
    left: 20px;
  }

  &__button-next {
    right: 20px;
  }

  &__counter {
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    display: flex;
    gap: 8px;
    padding: 3px 12px;
    background-color: $wc;
    border-radius: 12px;
    @include block-subtitle;
    line-height: 140%;

    @include tablet {
      display: none;
    }

    span:first-child {
      color: $text-color;
    }

    span:not(:first-child) {
      color: $grey-color;
    }
  }
}

.conditions {
  z-index: 1;
  &__body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    height: 100%;
    min-height: 580px;
    padding: 20px;
    background-color: #faf6ee;
    border-radius: 24px;

    @include tablet {
      padding: 40px;
    }

    @include laptop {
      grid-template-columns:
        1fr
        minmax(200px, 580px)
        minmax(200px, 580px);
    }
  }

  &__main {
    margin-bottom: 0;
    @include tablet {
      margin-bottom: 20px;
    }
    @include laptop {
      grid-row: span 2;
      min-width: 300px;
      max-width: 380px;
      margin-bottom: 0;
    }
  }

  &__title {
    @include article-title;
  }
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 20px;
  background-color: $bg-color;
  border-radius: 24px;

  @include tablet {
    gap: 40px;
    padding: 40px;
  }
  @include laptop {
    border-radius: 16px;
  }

  &__title {
    @include block-title;
    font-size: 24px;

    &.registration {
      span {
        @media screen and (min-width: 1200px) {
          display: none;
        }
      }
    }

    @include tablet {
      font-size: 36px;
    }
  }

  &__subtitle {
    @include block-subtitle;
    line-height: 140%;
    @include tablet {
      line-height: 120%;
    }
    @include laptop {
      margin-top: 12px;
    }
    color: $text-color;
  }
}

.requirements {
  z-index: 2;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  overflow: hidden;
  @include tablet {
    margin-top: 60px;
  }

  @include laptop {
    margin-top: 100px;
  }

  &__background-sky {
    z-index: -1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      max-height: 2000px;
      object-fit: cover;
    }
  }

  &__background-building {
    z-index: -1;
    position: absolute;
    bottom: 0;
    width: 250%;

    @include tablet {
      width: 200%;
    }

    @include laptop {
      width: 100%;
    }

    img {
      width: 200%;
      height: 100%;
      max-height: 2000px;
      object-fit: cover;
    }
  }

  &__title {
    @include section-title;
    margin-top: 60px;
    text-align: center;

    @include tablet {
      margin-top: 200px;
    }
  }
  .sp-plan {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 164px;
    padding: 110px 0 200px;

    @include tablet {
      margin-top: 334px;
      padding: 73px 0 317px;
    }

    @include laptop {
      margin-top: vw(280);
      padding: 89px 0 vw(379);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0;
      background: linear-gradient(
        180deg,
        rgba(32, 27, 23, 0),
        rgba(31.875, 27.007211685180664, 22.680288314819336, 1) 100%
      );
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      width: 100%;
      height: 250px;
      background: linear-gradient(
        180deg,
        rgba(6.600000381469727, 6, 15, 0),
        rgba(7, 6, 15, 1) 100%
      );
    }

    &__logo {
      width: 100%;
      height: 100%;
      max-width: 465px;
      max-height: 82px;

      @include laptop {
        max-width: 747px;
        max-height: 131px;
      }
    }

    &__subtitle {
      margin-top: 4px;
      @include block-title;
      color: $text-color-2;
      text-align: center;

      @include tablet {
        margin-top: 12px;
      }

      @include tablet-large {
        margin-top: 22px;
      }
    }

    &__button.general-btn {
      margin: 20px auto 0;

      span {
        color: $accent-color;
      }

      @include tablet {
        margin: 40px auto 0;
      }

      &::before {
        background: $accent-color-2;
      }
    }
  }
}

.require-documents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  margin-top: 40px;
  padding: 0;

  @include tablet {
    margin-top: 60px;
  }

  @include laptop {
    flex-direction: row;
    margin-top: 100px;
  }

  &__item {
    position: relative;
    width: 100%;
    max-width: inherit;
    padding: 20px 20px 40px;
    background-color: $wc;
    border-radius: 24px;

    @include tablet {
      padding: 40px 40px 60px;
    }

    @include tablet-large {
      max-width: 600px;
    }
  }

  &__title {
    @include block-title;
  }

  &__decoration-el {
    z-index: 1;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 48px;
    height: 48px;

    @include tablet {
      top: 20px;
      right: 20px;
      width: 68px;
      height: 68px;
    }

    svg {
      width: 100%;
      height: 100%;
      fill: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;

    @include tablet {
      gap: 16px;
      margin-top: 40px;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
  }

  &__dot {
    flex-shrink: 0;
    align-self: flex-start;
    width: 2px;
    height: 2px;
    margin-top: calc((0.5em + 2px));
    background-color: $bc;
    border-radius: 50%;

    @include tablet {
      width: 4px;
      height: 4px;
      margin-top: calc((0.5em + 4px));
    }
  }

  &__text {
    @include general-text;
  }

  &__type {
    align-self: start;
    margin-left: auto;
    padding: 5px 8px;
    background-color: $olive-color;
    border-radius: 100px;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.06em;
    font-weight: 500;
    color: $text-color-2;

    @include tablet {
      margin-left: 0;
      padding: 4px 8px;
      font-size: 14px;
    }
  }
}
