mixin form(attr)
	.form-wrapper(data-form-wrapper)
		form(data-form=attr autocomplete="off" contact-form-js).form
			.inputs-wrapper
				.form-field.form-field-input(data-field-input data-field-name data-status="field--inactive").first-offset
					//- .input-title Ім’я
					input(type='text' name="name" placeholder="Ваше ім'я" ).form-field__input
					.input-message(data-input-message)
				.form-field.form-field-input(data-field-input data-field-phone data-status="field--inactive")
					//- .input-title Телефон
					input(type='text' name="phone" ).form-field__input
					.input-message(data-input-message)
			.form__button-wrapper
				button( type="submit" data-btn-submit).general-btn
					span.submit-btn__text(data-btn-submit-text) Надіслати повідомлення