.overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(100, 104, 110, 0.8);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  pointer-events: all;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

  }
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 32px);
  // background: $bg-color;
  border-radius: 24px;
  border: 1px solid rgba(236, 233, 226, 0.20);
  background-color: rgba(100, 104, 110, 0.60);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: transform 0.3s ease-in-out 0.3s, opacity 0.3s ease 0.3s;
  opacity: 1;
  padding: 40px 20px;

  @include tablet {
    padding: 60px 40px;
    width: 560px;

  }

  @include laptop {
    padding: vw(60) vw(40);
    width: 600px;
  }

  .hidden & {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;




  }




}

.tablet.landscape .modal-form {
  max-width: 60%;
}

.call-us__container {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $bg-color;
  transform: translate(-50%, -50%);
  padding: 32px 16px;
  transition: transform 0.3s ease-in-out 0.3s, opacity 0.3s ease 0.3s;
  opacity: 1;

  .hidden & {
    transform: translate(-50%, -20%);
    opacity: 0;
  }

  @include tablet {
    padding: 72px 24px;
  }

  @include laptop {
    padding: 100px 100px;
  }

  @include desktop {
    padding: 100px 120px;
  }
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  transform: translate(20%, -20%) rotate(50deg);
  cursor: pointer;

  @include tablet {
    transform: translate(50%, -50%) rotate(50deg);
  }

  svg {
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    svg {
      transform: rotate(130deg)
    }
  }
}

.form-wrapper {
  width: 100%;
}

.form-title {
  @include article-title;
  margin-bottom: 4px;
  color: $wc;
  line-height: 100%;
  text-align: center;
}

.form-descr {
  @include general-text;
  margin-bottom: 40px;
  color: $accent-color-2;
  line-height: 120%;
  text-align: center;

  @include tablet {
    font-size: 24px;
    margin-bottom: 60px;
  }

  @include laptop {
    margin-bottom: vw(60);
    font-size: clamp(18px, calc(18px + (24 - 18) * ((100vw - 1024px) / (1920 - 1024))), 24px);
  }

}

.tablet.landscape {
  font-size: 3.18vw;
}

.form {
  width: 100%;


}

.inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @include tablet {
    gap: 28px;
  }



}

.input-title {
  @include text-20;

  color: $dark-color;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  padding: 19px 0;
  padding-right: 23px;
  background-color: $wc;
  transform: translateY(-50%);
  transition: all 0.4s ease-in-out;
  pointer-events: none;
}


.form-field {
  position: relative;
  width: 100%;

  // &[data-field-name],
  // &[data-field-phone] {
  //   position: relative;

  //   &::after {
  //     content: "*";
  //     color: $dark-color;
  //     position: absolute;
  //     z-index: 2;
  //     top: 27px;
  //     right: 7px;
  //   }
  // }

  &.is-focused {
    .input-title {
      transform: translateY(-200%);
      padding: 0;
    }
  }
}

.input-message {
  position: absolute;
  bottom: -24px;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  z-index: 2;
  color: rgb(255, 131, 131);
}

.form-field__input {
  @include text-18;
  font-size: 18px;
  width: 100%;
  padding: 12px;
  line-height: 1em;
  color: $accent-color;
  background-color: $wc;
  border-radius: 100px;
  // border-bottom: 1px solid rgba(236, 233, 226, 0.40);
  text-align: center;

  @include tablet {
    padding: 22px;
    font-size: 18px;
  }



  &[name="phone"] {

    padding-left: 0 !important;
  }

  &::placeholder {
    @include text-18;
    opacity: 1;
    color: $accent-color;

  }

}

.text-input {
  resize: none;

}

.form-field-textarea {
  width: 100%;

  textarea {
    height: 120px;

    @include tablet {
      height: 202px;
    }

    @include laptop {
      height: 180px;
    }
  }
}


.form__button-wrapper {
  margin-top: 20px;

  @include tablet {
    margin-top: 28px;
  }

  .general-btn {
    width: 100%;
  }

}





.iti__flag {
  background-image: url('../images/libs/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .iti__flag {
    background-image: url('../images/libs/flags@2x.png');
  }
}

.input-message {
  @include general-text;

}

.iti__flag-container {
  left: 22px !important;
}





.iti__country-list {
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: rgba(100, 104, 110, 0.7);
  backdrop-filter: blur(75px);
  -webkit-backdrop-filter: blur(75px);
  border-radius: 12px;
  border-color: transparent;
  z-index: 10;
  color: $accent-color;

  .iti__dial-code {
    color: $wc;
  }
}

.iti__arrow {
  border-top: 3px solid #64686E;
}


.iti__mobile {
  .iti__country-list {
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
  }
}