ul.breadcrumbs
  li.breadcrumbs-item
    a(href="/").breadcrumbs-item__link Головна
    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
      <circle cx="3" cy="3" r="3" fill="#B3BECD"/>
    </svg>
  if breadcrumbsSubitem
    each v in breadcrumbsSubitem
      li.breadcrumbs-item
        a(href="#").breadcrumbs-item__link= v.label
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
          <circle cx="3" cy="3" r="3" fill="#B3BECD"/>
        </svg>
  li.breadcrumbs-item__current--color.breadcrumbs-item= title_page
