header(class="header ")
  .header-bg.container
    .header-left-toolkit
      a(href="/").general-btn.laptop-header-mode.header-btn
        span Обрати квартиру
      .socials-list 
        a(href="https://www.facebook.com/InzhurBUD/" target="_blank").social-link 
          <svg class="social-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M15.8092 3.985H18V0.169C17.622 0.117 16.3221 0 14.8083 0C11.6495 0 9.48571 1.987 9.48571 5.639V9H6V13.266H9.48571V24H13.7594V13.267H17.1041L17.635 9.001H13.7584V6.062C13.7594 4.829 14.0913 3.985 15.8092 3.985Z" fill="#ECE9E2"/>
          </svg>
          <svg class="social-hover-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M15.8092 3.985H18V0.169C17.622 0.117 16.3221 0 14.8083 0C11.6495 0 9.48571 1.987 9.48571 5.639V9H6V13.266H9.48571V24H13.7594V13.267H17.1041L17.635 9.001H13.7584V6.062C13.7594 4.829 14.0913 3.985 15.8092 3.985Z" fill="#ECE9E2"/>
          </svg>
        a(href="https://www.instagram.com/inzhur_bud/" target="_blank").social-link
          <svg  class="social-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12.0039 1.00049C14.8702 1.00049 15.2383 1.01281 16.3779 1.06689C17.5417 1.1183 18.3564 1.3081 19.0771 1.58643C19.8359 1.87225 20.5272 2.32261 21.0986 2.90088L20.7832 3.2251L21.1055 2.90771L21.3164 3.12451C21.7984 3.65088 22.1718 4.26282 22.4258 4.93408C22.7047 5.65197 22.895 6.47155 22.9463 7.63525C22.9962 8.77119 23 9.13921 23 12.0024C23 14.869 22.9874 15.2357 22.9375 16.3706C22.8861 17.5359 22.6957 18.3514 22.417 19.0728C21.8228 20.6088 20.6078 21.8234 19.0713 22.4175C18.353 22.6967 17.5329 22.8866 16.3682 22.938C15.2333 22.988 14.8667 23.0005 12 23.0005C9.13326 23.0005 8.76668 22.988 7.63184 22.938C6.46705 22.8867 5.65185 22.697 4.93066 22.4185C4.17094 22.1322 3.47915 21.6814 2.90723 21.1021L3.22461 20.7808L2.90234 21.0972C2.32356 20.5259 1.87246 19.8392 1.58203 19.0718C1.30308 18.3539 1.11385 17.5343 1.0625 16.3706C1.01264 15.2357 1 14.869 1 12.0024C1 9.13714 1.01233 8.76947 1.06641 7.63037C1.11781 6.46632 1.30744 5.65109 1.58594 4.93018C1.83674 4.2651 2.21342 3.65169 2.69238 3.12549L2.90137 2.90869L3.22461 3.2251L2.90723 2.90283C3.48004 2.31843 4.1683 1.87232 4.93457 1.58252C5.65232 1.30386 6.47183 1.1143 7.63574 1.06299C8.7708 1.01314 9.13706 1.00049 12.0039 1.00049ZM12 6.78857C9.12343 6.78857 6.7891 9.12182 6.78906 11.9985C6.78906 14.8753 9.12341 17.2095 12 17.2095C14.8766 17.2092 17.21 14.8751 17.21 11.9985C17.2099 9.12196 14.8765 6.7888 12 6.78857ZM18.3672 3.31689C17.0885 3.31703 16.0518 4.35325 16.0518 5.63232C16.0518 6.91107 17.0885 7.94762 18.3672 7.94775C19.6461 7.94775 20.6835 6.9112 20.6836 5.63232C20.6836 4.35312 19.6461 3.31689 18.3672 3.31689Z" fill="#ECE9E2"/>
          </svg>
          <svg class="social-hover-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12.0039 1.00049C14.8702 1.00049 15.2383 1.01281 16.3779 1.06689C17.5417 1.1183 18.3564 1.3081 19.0771 1.58643C19.8359 1.87225 20.5272 2.32261 21.0986 2.90088L20.7832 3.2251L21.1055 2.90771L21.3164 3.12451C21.7984 3.65088 22.1718 4.26282 22.4258 4.93408C22.7047 5.65197 22.895 6.47155 22.9463 7.63525C22.9962 8.77119 23 9.13921 23 12.0024C23 14.869 22.9874 15.2357 22.9375 16.3706C22.8861 17.5359 22.6957 18.3514 22.417 19.0728C21.8228 20.6088 20.6078 21.8234 19.0713 22.4175C18.353 22.6967 17.5329 22.8866 16.3682 22.938C15.2333 22.988 14.8667 23.0005 12 23.0005C9.13326 23.0005 8.76668 22.988 7.63184 22.938C6.46705 22.8867 5.65185 22.697 4.93066 22.4185C4.17094 22.1322 3.47915 21.6814 2.90723 21.1021L3.22461 20.7808L2.90234 21.0972C2.32356 20.5259 1.87246 19.8392 1.58203 19.0718C1.30308 18.3539 1.11385 17.5343 1.0625 16.3706C1.01264 15.2357 1 14.869 1 12.0024C1 9.13714 1.01233 8.76947 1.06641 7.63037C1.11781 6.46632 1.30744 5.65109 1.58594 4.93018C1.83674 4.2651 2.21342 3.65169 2.69238 3.12549L2.90137 2.90869L3.22461 3.2251L2.90723 2.90283C3.48004 2.31843 4.1683 1.87232 4.93457 1.58252C5.65232 1.30386 6.47183 1.1143 7.63574 1.06299C8.7708 1.01314 9.13706 1.00049 12.0039 1.00049ZM12 6.78857C9.12343 6.78857 6.7891 9.12182 6.78906 11.9985C6.78906 14.8753 9.12341 17.2095 12 17.2095C14.8766 17.2092 17.21 14.8751 17.21 11.9985C17.2099 9.12196 14.8765 6.7888 12 6.78857ZM18.3672 3.31689C17.0885 3.31703 16.0518 4.35325 16.0518 5.63232C16.0518 6.91107 17.0885 7.94762 18.3672 7.94775C19.6461 7.94775 20.6835 6.9112 20.6836 5.63232C20.6836 4.35312 19.6461 3.31689 18.3672 3.31689Z" fill="#ECE9E2"/>
          </svg>
        a(href="https://wa.me/380777077040" target="_blank").social-link
          <svg class="social-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M9.4174 14.8632L9.0204 19.8888C9.58841 19.8888 9.83441 19.6692 10.1294 19.4055L12.7925 17.115L18.3106 20.7519C19.3226 21.2595 20.0357 20.9922 20.3087 19.914L23.9308 4.63926L23.9318 4.63836C24.2528 3.29196 23.3907 2.76547 22.4047 3.09576L1.1142 10.4316C-0.33883 10.9392 -0.31683 11.6682 0.867199 11.9985L6.31033 13.5222L18.9536 6.40235C19.5486 6.04775 20.0897 6.24395 19.6446 6.59855L9.4174 14.8632Z" fill="#ECE9E2"/>
          </svg>
          <svg class="social-hover-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M9.4174 14.8632L9.0204 19.8888C9.58841 19.8888 9.83441 19.6692 10.1294 19.4055L12.7925 17.115L18.3106 20.7519C19.3226 21.2595 20.0357 20.9922 20.3087 19.914L23.9308 4.63926L23.9318 4.63836C24.2528 3.29196 23.3907 2.76547 22.4047 3.09576L1.1142 10.4316C-0.33883 10.9392 -0.31683 11.6682 0.867199 11.9985L6.31033 13.5222L18.9536 6.40235C19.5486 6.04775 20.0897 6.24395 19.6446 6.59855L9.4174 14.8632Z" fill="#ECE9E2"/>
          </svg>
    a(href="/").logo-wrap 
      <svg xmlns="http://www.w3.org/2000/svg" width="207" height="63" viewBox="0 0 207 63" fill="none">
        <g clip-path="url(#clip0_2199_930)">
        <path d="M19.6785 0.194305C27.3435 0.194305 33.7726 4.89598 36.0387 12.0711H30.5576C28.5794 7.82314 24.8708 4.93627 19.6785 4.93627C12.5492 4.93627 7.10926 10.6277 7.10926 18.0096C7.10926 25.3913 12.5492 31.0828 19.6785 31.0828C24.8708 31.0828 28.5794 28.2169 30.5576 23.9479H36.0387C33.7726 31.1239 27.3435 35.8247 19.6785 35.8247C9.62313 35.8256 1.91699 28.0522 1.91699 18.0096C1.91699 7.96678 9.62313 0.194305 19.6785 0.194305Z" fill="#ECE9E2"/>
        <path d="M66.3017 25.5359C66.3017 31.0828 62.2841 35.3307 55.1338 35.3307H39.5981V0.689186H55.0725C61.9541 0.689186 65.808 4.79264 65.808 10.0917C65.808 13.2676 64.4688 15.9889 61.3983 17.6592C64.7157 19.3917 66.3026 22.1542 66.3026 25.5359H66.3017ZM54.8248 15.8243C58.7811 15.8243 60.8005 13.8448 60.8005 10.3395C60.8005 6.83429 58.7811 5.24634 54.8248 5.24634H44.5426V15.8453H54.8248V15.8243ZM61.1095 25.33C61.1095 21.9072 58.9868 20.1335 54.866 20.1335H44.5226V30.7736H54.866C58.9667 30.7736 61.1095 28.8352 61.1095 25.33Z" fill="#ECE9E2"/>
        <path d="M74.6017 0.689186V35.3307H69.6562V0.689186H74.6017Z" fill="#ECE9E2"/>
        <path  d="M191.71 35.3307L183.366 12.0711L171.682 35.8256L160.557 12.2568L151.655 35.3307H146.463L157.939 6.73095L155.075 0.689186H160.618L171.745 25.4746L181.284 6.27724L179.307 0.689186H184.643L197.068 35.3307H191.71Z" fill="#ECE9E2"/>
        <path  d="M205.599 0.689186V35.3307H200.654V0.689186H205.599Z" fill="#ECE9E2"/>
        <path d="M114.235 30.4346H110.299V0.689186H88.9318V3.65838C88.9318 15.664 86.2647 25.2424 81.5512 30.4346H78.2373V35.3307H114.234V30.4346H114.235ZM93.7537 5.51874H105.333V30.4338H87.3702C91.3125 24.4604 93.5078 15.9372 93.7537 5.51874Z" fill="#ECE9E2"/>
        <path class="rotate-hover" d="M127.342 35.6285C123.81 35.6285 120.574 34.4759 118.213 32.1102C112.378 26.2655 114.006 15.1139 121.824 7.2617C125.516 3.56465 130.042 1.09907 134.566 0.344074C139.408 -0.471361 143.696 0.702305 146.633 3.64435C152.468 9.48904 150.84 20.6406 143.022 28.4928C138.358 33.1646 132.522 35.6294 127.342 35.6294V35.6285ZM137.504 5.05451C136.83 5.05451 136.135 5.11407 135.421 5.23318C131.908 5.82966 128.316 7.79773 125.359 10.7792C119.563 16.5836 117.896 24.7537 121.746 28.611C125.597 32.4675 133.734 30.798 139.549 24.9928C145.344 19.1884 147.012 11.0183 143.161 7.16185C141.792 5.79023 139.827 5.05451 137.525 5.05451H137.504Z" fill="#ECE9E2"/>
        <path d="M123.148 47.5894C125.983 47.5894 127.801 49.8071 127.801 53.2247C127.801 56.6059 125.91 58.86 123.148 58.86C121.656 58.86 120.42 58.2418 119.62 57.1875L119.476 58.6782H116.857V44.1356H119.766V49.1164C120.602 48.1348 121.766 47.5894 123.148 47.5894ZM122.238 56.4605C123.874 56.4605 124.856 55.2243 124.856 53.2247C124.856 51.225 123.874 49.9889 122.238 49.9889C120.602 49.9889 119.656 51.225 119.656 53.2247C119.656 55.2243 120.602 56.4605 122.238 56.4605Z" fill="#9F9E8A"/>
        <path d="M136.554 47.7712H139.608L135.826 58.6782C134.954 61.1504 133.536 62.4956 131.536 62.4956C128.846 62.4956 127.937 60.7141 127.828 59.0417L130.555 58.5691C130.592 59.4417 130.882 59.987 131.61 59.987C132.046 59.987 132.372 59.7325 132.7 59.2235L127.574 47.7712H130.773L134.082 55.9877L136.554 47.7712Z" fill="#9F9E8A"/>
        <path d="M145.734 58.6782V44.8628H148.86V58.6782H145.734Z" fill="#9F9E8A"/>
        <path d="M157.686 47.5894C160.013 47.5894 161.612 49.2619 161.612 51.7704V58.6782H158.704V52.4249C158.704 50.8615 157.977 49.9889 156.741 49.9889C155.359 49.9889 154.233 51.007 154.233 52.4612V58.6782H151.323V47.7712H153.941L154.051 49.2982C154.887 48.2438 156.195 47.5894 157.686 47.5894Z" fill="#9F9E8A"/>
        <path d="M166.439 56.2423H172.182V58.6782H162.694V56.4967L168.402 50.1707H163.021V47.7712H172.11V49.9526L166.439 56.2423Z" fill="#9F9E8A"/>
        <path d="M179.918 47.5894C182.244 47.5894 183.844 49.2619 183.844 51.7704V58.6782H180.936V52.4249C180.936 50.8615 180.172 49.9889 178.972 49.9889C177.59 49.9889 176.464 51.007 176.464 52.4612V58.6782H173.555V44.1356H176.464V49.0801C177.264 48.1712 178.5 47.5894 179.918 47.5894Z" fill="#9F9E8A"/>
        <path d="M192.96 47.7712H195.87V58.6782H193.252L193.142 57.1512C192.306 58.2056 190.998 58.8599 189.507 58.8599C187.18 58.8599 185.581 57.1875 185.581 54.679V47.7712H188.489V54.0245C188.489 55.5879 189.216 56.4605 190.452 56.4605C191.834 56.4605 192.96 55.4424 192.96 53.9882V47.7712Z" fill="#9F9E8A"/>
        <path d="M204.33 47.6258C204.658 47.6258 204.986 47.6622 205.312 47.7349L205.276 50.4253C204.658 50.3525 204.04 50.3162 203.53 50.3162C201.932 50.3162 200.876 51.0797 200.876 52.7521V58.6782H197.968V47.7712H200.586L200.732 49.4073C201.458 48.3166 202.768 47.6258 204.33 47.6258Z" fill="#9F9E8A"/>
        </g>
        <defs>
        <clipPath id="clip0_2199_930">
        <rect width="207" height="63" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    .header-tools__wrapper 
      a.header-link.laptop-header-mode(href="tel: +380777077040") 
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
          <path d="M4.54846 0.453209C3.23312 -1.48589 -0.124668 3.27861 0.00354004 5.66903C0.193888 9.12652 2.29848 12.8615 5.21838 15.7813C8.13826 18.7011 11.8732 20.8058 15.3307 20.9962C17.717 21.1285 22.4856 17.7707 20.5465 16.4513C20.5465 16.4513 20.5341 16.4427 20.5299 16.4386L16.1041 13.6925C16.0458 13.655 15.548 13.3953 15.4762 13.3819C14.343 13.1669 13.2545 14.2917 12.0055 15.1436C11.8483 15.2512 11.5879 15.3423 11.4225 15.2472C10.095 14.4862 9.28005 13.8 8.23792 12.7579C7.19568 11.7157 6.50867 10.905 5.74768 9.57333C5.65264 9.40803 5.7479 9.14752 5.8512 8.99032C6.7032 7.73716 7.82798 6.65284 7.61292 5.51962C7.59972 5.45226 7.33744 4.95155 7.30334 4.89169L4.56116 0.46981C4.56052 0.468862 4.55243 0.457174 4.54846 0.453209Z" fill="#ECE9E2"/>
        </svg>
        span  +38 (077) 707 70 40
      button.ellipse-btn.flats-mob-btn(data-mob-call-btn)
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M6.04883 1.95283C4.73349 0.013733 1.3757 4.77823 1.50391 7.16865C1.69425 10.6261 3.79885 14.3611 6.71875 17.281C9.63863 20.2007 13.3735 22.3055 16.8311 22.4958C19.2174 22.6281 23.986 19.2703 22.0469 17.9509C22.0469 17.9509 22.0345 17.9423 22.0303 17.9382L17.6045 15.1921C17.5461 15.1547 17.0484 14.8949 16.9766 14.8815C15.8433 14.6665 14.7549 15.7913 13.5059 16.6433C13.3487 16.7508 13.0883 16.8419 12.9229 16.7468C11.5954 15.9858 10.7804 15.2996 9.73828 14.2575C8.69605 13.2153 8.00904 12.4046 7.24805 11.0729C7.153 10.9077 7.24827 10.6471 7.35156 10.4899C8.20357 9.23678 9.32835 8.15245 9.11328 7.01923C9.10008 6.95187 8.8378 6.45117 8.80371 6.3913L6.06152 1.96943C6.06089 1.96848 6.05279 1.95679 6.04883 1.95283Z" fill="#393028"/>
        </svg>
        
        
      button.general-btn.laptop-header-mode(type="button" data-call-us-btn aria-label="Request a call back")
        span Зворотній дзвінок
      a.ellipse-btn.flats-mob-btn(href="/flat")    
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M2.1084 0.501945C1.2225 0.498657 0.50206 1.21664 0.501953 2.10253V15.874C0.502052 16.7575 1.21815 17.4734 2.10156 17.4736H4.50195V21.9023C4.50206 22.7846 5.21637 23.5001 6.09863 23.5019L19.8975 23.5273C20.7821 23.5288 21.5 22.8124 21.5 21.9277V13.5H21.9092C22.793 13.4997 23.5094 12.7823 23.5088 11.8984L23.502 2.10058C23.501 1.27171 22.8699 0.590243 22.0625 0.509758L21.8984 0.501945L9.00195 0.528313L2.1084 0.501945ZM20.5078 10.5H16.5C15.6717 10.5001 15.0001 11.1717 15 12C15.0001 12.8283 15.6717 13.4999 16.5 13.5H18.5V20.5244L7.50195 20.5039V17.4863L8.9873 17.5L10.5 17.5127V13.5H11C11.8282 13.4998 12.4999 12.8282 12.5 12C12.4999 11.1717 11.8282 10.5001 11 10.5H10.5V9.99999C10.4999 9.17174 9.82824 8.50014 9 8.49999C8.17175 8.50012 7.5001 9.17173 7.5 9.99999V14.4863L6.01465 14.4736H3.50195V3.50683L7.5 3.52245V4.49999C7.5001 5.32825 8.17175 5.99986 9 5.99999C9.82824 5.99985 10.4999 5.32825 10.5 4.49999V3.52441L20.5029 3.5039L20.5078 10.5Z" fill="#393028"/>
        </svg>
      button.ellipse-btn(data-menu-button)
        .menu-burger
          span.over 
          span.under  
      
  .overflow(data-call-us__overflow data-lenis-prevent).hidden
    .modal-form(data-call-us-modal)
      .close-btn.ellipse-btn(data-call-us-modal-close) 
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M9.91992 11.9551L1.27441 3.30859L3.39551 1.1875L12.041 9.83398L20.6865 1.18848L22.8076 3.30957L14.1621 11.9551L22.8242 20.6162L20.7021 22.7373L12.041 14.0762L3.37988 22.7373L1.25879 20.6162L9.91992 11.9551Z" fill="#393028"/>
        </svg>
      h3.form-title  Замовити дзвінок
      p.form-descr Ми поруч, аби відповісти на всі ваші питання
      +form
  
  .menu-overlay.hidden(data-menu)
    .menu-container
      .cycle-section.container
        .cycle-section__house-wrapper
          picture.cycle-section__house
            source(media="(min-width: 1024px)" srcset="./assets/images/developer/desk-house.jpg")
            source(media="(min-width: 768px)" srcset="./assets/images/developer/tab-house.jpg")
            img(src="./assets/images/developer/mob-house.jpg" alt="")

          picture.cycle-section__mask
            source(media="(min-width: 1024px)" srcset="./assets/images/developer/desk-house-oval.svg")
            source(media="(min-width: 768px)" srcset="./assets/images/developer/tab-house-oval.svg")
            img(src="./assets/images/developer/mob-house-oval.svg" alt="")

        .menu-nav-list 
          a(href="/").nav-link.menu-main-link
            span.real Головна
            span.fake Головна
          a(href="/about.html").nav-link.menu-main-link
            span.real Про проєкт
            span.fake Про проєкт
          a(href="/3d").nav-link.menu-main-link
            span.real Обрати квартиру
            span.fake Обрати квартиру
          a(href="/payment").nav-link.menu-main-link
            span.real Умови Купівлі
            span.fake Умови Купівлі
          //- Розкоиментувати коли скаже замовник
          a(href="/commercial.html").nav-link.menu-main-link
            span.real КОМЕРЦІЯ
            span.fake КОМЕРЦІЯ
          a(href="/contacts.html").nav-link.menu-main-link
            span.real КОНТАКТИ
            span.fake КОНТАКТИ
        
        .menu-subnav-list 
          a(href="/developer.html").nav-link.menu-link
            span.real Хто будує
            span.fake Хто будує
          a(href="/location.html").nav-link.menu-link
            span.real Локація
            span.fake Локація
          a(href="/showroom").nav-link.menu-link
            span.real 3D шоурум
            span.fake 3D шоурум
          a(href="/company").nav-link.menu-link
            span.real Управляюча компанія
            span.fake Управляюча компанія
          a(href="/present.html").nav-link.menu-link
            span.real Презентації
            span.fake Презентації
          a(href="/documents.html").nav-link.menu-link
            span.real Документи
            span.fake Документи
          a(href="/progress.html").nav-link.menu-link
            span.real Новини та хід робіт
            span.fake Новини та хід робіт
    
      
  .overflow(data-mob-call__overflow).container.hidden
    a.general-btn(href="tel:+380777077040") 
      span Виклик +38 (077) 707 70 40
    button.general-btn(data-call-us-btn)
      span Замовити зворотній дзвінок
    button.general-btn(data-mob-call-close)
      span Cкасувати
      <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
        <path d="M4.91797 5.24512L0.944336 1.27148L1.65234 0.564453L5.625 4.53809L9.59766 0.565429L10.3047 1.27246L6.33203 5.24512L10.3115 9.22461L9.60449 9.93164L5.625 5.95215L1.64453 9.93262L0.9375 9.22559L4.91797 5.24512Z" fill="#F4F5F9"/>
      </svg>


      
    
      


