.loader-wrap
  .loader-svg-decor
    <svg preserveAspectRatio="none" class="" xmlns="http://www.w3.org/2000/svg" width="642" height="377" viewBox="0 0 642 377" fill="none">
    <path d="M586.468 -305.796C692.178 -267.999 660.577 -86.0801 515.885 100.531C371.193 287.143 168.202 407.781 62.4927 369.984C-43.2169 332.187 -11.6155 150.268 133.076 -36.3432C277.768 -222.955 480.759 -343.593 586.468 -305.796Z" fill="#B3BECD"/>
  </svg>
  .loader-left-part 
    <svg preserveAspectRatio="none"  width="3329" height="2162" viewBox="0 0 3329 2162" xmlns="http://www.w3.org/2000/svg">
      <path fill="#ECE9E2" d="M938 0.66H2790L948 2160.66H938V0.66Z M0 0H938V2160H0V0Z M3178.49 94.41 C3530.63 338.02 3234.62 977.05 2517.33 1521.73 C1800.03 2066.41 933.08 2310.47 580.94 2066.87 C228.79 1823.26 524.81 1184.23 1242.1 639.55 C1959.4 94.87 2826.35 -149.19 3178.49 94.41Z"/>
    </svg>

  .loader__percent
  .loader__line
    .loader__line-fill
  .loader-right-part 
    <svg preserveAspectRatio="none"  width="3328" height="2162" viewBox="0 0 3328 2162" xmlns="http://www.w3.org/2000/svg">
      <path fill="#ECE9E2" d="M2380 0.66H3328V2160.66H538L2380 0.66Z M2747.06 94.41 C3099.21 338.02 2803.19 977.05 2085.9 1521.73 C1368.6 2066.41 501.65 2310.47 149.51 2066.87 C-202.63 1823.26 93.38 1184.23 810.67 639.55 C1527.97 94.87 2394.92 -149.19 2747.06 94.41Z"/>
    </svg>



  .loader-logo 
    <svg xmlns="http://www.w3.org/2000/svg" width="205" height="62" viewBox="0 0 205 62" fill="none">
      <path d="M19.4884 0.191223C27.0793 0.191223 33.4463 4.81827 35.6905 11.8795H30.2623C28.3033 7.69896 24.6305 4.85791 19.4884 4.85791C12.428 4.85791 7.04054 10.459 7.04054 17.7237C7.04054 24.9883 12.428 30.5894 19.4884 30.5894C24.6305 30.5894 28.3033 27.769 30.2623 23.5677H35.6905C33.4463 30.6299 27.0793 35.2561 19.4884 35.2561C9.53012 35.2569 1.89844 27.607 1.89844 17.7237C1.89844 7.84033 9.53012 0.191223 19.4884 0.191223Z" fill="#393028"/>
      <path d="M65.6614 25.1306C65.6614 30.5894 61.6826 34.7699 54.6014 34.7699H39.2158V0.678253H54.5407C61.3558 0.678253 65.1725 4.71658 65.1725 9.93148C65.1725 13.057 63.8462 15.7351 60.8053 17.3789C64.0907 19.0839 65.6622 21.8025 65.6622 25.1306H65.6614ZM54.2954 15.5731C58.2134 15.5731 60.2133 13.6251 60.2133 10.1754C60.2133 6.72582 58.2134 5.16307 54.2954 5.16307H44.1125V15.5938H54.2954V15.5731ZM60.5193 24.9279C60.5193 21.5595 58.4171 19.8139 54.3361 19.8139H44.0927V30.2851H54.3361C58.3973 30.2851 60.5193 28.3776 60.5193 24.9279Z" fill="#393028"/>
      <path d="M73.881 0.678253V34.7699H68.9834V0.678253H73.881Z" fill="#393028"/>
      <path d="M189.858 34.7699L181.594 11.8795L170.023 35.2569L159.006 12.0622L150.19 34.7699H145.048L156.413 6.62411L153.577 0.678253H159.066L170.086 25.0702L179.533 6.17761L177.575 0.678253H182.859L195.164 34.7699H189.858Z" fill="#393028"/>
      <path d="M203.612 0.678253V34.7699H198.715V0.678253H203.612Z" fill="#393028"/>
      <path d="M113.131 29.9515H109.233V0.678253H88.0726V3.60032C88.0726 15.4153 85.4313 24.8418 80.7633 29.9515H77.4814V34.7699H113.13V29.9515H113.131ZM92.848 5.43115H104.316V29.9507H86.5261C90.4303 24.0721 92.6044 15.6842 92.848 5.43115Z" fill="#393028"/>
      <path d="M126.112 35.063C122.614 35.063 119.41 33.9286 117.071 31.6005C111.293 25.8486 112.905 14.874 120.648 7.14643C124.304 3.50806 128.786 1.08162 133.266 0.338606C138.062 -0.463885 142.308 0.691151 145.217 3.5865C150.995 9.33842 149.383 20.313 141.641 28.0405C137.021 32.6382 131.242 35.0639 126.112 35.0639V35.063ZM136.176 4.97427C135.509 4.97427 134.82 5.03289 134.113 5.15011C130.634 5.73712 127.076 7.67395 124.148 10.6081C118.409 16.3204 116.758 24.3608 120.57 28.1569C124.384 31.9521 132.443 30.3092 138.202 24.5961C143.94 18.8839 145.592 10.8434 141.778 7.04817C140.422 5.69832 138.476 4.97427 136.197 4.97427H136.176Z" fill="#393028"/>
      <path d="M121.958 46.8341C124.766 46.8341 126.567 49.0166 126.567 52.3799C126.567 55.7074 124.694 57.9257 121.958 57.9257C120.481 57.9257 119.257 57.3174 118.465 56.2798L118.321 57.7468H115.729V43.4351H118.609V48.3368C119.437 47.3708 120.589 46.8341 121.958 46.8341ZM121.057 55.5643C122.677 55.5643 123.65 54.3478 123.65 52.3799C123.65 50.412 122.677 49.1955 121.057 49.1955C119.437 49.1955 118.5 50.412 118.5 52.3799C118.5 54.3478 119.437 55.5643 121.057 55.5643Z" fill="#9F9E8A"/>
      <path d="M135.235 47.0129H138.259L134.514 57.7468C133.65 60.1798 132.246 61.5036 130.266 61.5036C127.602 61.5036 126.701 59.7504 126.594 58.1046L129.293 57.6395C129.33 58.4982 129.618 59.0349 130.338 59.0349C130.77 59.0349 131.094 58.7844 131.418 58.2835L126.342 47.0129H129.509L132.787 55.0991L135.235 47.0129Z" fill="#9F9E8A"/>
      <path d="M144.326 57.7468V44.1506H147.422V57.7468H144.326Z" fill="#9F9E8A"/>
      <path d="M156.163 46.834C158.467 46.834 160.051 48.48 160.051 50.9487V57.7468H157.171V51.5928C157.171 50.0541 156.45 49.1954 155.226 49.1954C153.858 49.1954 152.742 50.1974 152.742 51.6285V57.7468H149.861V47.0129H152.454L152.562 48.5156C153.39 47.478 154.686 46.834 156.163 46.834Z" fill="#9F9E8A"/>
      <path d="M164.83 55.3496H170.519V57.7468H161.122V55.6L166.775 49.3743H161.445V47.0129H170.447V49.1597L164.83 55.3496Z" fill="#9F9E8A"/>
      <path d="M178.18 46.8341C180.483 46.8341 182.068 48.48 182.068 50.9487V57.7468H179.188V51.5928C179.188 50.0542 178.431 49.1955 177.243 49.1955C175.875 49.1955 174.759 50.1974 174.759 51.6285V57.7468H171.878V43.4351H174.759V48.3011C175.551 47.4066 176.775 46.8341 178.18 46.8341Z" fill="#9F9E8A"/>
      <path d="M191.096 47.0129H193.977V57.7468H191.384L191.276 56.2441C190.448 57.2817 189.152 57.9257 187.675 57.9257C185.371 57.9257 183.787 56.2798 183.787 53.8111V47.0129H186.667V53.1669C186.667 54.7056 187.388 55.5643 188.612 55.5643C189.98 55.5643 191.096 54.5623 191.096 53.1313V47.0129Z" fill="#9F9E8A"/>
      <path d="M202.356 46.8699C202.681 46.8699 203.005 46.9057 203.328 46.9772L203.293 49.6249C202.681 49.5533 202.069 49.5176 201.564 49.5176C199.981 49.5176 198.936 50.2689 198.936 51.9148V57.7468H196.056V47.013H198.648L198.792 48.6231C199.512 47.5497 200.809 46.8699 202.356 46.8699Z" fill="#9F9E8A"/>
    </svg>