.thank-you-popup.overlay
  .modal-form(data-call-us-modal)
    .th-decor
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" width="202" height="150" viewBox="0 0 202 150" fill="none">
        <path d="M128.169 35.3837C303.369 126.682 156.095 366.176 -200.774 570.31C-557.643 774.443 -988.97 865.914 -1164.17 774.616C-1339.37 683.318 -1192.1 443.824 -835.226 239.69C-478.357 35.5566 -47.0298 -55.9145 128.169 35.3837Z" fill="#9F9E8A"/>
      </svg>
    .close-btn.ellipse-btn.call-us__btn
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M9.91992 11.9551L1.27441 3.30859L3.39551 1.1875L12.041 9.83398L20.6865 1.18848L22.8076 3.30957L14.1621 11.9551L22.8242 20.6162L20.7021 22.7373L12.041 14.0762L3.37988 22.7373L1.25879 20.6162L9.91992 11.9551Z" fill="#393028"/>
      </svg>
    
    h3.form-title Дякуємо за звернення!
    p.form-descr Ми зв’яжемось з вами через декілька хвилин!
    .th-you-img-wrap 
      <svg class="th-check"xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
        <rect width="48" height="48" rx="24" fill="#ECE9E2"/>
        <path d="M22.0175 29.6471L15.5293 23.3363L17.4399 21.4892L22.0175 25.9527L30.5599 17.6471L32.4705 19.4942L22.0175 29.6471Z" fill="#393028"/>
      </svg>

      <svg class="th-logo" xmlns="http://www.w3.org/2000/svg" width="207" height="63" viewBox="0 0 207 63" fill="none">
        <g clip-path="url(#clip0_2199_930)">
        <path d="M19.6785 0.194305C27.3435 0.194305 33.7726 4.89598 36.0387 12.0711H30.5576C28.5794 7.82314 24.8708 4.93627 19.6785 4.93627C12.5492 4.93627 7.10926 10.6277 7.10926 18.0096C7.10926 25.3913 12.5492 31.0828 19.6785 31.0828C24.8708 31.0828 28.5794 28.2169 30.5576 23.9479H36.0387C33.7726 31.1239 27.3435 35.8247 19.6785 35.8247C9.62313 35.8256 1.91699 28.0522 1.91699 18.0096C1.91699 7.96678 9.62313 0.194305 19.6785 0.194305Z" fill="#ECE9E2"/>
        <path d="M66.3017 25.5359C66.3017 31.0828 62.2841 35.3307 55.1338 35.3307H39.5981V0.689186H55.0725C61.9541 0.689186 65.808 4.79264 65.808 10.0917C65.808 13.2676 64.4688 15.9889 61.3983 17.6592C64.7157 19.3917 66.3026 22.1542 66.3026 25.5359H66.3017ZM54.8248 15.8243C58.7811 15.8243 60.8005 13.8448 60.8005 10.3395C60.8005 6.83429 58.7811 5.24634 54.8248 5.24634H44.5426V15.8453H54.8248V15.8243ZM61.1095 25.33C61.1095 21.9072 58.9868 20.1335 54.866 20.1335H44.5226V30.7736H54.866C58.9667 30.7736 61.1095 28.8352 61.1095 25.33Z" fill="#ECE9E2"/>
        <path d="M74.6017 0.689186V35.3307H69.6562V0.689186H74.6017Z" fill="#ECE9E2"/>
        <path  d="M191.71 35.3307L183.366 12.0711L171.682 35.8256L160.557 12.2568L151.655 35.3307H146.463L157.939 6.73095L155.075 0.689186H160.618L171.745 25.4746L181.284 6.27724L179.307 0.689186H184.643L197.068 35.3307H191.71Z" fill="#ECE9E2"/>
        <path  d="M205.599 0.689186V35.3307H200.654V0.689186H205.599Z" fill="#ECE9E2"/>
        <path d="M114.235 30.4346H110.299V0.689186H88.9318V3.65838C88.9318 15.664 86.2647 25.2424 81.5512 30.4346H78.2373V35.3307H114.234V30.4346H114.235ZM93.7537 5.51874H105.333V30.4338H87.3702C91.3125 24.4604 93.5078 15.9372 93.7537 5.51874Z" fill="#ECE9E2"/>
        <path class="rotate-hover" d="M127.342 35.6285C123.81 35.6285 120.574 34.4759 118.213 32.1102C112.378 26.2655 114.006 15.1139 121.824 7.2617C125.516 3.56465 130.042 1.09907 134.566 0.344074C139.408 -0.471361 143.696 0.702305 146.633 3.64435C152.468 9.48904 150.84 20.6406 143.022 28.4928C138.358 33.1646 132.522 35.6294 127.342 35.6294V35.6285ZM137.504 5.05451C136.83 5.05451 136.135 5.11407 135.421 5.23318C131.908 5.82966 128.316 7.79773 125.359 10.7792C119.563 16.5836 117.896 24.7537 121.746 28.611C125.597 32.4675 133.734 30.798 139.549 24.9928C145.344 19.1884 147.012 11.0183 143.161 7.16185C141.792 5.79023 139.827 5.05451 137.525 5.05451H137.504Z" fill="#ECE9E2"/>
        <path d="M123.148 47.5894C125.983 47.5894 127.801 49.8071 127.801 53.2247C127.801 56.6059 125.91 58.86 123.148 58.86C121.656 58.86 120.42 58.2418 119.62 57.1875L119.476 58.6782H116.857V44.1356H119.766V49.1164C120.602 48.1348 121.766 47.5894 123.148 47.5894ZM122.238 56.4605C123.874 56.4605 124.856 55.2243 124.856 53.2247C124.856 51.225 123.874 49.9889 122.238 49.9889C120.602 49.9889 119.656 51.225 119.656 53.2247C119.656 55.2243 120.602 56.4605 122.238 56.4605Z" fill="#9F9E8A"/>
        <path d="M136.554 47.7712H139.608L135.826 58.6782C134.954 61.1504 133.536 62.4956 131.536 62.4956C128.846 62.4956 127.937 60.7141 127.828 59.0417L130.555 58.5691C130.592 59.4417 130.882 59.987 131.61 59.987C132.046 59.987 132.372 59.7325 132.7 59.2235L127.574 47.7712H130.773L134.082 55.9877L136.554 47.7712Z" fill="#9F9E8A"/>
        <path d="M145.734 58.6782V44.8628H148.86V58.6782H145.734Z" fill="#9F9E8A"/>
        <path d="M157.686 47.5894C160.013 47.5894 161.612 49.2619 161.612 51.7704V58.6782H158.704V52.4249C158.704 50.8615 157.977 49.9889 156.741 49.9889C155.359 49.9889 154.233 51.007 154.233 52.4612V58.6782H151.323V47.7712H153.941L154.051 49.2982C154.887 48.2438 156.195 47.5894 157.686 47.5894Z" fill="#9F9E8A"/>
        <path d="M166.439 56.2423H172.182V58.6782H162.694V56.4967L168.402 50.1707H163.021V47.7712H172.11V49.9526L166.439 56.2423Z" fill="#9F9E8A"/>
        <path d="M179.918 47.5894C182.244 47.5894 183.844 49.2619 183.844 51.7704V58.6782H180.936V52.4249C180.936 50.8615 180.172 49.9889 178.972 49.9889C177.59 49.9889 176.464 51.007 176.464 52.4612V58.6782H173.555V44.1356H176.464V49.0801C177.264 48.1712 178.5 47.5894 179.918 47.5894Z" fill="#9F9E8A"/>
        <path d="M192.96 47.7712H195.87V58.6782H193.252L193.142 57.1512C192.306 58.2056 190.998 58.8599 189.507 58.8599C187.18 58.8599 185.581 57.1875 185.581 54.679V47.7712H188.489V54.0245C188.489 55.5879 189.216 56.4605 190.452 56.4605C191.834 56.4605 192.96 55.4424 192.96 53.9882V47.7712Z" fill="#9F9E8A"/>
        <path d="M204.33 47.6258C204.658 47.6258 204.986 47.6622 205.312 47.7349L205.276 50.4253C204.658 50.3525 204.04 50.3162 203.53 50.3162C201.932 50.3162 200.876 51.0797 200.876 52.7521V58.6782H197.968V47.7712H200.586L200.732 49.4073C201.458 48.3166 202.768 47.6258 204.33 47.6258Z" fill="#9F9E8A"/>
        </g>
        <defs>
        <clipPath id="clip0_2199_930">
        <rect width="207" height="63" fill="white"/>
        </clipPath>
        </defs>
      </svg>
      
    button.thank-you-popup__btn.call-us__btn.general-btn 
      span Закрити повідомлення
      

  //- .close-popup
