.hero-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  margin-top: 72px;
  min-height: calc(100svh - 72px);
  background-color: #faf6ee;
  gap: 0;
  overflow: hidden;

  @include tablet {
    min-height: calc(100svh - 108px);
    margin-top: 108px;
  }

  @include laptop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: calc(100svh - 108px);
    // min-height: 850px;
  }

  @include laptop-header {
    min-height: calc(100svh - 150px);
    margin-top: 150px;
  }
}

.left-side {
  display: flex;
  flex-direction: column;
  position: relative;
  order: 1;
  width: 100%;
  height: 100%;
  min-height: 479px;
  padding-bottom: 78px;

  @include tablet {
    padding-bottom: 108px;
  }

  @include laptop {
    order: 0;
    max-height: calc(100svh - 108px);
  }

  @include laptop-header {
    max-height: calc(100svh - 150px);
  }

  &__breadcrumbs {
    display: flex;

    .breadcrumbs {
      margin: 20px 0;
    }

    @include tablet {
      .breadcrumbs {
        margin: 40px 0 20px;
      }
    }

    @include laptop {
      .breadcrumbs {
        margin: 40px 0;
      }
    }
  }

  &__title {
    @include section-title;
    position: relative;
    z-index: 2;
    font-size: 48px;

    @include tablet {
      font-size: 80px;
    }

    @include laptop {
      font-size: vw(100);
    }

    max-width: 775px;

    &.small-title {
      font-size: 36px;

      @include tablet {
        font-size: 64px;
      }

      @include laptop {
        font-size: vw(72);
      }
    }
  }

  &__subtitle {
    position: relative;
    z-index: 2;
    margin-top: 20px;
    @include block-title;
    color: $olive-color;

    @include laptop {
      max-width: 600px;
      margin-top: vw(40);
    }

    &.with-padding {
      margin: 20px 0 0;

      @include tablet {
        margin: 40px 0 0 auto;
      }

      @include laptop {
        max-width: 445px;
        margin: 84px 0 0 35%;
      }
    }
  }

  &__text-block {
    @include general-text;
    position: relative;
    z-index: 2;
    max-width: 479px;
    margin: 20px 0 0;

    @include tablet {
      margin: 40px 0 0 auto;
    }

    @include laptop {
      max-width: 445px;
      margin: 40px 0 0 35%;
    }

    :first-child {
      font-weight: 700;
    }
  }

  .hero-page__text-icon-wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;

    @include tablet {
      margin-top: 40px;
    }

    @include laptop {
      flex-direction: column-reverse;
      gap: 40px;
    }

    .left-side__text-block {
      margin: 0;

      @include laptop {
        max-width: 445px;
        margin: vw(40) 0 0 35%;
      }
    }

    svg.icon--square-logo {
      width: 69px;
      height: 69px;
      flex-shrink: 0;

      @include tablet {
        width: 132px;
        height: 132px;
      }

      @include laptop {
        margin-left: 35%;
      }
    }
  }

  &__down-button {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    @include tablet {
      bottom: 40px;
      gap: 20px;
    }

    @include laptop {
      left: 40px;
    }

    .ellipse-svg-block {
      transform: rotate(-50deg);
    }

    svg {
      animation: runRightArrow 2s ease-out infinite;

      @keyframes runRightArrow {
        0% {
          transform: translateY(-60px);
        }
        40% {
          transform: translateY(0px);
        }
        60% {
          transform: translateY(0px);
        }
        100% {
          transform: translateY(60px);
        }
      }
    }

    .ellipse-btn {
      overflow: hidden;
      background-color: $olive-color;

      &::before {
        background-color: $accent-color;
      }
    }

    &:hover {
      .ellipse-btn {
        svg path {
          fill: $accent-color;
        }

        &::before {
          transform: translate3d(100%, 0, 0);
        }
      }
    }

    span {
      @include general-text;
      font-weight: 700;
    }
  }

  &__overlap {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scaleX(-1);
    width: 100%;
    max-width: 266px;
    height: auto;
    color: $bg-color;

    @include tablet {
      max-width: 374px;
    }

    @include laptop {
      left: 0;
      transform: none;
      max-width: 960px;
    }
  }
}

.right-side {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 120px;
  overflow: hidden;

  @include tablet {
    max-height: 280px;
  }

  @include laptop {
    height: 100%;
    max-height: calc(100vh - 108px);
  }

  @include laptop-header {
    max-height: calc(100vh - 150px);
  }

  &__bg {
    position: relative;
    left: 1px;
    bottom: 1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlap {
    z-index: 1;
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 100%;
    height: auto;
    max-width: 266px;
    color: #faf6ee;

    @include tablet {
      max-width: 374px;
    }

    @include laptop {
      max-width: 960px;
    }
  }
}
