
extends ../layout/main
block variable
  -
    var title_page = 'commercial'
    var id_page = 'id-page-commercial'
    var class_page = 'class-page-commercial'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/commercial.bundle.js')
block content
  section.hero-screen 
  h1.hero-title Commercial page

  section.features-section.container
    .section-content-wrapper
      h2.features-title Обирайте найкраще під свої потреби

      ul.features-list
        li.features-list__item
          .features-icon-title-wrapper
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M12 3H5C4.46957 3 3.96086 3.21071 3.58579 3.58579C3.21071 3.96086 3 4.46957 3 5V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V12M14 15H9M9 15V10M9 15L21 3M16 3H21M21 3V8" stroke="#9F9E8A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            h3.features-list__item-title Площі
          p.features-list__item-text 00 м² — 00 м²

        li.features-list__item
          .features-icon-title-wrapper
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M19 7V4C19 3.73478 18.8946 3.48043 18.7071 3.29289C18.5196 3.10536 18.2652 3 18 3H5C4.46957 3 3.96086 3.21071 3.58579 3.58579C3.21071 3.96086 3 4.46957 3 5M3 5C3 5.53043 3.21071 6.03914 3.58579 6.41421C3.96086 6.78929 4.46957 7 5 7H20C20.2652 7 20.5196 7.10536 20.7071 7.29289C20.8946 7.48043 21 7.73478 21 8V12M3 5V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H20C20.2652 21 20.5196 20.8946 20.7071 20.7071C20.8946 20.5196 21 20.2652 21 20V16M21 12H18C17.4696 12 16.9609 12.2107 16.5858 12.5858C16.2107 12.9609 16 13.4696 16 14C16 14.5304 16.2107 15.0391 16.5858 15.4142C16.9609 15.7893 17.4696 16 18 16H21M21 12C21.2652 12 21.5196 12.1054 21.7071 12.2929C21.8946 12.4804 22 12.7348 22 13V15C22 15.2652 21.8946 15.5196 21.7071 15.7071C21.5196 15.8946 21.2652 16 21 16" stroke="#9F9E8A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            h3.features-list__item-title Вартість м²
          p.features-list__item-text 00 000 грн — 00 000 грн

        li.features-list__item
          .features-icon-title-wrapper
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M7.5 1.99976C6.94774 1.99976 6.50003 2.4475 6.5 2.99976V3.49976H5C3.42695 3.49976 2.00022 4.68803 2 6.33276V19.1667L2.00391 19.3191C2.08898 20.8844 3.47593 21.9998 5 21.9998H19C20.5731 21.9998 21.9998 20.8115 22 19.1667V6.33276C21.9998 4.68803 20.573 3.49976 19 3.49976H17.5V2.99976C17.5 2.4475 17.0523 1.99976 16.5 1.99976C15.9477 1.99976 15.5 2.4475 15.5 2.99976V3.49976H8.5V2.99976C8.49997 2.4475 8.05226 1.99976 7.5 1.99976ZM20 19.1667C19.9998 19.5468 19.6358 19.9998 19 19.9998H5C4.40355 19.9998 4.046 19.6011 4.00391 19.238L4 19.1667V11.4998H20V19.1667ZM19 5.49976C19.6358 5.49976 19.9998 5.95273 20 6.33276V9.49976H4V6.33276C4.00025 5.95273 4.36424 5.49976 5 5.49976H6.5V5.99976C6.5 6.55204 6.94771 6.99976 7.5 6.99976C8.05229 6.99976 8.5 6.55204 8.5 5.99976V5.49976H15.5V5.99976C15.5 6.55204 15.9477 6.99976 16.5 6.99976C17.0523 6.99976 17.5 6.55204 17.5 5.99976V5.49976H19Z" fill="#9F9E8A"/>
            </svg>
            h3.features-list__item-title Розтермінування під 0%
          p.features-list__item-text 00 місяців, перший внесок

  section.advantages-section.container
    h2.advantages-title Переваги комерційних приміщень

    ul.advantages-list
      li.advantages-item 
        .advantages-image-wrapper
          img(src="/assets/images/commercial/adv-card-1.png", alt="").advantages-item__image

        .advantages-content
          h3.advantages-item__title Вигідна локація —
          p.advantages-text в ближньому передмісті Києва, яке активно розвивається, забезпечуючи комфорт мешканців необхідною інфраструктурою.

      li.advantages-item 
        .advantages-image-wrapper
          img(src="/assets/images/commercial/adv-card-2.png", alt="").advantages-item__image
          
        .advantages-content 
          h3.advantages-item__title Високий трафік —
          p.advantages-text завдяки вигідному розташуванню, активній забудові та постійному приросту населення.

      li.advantages-item 
        .advantages-image-wrapper
          img(src="/assets/images/commercial/adv-card-3.png", alt="").advantages-item__image
          
        .advantages-content 
          h3.advantages-item__title.competition Низька конкуренція 
          p.advantages-text відкриває реальні перспективи для старту та масштабування вашого бізнесу.

      li.advantages-item 
        .advantages-image-wrapper
          img(src="/assets/images/commercial/adv-card-4.png", alt="").advantages-item__image
          
        .advantages-content 
          h3.advantages-item__title Нові приміщення та сучасний дизайн —
          p.advantages-text відповідають сучасним стандартам, мають гнучкі планування та можливість адаптації.

      li.advantages-item 
        .advantages-image-wrapper
          img(src="/assets/images/commercial/adv-card-5.png", alt="").advantages-item__image
          
        .advantages-content 
          h3.advantages-item__title Перспективи розвитку —
          p.advantages-text постійний зростаючий попит та збільшення потоку клієнтів для розширення бізнесу.
      
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
