
extends ../layout/main
block variable
  -
    var title_page = 'developer'
    var id_page = 'id-page-developer'
    var class_page = 'class-page-developer'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/developer.bundle.js')
block content
  section.specialization-section.container
    h1 developer
    h2.specialization-title Inzhur спеціалізується на комерційній та житловій нерухомості всіх рівнів складності:

    ul.specialization-list 
      li.specialization-list__item 
        h3.specialization-list__item--title Реалізували та здали в експлуатацію сучасний ЖК Оптимісто площею <span>86 986 м² —</span>
        p.specialization-list__item--text раніше заявлених термінів, незважаючи на пандемію та повномасштабну війну.
        a.general-btn.specialization-list__item--button(href="#" target="_blank") <span>Сайт жк Оптимісто</span>

      li.specialization-list__item
        h3.specialization-list__item--title Побудували 40+ успішних комерційних обєктів нерухомості загальною площею більше <span>80 000 м² —</span>
        p.specialization-list__item--text це об'єкти для відомих українських та міжнародних брендів: “Сільпо”, McDonald’s, “Фора”, Novus, Comfy тощо. Також ми будуємо першу народну електростанцію України державного рівня — за контрактами з НЕК “Укренерго” та згідно з Президентською програмою розвитку малої генерації.

  section.investments-section.container
      h2.investments-title Один із ключових напрямків діяльності Inzhur — інвестиції, і наші <a href="#" target="_black" class="investments-link">поточні показники</a> яскраво демонструють зв'язок між найвищою якістю нашої роботи та рівнем довіри наших клієнтів.
  
  section.completed-section.container
    .completed-logo-title-block
      <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 100 100" fill="none" class='completed-logo'>
        <path d="M7.57617 37.4409H11.8937V41.1044H7.57617V37.4409ZM7.57617 42.8732H11.8937V59.0811H7.5814L7.57617 42.8732ZM29.9294 48.8086V59.0818H25.6118V49.7768C25.6118 47.4585 24.5337 46.1659 22.7019 46.1659C22.2139 46.1509 21.728 46.235 21.2733 46.413C20.8186 46.5911 20.4047 46.8594 20.0565 47.2017C19.7083 47.5441 19.433 47.9533 19.2474 48.4049C19.0616 48.8565 18.9692 49.3409 18.9759 49.8293V59.0818H14.6635V42.8583H18.5466L18.7089 45.1244C19.3565 44.3194 20.1789 43.6724 21.1139 43.2327C22.0487 42.7929 23.0715 42.5718 24.1045 42.5862C27.5533 42.602 29.9294 45.0877 29.9294 48.8086ZM45.8265 55.4446V59.0818H31.7486V55.8476L40.2319 46.4327H32.2354V42.8583H45.7218V46.0926L37.3065 55.4446H45.8265ZM62.8897 48.8085V59.0817H58.5512V49.7767C58.5512 47.4583 57.4154 46.1656 55.636 46.1656C55.1484 46.1515 54.663 46.2361 54.2089 46.4146C53.755 46.5929 53.3416 46.8612 52.994 47.2035C52.6463 47.5458 52.3716 47.9547 52.1862 48.4059C52.0007 48.8571 51.9086 49.3412 51.9151 49.8291V59.0817H47.6186V37.4782H51.936V44.805C52.5836 44.0929 53.3754 43.527 54.2589 43.1453C55.1424 42.7636 56.0972 42.5747 57.0595 42.5912C60.5136 42.6017 62.8897 45.0876 62.8897 48.8085ZM79.9747 42.8583V59.0818H76.0915L75.9292 56.8158C75.2816 57.6208 74.4592 58.2677 73.5242 58.7074C72.5894 59.1473 71.5666 59.3683 70.5336 59.354C67.0848 59.354 64.7087 56.8733 64.7087 53.1524V42.8583H69.0159V52.1527C69.0159 54.4712 70.0939 55.7691 71.9257 55.7691C72.4134 55.7832 72.8992 55.6986 73.3536 55.5203C73.8078 55.342 74.2215 55.0736 74.5695 54.7315C74.9175 54.3894 75.1928 53.9803 75.3787 53.5291C75.5648 53.0779 75.6577 52.5938 75.6518 52.1058V42.8583H79.9747ZM92.1104 42.6332L92.0581 46.553C91.498 46.493 90.9331 46.493 90.373 46.553C88.4784 46.7676 87.1021 47.7671 87.1021 50.2477V59.0818H82.7845V42.8582H86.6677L86.8875 45.2865C87.3574 44.5636 87.9819 43.9539 88.7159 43.5015C89.4497 43.0491 90.2748 42.765 91.1318 42.6699C91.4568 42.6341 91.7837 42.6218 92.1104 42.6332Z" fill="#393028"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M33.7269 0.757568H66.2787C75.0186 0.768911 83.398 4.24616 89.5774 10.4266C95.7568 16.6071 99.2328 24.9861 99.2427 33.7259V66.2785C99.2327 75.0177 95.7566 83.3971 89.5771 89.5768C83.3974 95.7564 75.0189 99.2324 66.2796 99.2424H33.7269C24.9872 99.2326 16.6074 95.7567 10.4269 89.5771C4.24636 83.3976 0.769155 75.0192 0.757812 66.2795V33.7267C0.767737 24.9861 4.24436 16.6053 10.425 10.4247C16.6056 4.24414 24.9863 0.767493 33.7269 0.757568ZM66.2783 2.27272H33.7274C25.3881 2.28231 17.3931 5.59931 11.4963 11.4961C5.59957 17.3929 2.28254 25.3879 2.27296 33.7271V66.278C2.28392 74.6164 5.60152 82.61 11.4981 88.5057C17.3949 94.4015 25.3893 97.7179 33.7278 97.7273H66.2778C74.616 97.7179 82.6098 94.4014 88.5057 88.5054C94.4016 82.6095 97.7181 74.6157 97.7275 66.2776V33.7276C97.7181 25.3891 94.4017 17.3947 88.506 11.4979C82.6102 5.60128 74.6166 2.28367 66.2783 2.27272Z" fill="#393028"/>
      </svg>
      h2.completed-title За 16 років років діяльнсоті ми:

    ul.completed-list 
      li.completed-list__item 
        h3.completed-list__item--title Довели обсяг бізнес-активів в управлінні до 38+ млрд грн в рамках 50 фондів:
        p.completed-list__item--text нам довіряють “Сільпо”, “Нова Пошта”, Rozetka та інші провідні українські бренди.

      li.completed-list__item
        h3.completed-list__item--title Створили та надали всім українцям і українкам унікальну можливість спільного інвестування у велику комерційну нерухомість (REIT):
        p.completed-list__item--text заробляємо для тисяч українців, в чиїх інтересах керуємо активами вже понад 4 млрд грн.

  section.cycle-section.container
    .cycle-section__house
      picture.cycle-section__house
        source(media="(min-width: 1920px)" srcset="/assets/images/developer/desk-house.jpg")
        source(media="(min-width: 768px)" srcset="/assets/images/developer/tab-house.jpg")
        img(src="/assets/images/developer/mob-house.jpg" alt="")

      picture.cycle-section__mask
        source(media="(min-width: 1920px)" srcset="/assets/images/developer/desk-house-oval.svg")
        source(media="(min-width: 768px)" srcset="/assets/images/developer/tab-house-oval.svg")
        img(src="/assets/images/developer/mob-house-oval.svg" alt="")


    .icon-inzhure-block
      ul.cycle-icons-list
        li.cycle-icons-list__item
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" class="cycle-icon">
            <path d="M8.55754 24C6.16459 24 3.9723 23.2216 2.37252 21.6239C-1.58064 17.6767 -0.478174 10.1455 4.81919 4.84245C7.32038 2.34565 10.3864 0.680519 13.4517 0.170628C16.7326 -0.380077 19.6375 0.412559 21.6275 2.39947C25.5808 6.34669 24.4779 13.8779 19.1809 19.1809C16.0208 22.336 12.0668 24 8.55754 24Z" fill="#ECE9E2"/>
        </svg>
        li.cycle-icons-list__item
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" class="cycle-icon">
            <path d="M8.55754 24C6.16459 24 3.9723 23.2216 2.37252 21.6239C-1.58064 17.6767 -0.478174 10.1455 4.81919 4.84245C7.32038 2.34565 10.3864 0.680519 13.4517 0.170628C16.7326 -0.380077 19.6375 0.412559 21.6275 2.39947C25.5808 6.34669 24.4779 13.8779 19.1809 19.1809C16.0208 22.336 12.0668 24 8.55754 24Z" fill="#ECE9E2"/>
        </svg>
        li.cycle-icons-list__item
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="#ece9e2" class="cycle-icon">
            <path d="M8.55754 24C6.16459 24 3.9723 23.2216 2.37252 21.6239C-1.58064 17.6767 -0.478174 10.1455 4.81919 4.84245C7.32038 2.34565 10.3864 0.680519 13.4517 0.170628C16.7326 -0.380077 19.6375 0.412559 21.6275 2.39947C25.5808 6.34669 24.4779 13.8779 19.1809 19.1809C16.0208 22.336 12.0668 24 8.55754 24Z" fill="#ECE9E2"/>
        </svg>
      p.inzhur Inzhur

    h2.inzhur-title ЗАБЕЗПЕЧУЄ ДЕВЕЛОПМЕНТ ПОВНОГО ЦИКЛУ

    .inzhure-text-link-block
      p.inzure-text <span>Це дозволяє нам контролювати взагалі все: терміни будівництва,  підбір матеріалів і технологій, хід робіт в деталях.</span> Тому ми не просто обіцяємо виняткову якість і надійні умови — ми впевнені в них і контролюємо їх.

      a.inzhure-link.general-btn(href="#" target="_blank") <span>Сайт <span>девелоперської</span> компанії</span>
  
  section.contact-links-section.container
    h2.visually-hidden Секція з посиланнями адреси та контактів

    ul.contact-list
      li.contact-list__item
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none"class='contact-list__item--icon'>
            <path d="M24 8V7.5H24L24 8ZM34 17.6602H34.5V17.6601L34 17.6602ZM32.9395 21.7363L33.3885 21.9561L33.3931 21.9468L33.3973 21.9374L32.9395 21.7363ZM24 40L23.5509 40.2198L24 41.1373L24.4491 40.2198L24 40ZM15.0605 21.7363L14.6027 21.9374L14.6069 21.9468L14.6115 21.9561L15.0605 21.7363ZM14 17.6602L13.5 17.6601V17.6602H14ZM24 14V13.5H24L24 14ZM24 22L24 22.5H24V22ZM24 8V8.5C26.5507 8.5 28.9265 9.29863 30.6576 10.8275C32.38 12.3489 33.4999 14.6239 33.5 17.6602L34 17.6602L34.5 17.6601C34.4999 14.357 33.2713 11.8019 31.3196 10.078C29.3763 8.36171 26.7522 7.5 24 7.5V8ZM34 17.6602H33.5C33.5 18.2519 33.3395 19.0148 33.1226 19.7536C32.908 20.4842 32.6504 21.1511 32.4817 21.5353L32.9395 21.7363L33.3973 21.9374C33.5821 21.5165 33.8547 20.8095 34.082 20.0354C34.307 19.2693 34.5 18.3967 34.5 17.6602H34ZM32.9395 21.7363L32.4904 21.5165L23.5509 39.7802L24 40L24.4491 40.2198L33.3885 21.9561L32.9395 21.7363ZM24 40L24.4491 39.7802L15.5096 21.5165L15.0605 21.7363L14.6115 21.9561L23.5509 40.2198L24 40ZM15.0605 21.7363L15.5183 21.5353C15.3496 21.1511 15.092 20.4842 14.8774 19.7536C14.6605 19.0148 14.5 18.2519 14.5 17.6602H14H13.5C13.5 18.3967 13.693 19.2693 13.918 20.0354C14.1453 20.8095 14.4179 21.5165 14.6027 21.9374L15.0605 21.7363ZM14 17.6602L14.5 17.6602C14.5001 14.6239 15.62 12.3489 17.3425 10.8276C19.0735 9.29866 21.4493 8.50002 24 8.5L24 8L24 7.5C21.2478 7.50002 18.6237 8.36174 16.6805 10.078C14.7287 11.8019 13.5001 14.357 13.5 17.6601L14 17.6602ZM24 14L24 13.5C21.5147 13.5 19.5 15.5147 19.5 18H20H20.5C20.5 16.067 22.067 14.5 24 14.5L24 14ZM20 18H19.5C19.5 20.4853 21.5147 22.5 24 22.5L24 22L24 21.5C22.067 21.5 20.5 19.933 20.5 18H20ZM24 22V22.5C26.4853 22.5 28.5 20.4853 28.5 18H28H27.5C27.5 19.933 25.933 21.5 24 21.5V22ZM28 18H28.5C28.5 15.5147 26.4853 13.5 24 13.5V14V14.5C25.933 14.5 27.5 16.067 27.5 18H28Z" fill="#393028"/>
        </svg>
        
        .contact-links-list__item--link-text-block
          a.contact-links-list__item--link(href="https://maps.app.goo.gl/wjvyzo455r4LjjGC7" target="_blank") м. Київ, вул. Жилянська, 48/50
          p.contact-links-list__item--text 7 поверх, офіс 16. Бізнес-центр «Прайм»

      li.contact-list__item
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 48" fill="none" class="contact-list__item--icon">
          <path d="M29.9445 25.5511C29.6417 25.3828 29.2433 25.1984 28.8852 24.983M44.9859 31.9427C43.9926 31.5876 41.6371 30.7496 40.1613 30.2383C38.3166 29.5991 37.5361 30.0963 36.6847 30.3803C35.8333 30.6644 33.5629 31.4456 31.9311 32.1558C30.2992 32.8659 28.6674 31.0195 27.6741 30.0963C26.6808 29.173 25.4746 27.9657 24.8361 27.5396C24.4143 27.2582 23.8687 26.6669 23.7718 25.9295M28.8852 24.983C28.4881 24.7441 28.1408 24.4669 28.0288 24.1308C27.9986 24.0098 27.9459 23.8372 27.8726 23.6337M28.8852 24.983C29.165 24.4717 29.4242 24.1545 29.5188 24.0598C29.4475 23.9528 29.3468 23.6607 29.3741 23.2076M34.84 18.4494C33.1372 17.029 32.9953 16.4609 29.5188 16.2479C28.6371 16.1938 27.8969 16.0758 27.2483 15.9345M27.2483 15.9345C25.3397 15.5184 24.2253 14.8995 22.6366 15.1116C22.0416 15.191 21.4689 15.226 20.9338 15.2352M27.2483 15.9345C28.4545 15.3956 29.164 14.7565 30.0864 14.0463C31.0087 13.3361 31.9311 13.1231 33.1372 14.2594C34.3434 15.3956 35.9043 16.887 37.3233 17.8813C38.7423 18.8755 39.3808 20.7219 42.5026 21.7162C43.6379 22.0003 44.844 20.935 47.5401 22.8525M23.7718 25.9295C23.7324 25.6303 23.767 25.307 23.9137 24.9705C23.9528 24.8809 23.9999 24.7903 24.0556 24.6989C24.1853 24.4866 24.2836 24.2997 24.3581 24.1308M23.7718 25.9295C22.8579 26.3754 20.6269 27.4494 18.5215 28.4612M6.95657 15.5265C6.99846 14.6914 6.81041 13.0276 5.82104 12.3419C5.69307 12.2532 5.55169 12.1809 5.39567 12.1288M6.95657 15.5265C6.95657 16.2172 6.38898 16.816 6.10518 17.0291C6.31804 17.3605 6.75793 18.3642 6.81469 19.7277C6.88564 21.4321 8.42977 19.5857 8.61553 19.3726M6.95657 15.5265C7.40853 16.5725 7.99241 17.9257 8.61553 19.3726M5.39567 12.1288C5.11187 11.4471 4.66251 10.2824 4.47331 9.78526C4.33141 9.31182 4.43074 8.25129 5.96327 7.79678C7.49579 7.34227 11.5683 6.28174 13.413 5.80829C13.8387 5.7136 14.7753 5.69466 15.1159 6.37643C15.3241 6.79327 16.4624 9.00911 17.6291 11.2767M5.39567 12.1288C4.82807 11.9868 4.64877 13.8707 4.11856 14.4014C3.69286 14.8275 2.34481 15.7508 2.48671 17.3842C2.62861 19.0176 2.77049 20.1538 2.48671 21.1481C2.20292 22.1423 2.55767 23.2076 3.05432 24.0598C3.55098 24.912 5.32473 28.1788 3.76383 31.5876C2.5151 34.3147 1.06772 37.3164 0.500114 38.4763M19.6567 15.2142C18.8639 15.1776 18.2225 15.1116 17.812 15.1116C17.101 15.1116 15.5986 14.864 15.3287 15.5265C15.2754 15.6575 15.2702 15.8239 15.3287 16.0348C15.6835 17.3131 17.5282 17.8813 19.0891 18.0233C19.646 18.074 20.5053 18.2602 21.4304 18.4886M19.6567 15.2142C19.449 14.8112 19.2079 14.3433 18.9472 13.837M19.6567 15.2142C20.0486 15.2322 20.4775 15.2431 20.9338 15.2352M21.4304 18.4886L22.4419 20.4379M21.4304 18.4886C21.7628 18.5706 22.1036 18.6581 22.4419 18.7466M24.3581 24.1308C24.5758 23.6369 24.5897 23.2969 24.5867 22.9235C24.5846 22.6559 24.5738 22.3711 24.6232 22.0002C24.6517 21.7862 24.7003 21.5951 24.7672 21.4321M24.3581 24.1308L22.4419 20.4379M23.488 19.0245C24.4402 19.2799 25.2689 19.5047 25.6875 19.5857C26.568 19.7561 27.2369 20.2248 27.4612 20.4379C27.9815 21.006 29.1073 22.2559 29.4478 22.7104C29.4057 22.8929 29.383 23.0589 29.3741 23.2076M23.488 19.0245C23.488 19.8698 23.705 20.1539 24.7672 21.4321M23.488 19.0245C23.1505 18.9341 22.7976 18.8398 22.4419 18.7466M24.7672 21.4321C24.9495 20.9879 25.2679 20.7526 25.6875 20.8312C25.8801 20.8672 26.0941 20.9695 26.326 21.148C27.0519 21.707 27.602 22.8817 27.8726 23.6337M27.8726 23.6337C28.5254 23.6337 29.0875 23.3496 29.3741 23.2076M17.6291 11.2767C18.2377 10.8506 19.16 10.6375 19.4438 11.2767C19.7276 11.9158 19.5044 12.9101 18.8355 13.6202M17.6291 11.2767C18.0409 12.077 18.4563 12.8838 18.8355 13.6202M18.8355 13.6202C18.8731 13.6932 18.9103 13.7655 18.9472 13.837M18.9472 13.837C19.5857 13.6912 20.3662 13.4414 20.9338 15.2352M22.4419 20.4379C22.8494 20.1538 23.2405 19.399 22.4419 18.7466M10.0784 42.2403C10.6697 40.8436 11.9657 37.8372 12.4198 36.985C12.9874 35.9197 13.8388 35.6356 14.974 34.3573C16.1092 33.079 18.0248 29.7378 18.5215 28.4612M18.5215 28.4612C17.2271 29.0832 15.9802 29.6817 15.1159 30.0963C14.5482 30.3093 13.2711 30.3803 12.7035 28.96C12.2887 27.9219 10.3075 23.3016 8.61553 19.3726M8.61553 8.40025L11.8601 7.44025" stroke="#393028" stroke-linecap="round"/>
        </svg>

        .contact-links-list__item--link-text-block 
          a.contact-links-list__item--link(href="tel:+380442907685") +38 044 290 76 85
          p.contact-links-list__item--text Контактний телефон девелопера

      li.contact-list__item
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none" class="contact-list__item--icon">
          <g clip-path="url(#clip0_2430_4947)">
            <path d="M3.63695 17.9717H5.70938V19.7302H3.63695V17.9717ZM3.63695 20.5792H5.70938V28.359H3.63946L3.63695 20.5792ZM14.3665 23.4282V28.3593H12.294V23.8929C12.294 22.7801 11.7766 22.1597 10.8973 22.1597C10.6631 22.1525 10.4298 22.1928 10.2116 22.2783C9.99331 22.3638 9.79462 22.4926 9.62749 22.6568C9.46037 22.8212 9.32822 23.0176 9.23913 23.2344C9.14997 23.4512 9.1056 23.6837 9.1088 23.9181V28.3593H7.03886V20.572H8.90277L8.98066 21.6598C9.29149 21.2734 9.68626 20.9628 10.1351 20.7518C10.5838 20.5406 11.0747 20.4345 11.5705 20.4414C13.226 20.449 14.3665 21.6422 14.3665 23.4282ZM21.9971 26.6134V28.3593H15.2397V26.8069L19.3117 22.2878H15.4734V20.572H21.9468V22.1245L17.9075 26.6134H21.9971ZM30.1874 23.4281V28.3592H28.1049V23.8928C28.1049 22.78 27.5598 22.1595 26.7057 22.1595C26.4716 22.1528 26.2386 22.1934 26.0207 22.279C25.8028 22.3646 25.6044 22.4934 25.4375 22.6577C25.2706 22.822 25.1388 23.0183 25.0497 23.2349C24.9607 23.4515 24.9165 23.6838 24.9196 23.918V28.3592H22.8573V17.9896H24.9297V21.5064C25.2405 21.1646 25.6206 20.893 26.0447 20.7098C26.4687 20.5266 26.9271 20.4359 27.3889 20.4438C29.0469 20.4488 30.1874 21.6421 30.1874 23.4281ZM38.3882 20.572V28.3593H36.5243L36.4464 27.2716C36.1356 27.658 35.7408 27.9686 35.292 28.1796C34.8433 28.3907 34.3524 28.4968 33.8565 28.4899C32.2011 28.4899 31.0606 27.2992 31.0606 25.5132V20.572H33.128V25.0334C33.128 26.1462 33.6455 26.7692 34.5247 26.7692C34.7588 26.776 34.992 26.7354 35.2101 26.6498C35.4281 26.5642 35.6267 26.4354 35.7937 26.2712C35.9608 26.107 36.0929 25.9106 36.1822 25.694C36.2715 25.4774 36.3161 25.2451 36.3132 25.0108V20.572H38.3882ZM44.2134 20.464L44.1883 22.3455C43.9194 22.3167 43.6483 22.3167 43.3794 22.3455C42.47 22.4485 41.8094 22.9283 41.8094 24.119V28.3593H39.7369V20.572H41.6009L41.7064 21.7376C41.9319 21.3906 42.2317 21.0979 42.584 20.8808C42.9362 20.6636 43.3323 20.5272 43.7436 20.4816C43.8996 20.4644 44.0566 20.4585 44.2134 20.464Z" fill="#393028"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.1891 0.36377H31.814C36.0091 0.369214 40.0312 2.03829 42.9974 5.00491C45.9635 7.97153 47.632 11.9934 47.6367 16.1886V31.8138C47.6319 36.0086 45.9634 40.0308 42.9972 42.997C40.031 45.9632 36.0093 47.6317 31.8144 47.6365H16.1891C11.9941 47.6318 7.97175 45.9633 5.00511 42.9972C2.03847 40.031 0.369416 36.0094 0.363972 31.8143V16.1889C0.368735 11.9934 2.03751 7.97068 5.0042 5.004C7.9709 2.03733 11.9936 0.368533 16.1891 0.36377ZM31.8138 1.09104H16.1894C12.1865 1.09565 8.34892 2.68781 5.51847 5.51826C2.68802 8.34872 1.09584 12.1863 1.09124 16.1892V31.8136C1.0965 35.816 2.68895 39.6529 5.51933 42.4829C8.34979 45.3129 12.1871 46.9047 16.1896 46.9092H31.8136C35.8159 46.9047 39.6529 45.3128 42.483 42.4828C45.313 39.6527 46.9049 35.8157 46.9094 31.8134V16.1894C46.9049 12.1869 45.3131 8.34959 42.4831 5.51913C39.6531 2.68875 35.8162 1.0963 31.8138 1.09104Z" fill="#393028"/>
          </g>
          <defs>
            <clipPath id="clip0_2430_4947">
              <rect width="48" height="48" fill="white"/>
            </clipPath>
          </defs>
        </svg>

        .contact-links-list__item--text-button-block 
          h3.contact-links-list__item--title Портфоліо Inzhur та більше про компанію на сайті
          a.general-btn.contact-links-list__item--button(href="#") <span>Сайт Inzhur</span>

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
