
extends ../layout/main
block variable
  -
    var title_page = 'developer'
    var id_page = 'id-page-developer'
    var class_page = 'class-page-developer'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/developer.bundle.js')
block content
  section.specialization-section.container
    //- h1 developer
    h2.specialization-title Inzhur спеціалізується на комерційній та житловій нерухомості всіх рівнів складності:

    ul.specialization-list 
      li.specialization-list__item 
        h3.specialization-list__item--title Реалізували та здали в експлуатацію сучасний ЖК Оптимісто площею <span>86 986 м² —</span>
        p.specialization-list__item--text раніше заявлених термінів, незважаючи на пандемію та повномасштабну війну.
        button.specialization-list__item--button(type='button' aria-label='Кнопка для переходу на сайт ЖК Оптимісто') Сайт жк Оптимісто

      li.specialization-list__item
        h3.specialization-list__item--title Побудували 40+ успішних комерційних обєктів нерухомості загальною площею більше <span>80 000 м² —</span>
        p.specialization-list__item--text це об'єкти для відомих українських та міжнародних брендів: “Сільпо”, McDonald’s, “Фора”, Novus, Comfy тощо. Також ми будуємо першу народну електростанцію України державного рівня — за контрактами з НЕК “Укренерго” та згідно з Президентською програмою розвитку малої генерації.

  section.investments-section.container
      h2.investments-title Один із ключових напрямків діяльності Inzhur — інвестиції, і наші <span>поточні показники</span> яскраво демонструють зв'язок між найвищою якістю нашої роботи та рівнем довіри наших клієнтів.
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
