
extends ../layout/main
block variable
  -
    var title_page = 'developer'
    var id_page = 'id-page-developer'
    var class_page = 'class-page-developer'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/developer.bundle.js')
block content
  section.specialization-section.container
    h1 developer
    h2.specialization-title Inzhur спеціалізується на комерційній та житловій нерухомості всіх рівнів складності:

    ul.specialization-list 
      li.specialization-list__item 
        h3.specialization-list__item--title Реалізували та здали в експлуатацію сучасний ЖК Оптимісто площею <span>86 986 м² —</span>
        p.specialization-list__item--text раніше заявлених термінів, незважаючи на пандемію та повномасштабну війну.
        button.specialization-list__item--button(type='button' aria-label='Кнопка для переходу на сайт ЖК Оптимісто') Сайт жк Оптимісто

      li.specialization-list__item
        h3.specialization-list__item--title Побудували 40+ успішних комерційних обєктів нерухомості загальною площею більше <span>80 000 м² —</span>
        p.specialization-list__item--text це об'єкти для відомих українських та міжнародних брендів: “Сільпо”, McDonald’s, “Фора”, Novus, Comfy тощо. Також ми будуємо першу народну електростанцію України державного рівня — за контрактами з НЕК “Укренерго” та згідно з Президентською програмою розвитку малої генерації.

  section.investments-section.container
      h2.investments-title Один із ключових напрямків діяльності Inzhur — інвестиції, і наші <span>поточні показники</span> яскраво демонструють зв'язок між найвищою якістю нашої роботи та рівнем довіри наших клієнтів.
  
  section.completed-section.container
    .completed-logo-title-block
      <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 100 100" fill="none" class='logo'>
        <path d="M7.57617 37.4409H11.8937V41.1044H7.57617V37.4409ZM7.57617 42.8732H11.8937V59.0811H7.5814L7.57617 42.8732ZM29.9294 48.8086V59.0818H25.6118V49.7768C25.6118 47.4585 24.5337 46.1659 22.7019 46.1659C22.2139 46.1509 21.728 46.235 21.2733 46.413C20.8186 46.5911 20.4047 46.8594 20.0565 47.2017C19.7083 47.5441 19.433 47.9533 19.2474 48.4049C19.0616 48.8565 18.9692 49.3409 18.9759 49.8293V59.0818H14.6635V42.8583H18.5466L18.7089 45.1244C19.3565 44.3194 20.1789 43.6724 21.1139 43.2327C22.0487 42.7929 23.0715 42.5718 24.1045 42.5862C27.5533 42.602 29.9294 45.0877 29.9294 48.8086ZM45.8265 55.4446V59.0818H31.7486V55.8476L40.2319 46.4327H32.2354V42.8583H45.7218V46.0926L37.3065 55.4446H45.8265ZM62.8897 48.8085V59.0817H58.5512V49.7767C58.5512 47.4583 57.4154 46.1656 55.636 46.1656C55.1484 46.1515 54.663 46.2361 54.2089 46.4146C53.755 46.5929 53.3416 46.8612 52.994 47.2035C52.6463 47.5458 52.3716 47.9547 52.1862 48.4059C52.0007 48.8571 51.9086 49.3412 51.9151 49.8291V59.0817H47.6186V37.4782H51.936V44.805C52.5836 44.0929 53.3754 43.527 54.2589 43.1453C55.1424 42.7636 56.0972 42.5747 57.0595 42.5912C60.5136 42.6017 62.8897 45.0876 62.8897 48.8085ZM79.9747 42.8583V59.0818H76.0915L75.9292 56.8158C75.2816 57.6208 74.4592 58.2677 73.5242 58.7074C72.5894 59.1473 71.5666 59.3683 70.5336 59.354C67.0848 59.354 64.7087 56.8733 64.7087 53.1524V42.8583H69.0159V52.1527C69.0159 54.4712 70.0939 55.7691 71.9257 55.7691C72.4134 55.7832 72.8992 55.6986 73.3536 55.5203C73.8078 55.342 74.2215 55.0736 74.5695 54.7315C74.9175 54.3894 75.1928 53.9803 75.3787 53.5291C75.5648 53.0779 75.6577 52.5938 75.6518 52.1058V42.8583H79.9747ZM92.1104 42.6332L92.0581 46.553C91.498 46.493 90.9331 46.493 90.373 46.553C88.4784 46.7676 87.1021 47.7671 87.1021 50.2477V59.0818H82.7845V42.8582H86.6677L86.8875 45.2865C87.3574 44.5636 87.9819 43.9539 88.7159 43.5015C89.4497 43.0491 90.2748 42.765 91.1318 42.6699C91.4568 42.6341 91.7837 42.6218 92.1104 42.6332Z" fill="#393028"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M33.7269 0.757568H66.2787C75.0186 0.768911 83.398 4.24616 89.5774 10.4266C95.7568 16.6071 99.2328 24.9861 99.2427 33.7259V66.2785C99.2327 75.0177 95.7566 83.3971 89.5771 89.5768C83.3974 95.7564 75.0189 99.2324 66.2796 99.2424H33.7269C24.9872 99.2326 16.6074 95.7567 10.4269 89.5771C4.24636 83.3976 0.769155 75.0192 0.757812 66.2795V33.7267C0.767737 24.9861 4.24436 16.6053 10.425 10.4247C16.6056 4.24414 24.9863 0.767493 33.7269 0.757568ZM66.2783 2.27272H33.7274C25.3881 2.28231 17.3931 5.59931 11.4963 11.4961C5.59957 17.3929 2.28254 25.3879 2.27296 33.7271V66.278C2.28392 74.6164 5.60152 82.61 11.4981 88.5057C17.3949 94.4015 25.3893 97.7179 33.7278 97.7273H66.2778C74.616 97.7179 82.6098 94.4014 88.5057 88.5054C94.4016 82.6095 97.7181 74.6157 97.7275 66.2776V33.7276C97.7181 25.3891 94.4017 17.3947 88.506 11.4979C82.6102 5.60128 74.6166 2.28367 66.2783 2.27272Z" fill="#393028"/>
      </svg>
      h2.completed-title За 16 років років діяльнсоті ми:

    ul.completed-list 
      li.completed-list__item 
        h3.completed-list__item--title Довели обсяг бізнес-активів в управлінні до 38+ млрд грн в рамках 50 фондів:
        p.completed-list__item--text нам довіряють “Сільпо”, “Нова Пошта”, Rozetka та інші провідні українські бренди.

      li.completed-list__item
        h3.completed-list__item--title Створили та надали всім українцям і українкам унікальну можливість спільного інвестування у велику комерційну нерухомість (REIT):
        p.completed-list__item--text заробляємо для тисяч українців, в чиїх інтересах керуємо активами вже понад 4 млрд грн.

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
