
extends ../layout/main
block variable
  -
    var title_page = 'documents'
    var id_page = 'id-page-documents'
    var class_page = 'class-page-documents'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/documents.bundle.js')
block content
  section.documents.container
    <svg class="page-svg" xmlns="http://www.w3.org/2000/svg" width="265" height="219" viewBox="0 0 265 219" fill="none">
      <path d="M339.534 -177.04C400.735 -155.157 382.439 -49.8358 298.67 58.2024C214.901 166.241 97.3804 236.084 36.1801 214.201C-25.0202 192.319 -6.72468 86.9974 77.0443 -21.0408C160.813 -129.079 278.334 -198.922 339.534 -177.04Z" fill="#B3BECD"/>
    </svg>
    .page-title__wrap 
      include ../includes/breadcrumbs.pug
      h1 Документи
    .documents-page-list-wrap.page-first-screen-content(data-content) 
      .documents-page-list.documents-list--homepage 
          .documents-page-card.active
              .documents-page-card-title-wrap
                .documents-page-card-content-title.text-h5.text-pantone2 Документи на земельну ділянку
                .documents-page-card-arrow
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M4.88403 16.884L12.0002 9.76782L19.1165 16.884L20.884 15.1165L12.884 7.11646C12.3959 6.6283 11.6046 6.6283 11.1165 7.11646L3.11645 15.1165L4.88403 16.884Z" fill="#393028"/>
                  </svg>
              .documents-page-card-content 
                  .documents-page-card-content-inner 
                      .documents-page-card-content-btn-list 
                          button.documents-page-card-content-btn(data-id="1")
                              span.text-tiny.text-white Земельна ділянка
                          button.documents-page-card-content-btn(data-id="2")
                              span.text-tiny.text-white Кадастровий номер земельної ділянки
                      .documents-page-card-content-list(data-id="1")
                          .documents-page-card-content-list-card 
                              p Витяг з Державного реєстру речових прав №419962629 від 27.03.25
                              a(href="").general-btn
                                span  Дивитися  документ
                          //- .documents-page-card-content-list-card
                          //-     p.text-body.text-gray-text Витяг з Державного реєстру речових прав на нерухоме майно про реєстрацію права власності (і.н.в. 147128072 від 28.11.2018)
                          //- .documents-page-card-content-list-card
                          //-     p.text-body.text-gray-text Витяг з Державного реєстру речових прав на нерухоме майно про реєстрацію права власності (і.н.в. 147123496 від 28.11.2018)
                          //- .documents-page-card-content-list-card
                          //-     p.text-body.text-gray-text Витяг з Державного реєстру речових прав на нерухоме майно про реєстрацію права власності (і.н.в. 147140102 від 28.11.2018)
                      .documents-page-card-content-list(data-id="2").gap-20px
                          .documents-page-card-content-list--title 
                              p.text-body.text-gray-text ❗️Зверніть увагу, в цілях безпеки, з 24.02.2022 всі посилання на Кадастрову карту України не працюють, сервіс недоступний для перегляду.
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text <a class="text-pantone2" href=""> 4610160300:04:002:0104 </a> (02.03 Для будівництва і обслуговування багатоквартирного житлового будинку будівництво кварталу багатоповерхової житлової забудови)
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text <a class="text-pantone2" href=""> 4610160300:04:002:0104 </a> (02.03 Для будівництва і обслуговування багатоквартирного житлового будинку будівництво кварталу багатоповерхової житлової забудови)
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text <a class="text-pantone2" href=""> 4610160300:04:002:0104 </a> (02.03 Для будівництва і обслуговування багатоквартирного житлового будинку будівництво кварталу багатоповерхової житлової забудови)
          .documents-page-card.active
              .documents-page-card-title-wrap
                  
                  .documents-page-card-content-title.text-h5.text-pantone2 Документи на будівництво
                  .documents-page-card-arrow
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M4.88403 16.884L12.0002 9.76782L19.1165 16.884L20.884 15.1165L12.884 7.11646C12.3959 6.6283 11.6046 6.6283 11.1165 7.11646L3.11645 15.1165L4.88403 16.884Z" fill="#393028"/>
                    </svg>       
              .documents-page-card-content 
                  .documents-page-card-content-inner 
                      .documents-page-card-content-btn-list 
                          button.documents-page-card-content-btn(data-id="1")
                              span.text-tiny.text-white Право на виконання будівельних робіт
                          button.documents-page-card-content-btn(data-id="2")
                              span.text-tiny.text-white Ідентифікатор об’єкта будівництва в ЄДЕСБ
                          //- button.documents-page-card-content-btn(data-id="3")
                          //-     span.text-tiny.text-white Клас наслідків
                      ul.documents-page-card-content-list(data-id="1")
                          .documents-page-card-content-list-card.documents-page-card-content-list-card--two-links
                              
                              p Дозвіл на виконання будівельних робіт №00000000000 від 00.00.0000
                              a(href="").general-btn.olive-btn
                                span  Сайт ДІАМ
                              a(href="").general-btn
                                span  Дивитися  документ
                          
                      .documents-page-card-content-list(data-id="2").gap-20px
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text Рішення ВМР №465 від 11.10.2019
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text Рішення ВМР №466 від 11.10.2019
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text Рішення ВМР  №467 від 11.10.2019
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text Рішення ВМР №468 від 11.10.2019
                      
      .documents-page-list.documents-list--homepage 
          .documents-page-card.active
              .documents-page-card-title-wrap
                  
                  .documents-page-card-content-title.text-h5.text-pantone2 Паспорт об’єкту
                  .documents-page-card-arrow
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M4.88403 16.884L12.0002 9.76782L19.1165 16.884L20.884 15.1165L12.884 7.11646C12.3959 6.6283 11.6046 6.6283 11.1165 7.11646L3.11645 15.1165L4.88403 16.884Z" fill="#393028"/>
                    </svg>
              .documents-page-card-content 
                  .documents-page-card-content-inner 
                      .documents-page-card-content-list.gap-20px
                              p <span> Містце розташування об’єкту будівництва:</span> Львівська обл., Львівський район, Львівська територіальна громада, м. Винники (станом на 01.01.2021), вулиця Лісна;
                          
                              p <span> Замовник:</span>  ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ‘ЛМБ-3’
                          
                              p <span>Генеральний підрядник:</span>  ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ‘ДЕВЕЛОПМЕНТ-СІТІ’ (40038129);
                          
                              p <span> Технічний нагляд:</span>  Петрук Тимофій Федорович (АТ 001489);
                          
                              p <span> Авторський нагляд:</span>  Хома Володимир Ігоревич;
                          
                              p <span> Відповідальний виконавець робіт:</span>  Баран Андрій Михайлович, наказ від 22.11.2021, головний інженер;
                          
                              p <span> Проектна документація розроблена:</span>  ТОВ ‘АРХО ГРУП’ (41650441);
                          
                              p <span> Експертиза проекту будівництва проведена:</span>  ДП ‘Західний ЕТЦ’ (20774790), Зіньків Андрій Богданович (АР 010475, АЕ 005262).
          .documents-page-card.active
              .documents-page-card-title-wrap
                .documents-page-card-content-title.text-h5.text-pantone2 Інші документи 
                .documents-page-card-arrow
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M4.88403 16.884L12.0002 9.76782L19.1165 16.884L20.884 15.1165L12.884 7.11646C12.3959 6.6283 11.6046 6.6283 11.1165 7.11646L3.11645 15.1165L4.88403 16.884Z" fill="#393028"/>
                  </svg>
              .documents-page-card-content 
                  .documents-page-card-content-inner 
                      
                      .documents-page-card-content-list
                          .documents-page-card-content-list-card 
                              p Проект договору купівлі-продажу
                              a(href="").general-btn
                                span  Дивитися  документ
                          .documents-page-card-content-list-card 
                              p Попередній договір розтермінування
                              a(href="").general-btn
                                span  Дивитися  документ
                          .documents-page-card-content-list-card 
                              p Проект договору купівлі-продажу
                              a(href="").general-btn
                                span  Дивитися  документ
                          .documents-page-card-content-list-card 
                              p Попередній договір розтермінування
                              a(href="").general-btn
                                span  Дивитися  документ
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
