
extends ../layout/main
block variable
  -
    var title_page = 'documents'
    var id_page = 'id-page-documents'
    var class_page = 'class-page-documents'
    var headerCustomClass = 'type1' 
    var footerCustomClass = ''
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/documents.bundle.js')
block content
  section.documents.container
    <svg class="page-svg" xmlns="http://www.w3.org/2000/svg" width="265" height="219" viewBox="0 0 265 219" fill="none">
      <path d="M339.534 -177.04C400.735 -155.157 382.439 -49.8358 298.67 58.2024C214.901 166.241 97.3804 236.084 36.1801 214.201C-25.0202 192.319 -6.72468 86.9974 77.0443 -21.0408C160.813 -129.079 278.334 -198.922 339.534 -177.04Z" fill="#B3BECD"/>
    </svg>
    .page-title__wrap 
      include ../includes/breadcrumbs.pug
      h1 Документи
    .documents-page-list-wrap.page-first-screen-content(data-content) 
      .documents-page-list.documents-list--homepage 
          .documents-page-card.active
              .documents-page-card-title-wrap
                .documents-page-card-content-title.text-h5.text-pantone2 Документи на земельну ділянку
                .documents-page-card-arrow
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M4.88403 16.884L12.0002 9.76782L19.1165 16.884L20.884 15.1165L12.884 7.11646C12.3959 6.6283 11.6046 6.6283 11.1165 7.11646L3.11645 15.1165L4.88403 16.884Z" fill="#393028"/>
                  </svg>
              .documents-page-card-content 
                  .documents-page-card-content-inner 
                      .documents-page-card-content-btn-list 
                          button.documents-page-card-content-btn(data-id="1")
                              span.text-tiny.text-white Земельна ділянка
                          button.documents-page-card-content-btn(data-id="2")
                              span.text-tiny.text-white Кадастровий номер земельної ділянки
                      .documents-page-card-content-list(data-id="1")
                          .documents-page-card-content-list-card 
                              p Витяг з Державного реєстру речових прав №441707887 від 01.09.2025
                              a(href="../assets/docs/Wytiag-441704869.pdf" target="_blank").general-btn
                                span  Дивитися  документ
                          .documents-page-card-content-list-card 
                              p Витяг з Державного реєстру речових прав №441704869 від 01.09.2025
                              a(href="../assets/docs/Wytiag-441707887.pdf"  target="_blank").general-btn
                                span  Дивитися  документ
                          //- .documents-page-card-content-list-card
                          //-     p.text-body.text-gray-text Витяг з Державного реєстру речових прав на нерухоме майно про реєстрацію права власності (і.н.в. 147128072 від 28.11.2018)
                          //- .documents-page-card-content-list-card
                          //-     p.text-body.text-gray-text Витяг з Державного реєстру речових прав на нерухоме майно про реєстрацію права власності (і.н.в. 147123496 від 28.11.2018)
                          //- .documents-page-card-content-list-card
                          //-     p.text-body.text-gray-text Витяг з Державного реєстру речових прав на нерухоме майно про реєстрацію права власності (і.н.в. 147140102 від 28.11.2018)
                      .documents-page-card-content-list(data-id="2").gap-20px
                          //- .documents-page-card-content-list--title 
                              //- p.text-body.text-gray-text ❗️Зверніть увагу, в цілях безпеки, з 24.02.2022 всі посилання на Кадастрову карту України не працюють, сервіс недоступний для перегляду.

                          .documents-page-card-content-list-card.warning-block
                              .warning-img-title-block
                                img(src="./assets/images/documents/warning.svg", alt="").warning-icon
                                h4.warning-title Важливо: 

                              .warning-text-block
                                p.warning-text з міркувань безпеки, починаючи з 24.02.2022, усі посилання на Кадастрову карту України деактивовані, сервіс тимчасово недоступний для перегляду.
                                

                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text <span class="text-pantone2"> 3222484001:01:024:5547 </span> (02.03 Для будівництва і обслуговування багатоквартирного житлового будинку будівництво кварталу багатоповерхової житлової забудови)
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text <span class="text-pantone2"> 3222484001:01:024:5560 </span> (02.03 Для будівництва і обслуговування багатоквартирного житлового будинку будівництво кварталу багатоповерхової житлової забудови)
                          //- .documents-page-card-content-list-card
                          //-     p.text-body.text-gray-text <span class="text-pantone2"> 4610160300:04:002:0104 </span> (02.03 Для будівництва і обслуговування багатоквартирного житлового будинку будівництво кварталу багатоповерхової житлової забудови)
          .documents-page-card.active
              .documents-page-card-title-wrap
                  
                  .documents-page-card-content-title.text-h5.text-pantone2 Документи на будівництво
                  .documents-page-card-arrow
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M4.88403 16.884L12.0002 9.76782L19.1165 16.884L20.884 15.1165L12.884 7.11646C12.3959 6.6283 11.6046 6.6283 11.1165 7.11646L3.11645 15.1165L4.88403 16.884Z" fill="#393028"/>
                    </svg>       
              .documents-page-card-content 
                  .documents-page-card-content-inner 
                      .documents-page-card-content-btn-list 
                          button.documents-page-card-content-btn(data-id="1")
                              span.text-tiny.text-white Право на виконання будівельних робіт
                          button.documents-page-card-content-btn(data-id="2")
                              span.text-tiny.text-white Ідентифікатор об’єкта будівництва в ЄДЕСБ
                          //- button.documents-page-card-content-btn(data-id="3")
                          //-     span.text-tiny.text-white Клас наслідків
                      ul.documents-page-card-content-list(data-id="1")
                          .documents-page-card-content-list-card.documents-page-card-content-list-card--two-links
                              p Дозвіл на виконання будівельних робіт № ІУ 000000000000 від 10.00.2025 (1 черга)
                              a(href="https://e-construction.gov.ua/document_detail/doc_id=3347514600395376543/optype=100" target="_blank").general-btn.olive-btn
                                span  Сайт ДІАМ
                              a(href="../assets/docs/Dozvil-2-cherha-Svidomi.pdf" target="_blank").general-btn
                                span  Дивитися  документ
                          .documents-page-card-content-list-card.documents-page-card-content-list-card--two-links
                              
                              p Дозвіл на виконання будівельних робіт № ІУ 012240315871 від 19.03.2024 (2 черга)
                              a(href="https://e-construction.gov.ua/document_detail/doc_id=3324346413097158631/optype=100" target="_blank").general-btn.olive-btn
                                span  Сайт ДІАМ
                              a(href="../assets/docs/Dozvil-2-cherha-Svidomi.pdf" target="_blank").general-btn
                                span  Дивитися  документ
                          .documents-page-card-content-list-card.documents-page-card-content-list-card--two-links
                              
                              p Дозвіл на виконання будівельних робіт № ІУ012240327818 від 01.04.2024 (4 черга)
                              a(href="https://e-construction.gov.ua/document_detail/doc_id=3333030440339506211/optype=100" target="_blank").general-btn.olive-btn
                                span  Сайт ДІАМ
                              a(href="../assets/docs/Dozvil-4-cherha-Svidomi.pdf" target="_blank").general-btn
                                span  Дивитися  документ
                          .documents-page-card-content-list-card.documents-page-card-content-list-card--two-links
                              
                              p Дозвіл на виконання будівельних робіт № ІУ012240416181 від 23.04.2024 (5 черга)
                              a(href="https://e-construction.gov.ua/document_detail/doc_id=3347510271127062098/optype=100" target="_blank").general-btn.olive-btn
                                span  Сайт ДІАМ
                              a(href="../assets/docs/Dozvil-5-cherha-Svidomi.pdf" target="_blank").general-btn
                                span  Дивитися  документ
                          .documents-page-card-content-list-card.documents-page-card-content-list-card--two-links
                              
                              p Дозвіл на виконання будівельних робіт № ІУ012240416699 від 23.04.2024 (6 черга)
                              a(href="https://e-construction.gov.ua/document_detail/doc_id=3347514600395376543/optype=100" target="_blank").general-btn.olive-btn
                                span  Сайт ДІАМ
                              a(href="../assets/docs/Dozvil-6-cherha-Svidomi.pdf" target="_blank").general-btn
                                span  Дивитися  документ
                          .documents-page-card-content-list-card.documents-page-card-content-list-card--two-links
                              
                              p Дозвіл на виконання будівельних робіт № ІУ012240416308 від 23.04.2024 (7 черга)
                              a(href="https://e-construction.gov.ua/document_detail/doc_id=3347517441398802324/optype=100" target="_blank").general-btn.olive-btn
                                span  Сайт ДІАМ
                              a(href="../assets/docs/Dozvil-7-cherha-Svidomi.pdf" target="_blank").general-btn
                                span  Дивитися  документ
                          
                          
                      .documents-page-card-content-list(data-id="2").gap-20px
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text 1 черга - Секція 1 - ___________________________________ ,
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text 2 черга - Секція 3 - 01.3039063.5038319.20240129.51.0000.01, Секція 4 - 01.3039081.5038300.20240208.18.0000.68
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text 3 черга - Секція 5 - ___________________________________ , Секція 6 - ___________________________________ , Секція 7 - ___________________________________
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text 4 черга - Секція 8 - 01.3039196.5038331.20240129.86.0000.50, Секція 9 - 01.3039230.5038331.20240212.50.0000.28, Секція 10 - 01.3039250.5038316.20240212.01.0000.30
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text 5 черга - Секція 11 - 01.3039235.5038294.20240129.71.0000.32, Секція 12 - 01.3039221.5038271.20240213.99.0000.35, Секція 18 - 01.3039191.5038298.20240213.60.0000.90
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text 6 черга - Секція 13 - 01.3039241.5038255.20240129.78.0000.58, Секція 14 - 01.3039270.5038247.20240219.98.0000.69, Секція 15 - 01.3039297.5038243.20240219.53.0000.26
                          .documents-page-card-content-list-card
                              p.text-body.text-gray-text 7 черга - Секція 16 - 01.3039316.5038272.20240129.99.0000.99, Секція 17 - 01.3039333.5038298.20240221.56.0000.50
                      
      .documents-page-list.documents-list--homepage 
          .documents-page-card.active
              .documents-page-card-title-wrap
                  
                  .documents-page-card-content-title.text-h5.text-pantone2 Паспорт об’єкту
                  .documents-page-card-arrow
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M4.88403 16.884L12.0002 9.76782L19.1165 16.884L20.884 15.1165L12.884 7.11646C12.3959 6.6283 11.6046 6.6283 11.1165 7.11646L3.11645 15.1165L4.88403 16.884Z" fill="#393028"/>
                    </svg>
              .documents-page-card-content 
                  .documents-page-card-content-inner 
                      .documents-page-card-content-list.gap-20px
                              p <span> Містце розташування об’єкту будівництва:</span>  Київська обл., Бучанський район, Вишнева територіальна громада, с. Крюківщина
                          
                              p <span> Замовник:</span>  ТОВ “Свідомі”, код ЄДРПОУ 46032295, Керівник - Директор Моргун Оксана Анатоліївна, без обмежень,  КБВ: Журжій Андрій Валерійович, Україна, 01033, місто Київ, вул.  Жилянська, будинок 48,50А, 7 поверх, офіс 10, тел. (044) 206-45-77, не перебуває у процесі припинення, проваджень у справі про банкрутство, санації
                          
                              p <span>Генеральний підрядник:</span>  ТОВ “Інжур Буд”, код ЄДРПОУ 45846647, КБВ: Журжій Андрій Валерійович, Україна, 01033, місто Київ, вул. Жилянська, будинок 48, 50А, 7 поверх, офіс 13, тел. (044) 594-76-77
                          
                              p <span> Технічний нагляд:</span>  Паньків Микола Степанович (АТ 009129, АТ 003512)
                          
                              p <span> Авторський нагляд:</span>  Субін Ігор Миколайович (АР 020958, АР 011462, АР 015268)
                          
                              p <span> Відповідальний виконавець робіт:</span>  Безкровний Володимир Володимирович
                          
                              //- p <span> Проектна документація розроблена:</span>  ТОВ ‘АРХО ГРУП’ (41650441);
                          
                              p <span> Завершення будівельних робіт 1-2 черг:</span>  1 кв. 2027 року
          .documents-page-card.active
              .documents-page-card-title-wrap
                .documents-page-card-content-title.text-h5.text-pantone2 Інші документи 
                .documents-page-card-arrow
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M4.88403 16.884L12.0002 9.76782L19.1165 16.884L20.884 15.1165L12.884 7.11646C12.3959 6.6283 11.6046 6.6283 11.1165 7.11646L3.11645 15.1165L4.88403 16.884Z" fill="#393028"/>
                  </svg>
              .documents-page-card-content 
                  .documents-page-card-content-inner 
                      
                      .documents-page-card-content-list
                          .documents-page-card-content-list-card 
                              p Проект договору купівлі-продажу
                              a(href="#" target="_blank").general-btn
                                span  Дивитися  документ
                          .documents-page-card-content-list-card 
                              p Попередній договір розтермінування 
                              a(href="#" target="_blank").general-btn
                                span  Дивитися  документ
                          .documents-page-card-content-list-card 
                              p Основні технічні характеристики об’єкта 
                              a(href="#" target="_blank").general-btn
                                span  Дивитися  документ
                          .documents-page-card-content-list-card 
                              p Декларація про провадження господарської діяльності 
                              a(href="../assets/docs/Deklaratsiia-na-provadzhennia-hospodarskoi-diialnosti-Kriukivshchyna.pdf" target="_blank").general-btn
                                span  Дивитися  документ
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
