
extends ../layout/main
block variable
  -
    var title_page = 'index'
    var id_page = 'id-page-index'
    var class_page = 'class-page-index'
    var headerCustomClass = 'type2' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
block content
  section.hero
    .hero-bg
    .video-frame 
      img(src="./assets/images/home/hero.jpg", alt="hero")
    .container
      h1.hidden Свідомі
      
      
    .hero-promo-wrap
      a(href="/single-promo.html").hero-promo-item 
        .hero-promo-text
          h3 Знижки 7%
          p При повній оплаті
          .hero-promo__date 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M4.99997 1.40027C4.6686 1.40027 4.40036 1.66851 4.40036 1.99988V2.40027H3.33298C2.31557 2.40043 1.40036 3.16819 1.40036 4.22253V12.7772C1.40036 13.8316 2.31557 14.5993 3.33298 14.5995H12.667C13.6844 14.5993 14.5996 13.8316 14.5996 12.7772V4.22253C14.5996 3.16819 13.6844 2.40043 12.667 2.40027H11.5996V1.99988C11.5996 1.66851 11.3313 1.40027 11 1.40027C10.6686 1.40027 10.4004 1.66851 10.4004 1.99988V2.40027H5.59958V1.99988C5.59958 1.66851 5.33134 1.40027 4.99997 1.40027ZM12.667 3.59949C13.122 3.59964 13.4004 3.92704 13.4004 4.22253V6.40027H2.59958V4.22253C2.59958 3.92704 2.87795 3.59964 3.33298 3.59949H4.40036V3.99988C4.40036 4.33125 4.6686 4.59949 4.99997 4.59949C5.33134 4.59949 5.59958 4.33125 5.59958 3.99988V3.59949H10.4004V3.99988C10.4004 4.33125 10.6686 4.59949 11 4.59949C11.3313 4.59949 11.5996 4.33125 11.5996 3.99988V3.59949H12.667Z" fill="#B3BECD"/>
            </svg>
            span до 30.09.2025 р.
        .hero-promo-btn.ellipse-btn
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M2.00012 10.5822H19.1758V13.4197H2.00012V10.5822Z" fill="#393028"/>
            <path d="M14.895 2.22667H10.9146L18.1774 12.0002H22.0001L14.895 2.22667Z" fill="#393028"/>
            <path d="M14.895 21.7738H10.9146L18.1774 12.0002H22.0001L14.895 21.7738Z" fill="#393028"/>
          </svg>
      a(href="/single-promo.html").hero-promo-item 
        .hero-promo-text
          h3 Знижки 5%
          p На розтермінування під 0% від забудовника
          .hero-promo__date 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M4.99997 1.40027C4.6686 1.40027 4.40036 1.66851 4.40036 1.99988V2.40027H3.33298C2.31557 2.40043 1.40036 3.16819 1.40036 4.22253V12.7772C1.40036 13.8316 2.31557 14.5993 3.33298 14.5995H12.667C13.6844 14.5993 14.5996 13.8316 14.5996 12.7772V4.22253C14.5996 3.16819 13.6844 2.40043 12.667 2.40027H11.5996V1.99988C11.5996 1.66851 11.3313 1.40027 11 1.40027C10.6686 1.40027 10.4004 1.66851 10.4004 1.99988V2.40027H5.59958V1.99988C5.59958 1.66851 5.33134 1.40027 4.99997 1.40027ZM12.667 3.59949C13.122 3.59964 13.4004 3.92704 13.4004 4.22253V6.40027H2.59958V4.22253C2.59958 3.92704 2.87795 3.59964 3.33298 3.59949H4.40036V3.99988C4.40036 4.33125 4.6686 4.59949 4.99997 4.59949C5.33134 4.59949 5.59958 4.33125 5.59958 3.99988V3.59949H10.4004V3.99988C10.4004 4.33125 10.6686 4.59949 11 4.59949C11.3313 4.59949 11.5996 4.33125 11.5996 3.99988V3.59949H12.667Z" fill="#B3BECD"/>
            </svg>
            span до 30.09.2025 р.
        .hero-promo-btn.ellipse-btn
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M2.00012 10.5822H19.1758V13.4197H2.00012V10.5822Z" fill="#393028"/>
            <path d="M14.895 2.22667H10.9146L18.1774 12.0002H22.0001L14.895 2.22667Z" fill="#393028"/>
            <path d="M14.895 21.7738H10.9146L18.1774 12.0002H22.0001L14.895 21.7738Z" fill="#393028"/>
          </svg>    
      
          
    .hero-bottom-block.container
      img(src="./assets/images/home/title.svg", alt="title")
      .hero-bottom-items 
        a(href="/3d").hero-bottom-item
          <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
            <path d="M31.2672 20.5664C31.1436 21.3815 30.6135 22.1123 29.8472 22.4884C25.5365 24.6124 20.8868 25.6926 16.0308 25.6926C11.1761 25.6926 6.52505 24.6165 2.21427 22.4884C1.44799 22.1109 0.916541 21.3815 0.794305 20.5664C0.298542 21.0737 0.0307617 21.5983 0.0307617 22.119V23.4172C0.0307617 26.1074 7.19511 28.9408 16.0308 28.9408C24.865 28.9408 32.0308 26.1101 32.0308 23.4172V22.119C32.0308 21.5983 31.7602 21.0736 31.2672 20.5664Z" fill="#ECE9E2"/>
            <path d="M24.4502 7.19778L24.6534 9.38741C24.685 9.74345 24.4145 10.0593 24.0492 10.0928H23.9887C23.6482 10.0928 23.3557 9.8398 23.3241 9.49983L23.0178 6.20332C22.139 5.67196 21.2038 5.24099 20.2192 4.91844L20.638 9.3833C20.6696 9.73934 20.4018 10.0552 20.0337 10.0886H19.9733C19.6327 10.0886 19.3402 9.83569 19.3087 9.49572L18.806 4.12322C18.7429 3.45536 18.1702 2.94141 17.4767 2.94141H14.5805C13.8912 2.94141 13.3144 3.45536 13.2512 4.12322L12.7486 9.49572C12.717 9.83434 12.4245 10.0886 12.084 10.0886H12.0235C11.6582 10.0579 11.3877 9.73934 11.4193 9.3833L11.834 4.91844C10.8494 5.241 9.91141 5.67597 9.0353 6.20332L8.72906 9.49983C8.69748 9.83845 8.40497 10.0928 8.06441 10.0928H8.00399C7.63869 10.062 7.36817 9.74345 7.39974 9.38741L7.60298 7.19778C4.21788 9.86388 2.02344 14.0947 2.02344 18.8676C2.02344 19.3547 2.04816 19.8366 2.09347 20.3131C2.13604 20.7454 2.40933 21.1322 2.80755 21.3276C6.78048 23.2843 11.2695 24.3912 16.0225 24.3912C20.7756 24.3912 25.2646 23.2843 29.2375 21.3276C29.6344 21.1322 29.9132 20.7454 29.9516 20.3131C29.9969 19.8366 30.0216 19.3534 30.0216 18.8676C30.0216 14.0974 27.8285 9.86655 24.4421 7.19778H24.4502Z" fill="#ECE9E2"/>
          </svg>
          .hero-bottom-item__text
            h3 І - ІI черги 
            p 1 квартал 2027
        a(href="/3d").hero-bottom-item
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M7.01248 0H24.9905C25.3056 0 25.5753 0.200405 25.6812 0.479967L30.9304 11.921C30.977 12.0231 30.9985 12.1304 30.9985 12.235H31.001V31.2494C31.001 31.6643 30.6695 32 30.2599 32C29.9448 32 29.6777 31.8021 29.5693 31.5213L24.523 20.7185H7.47896L2.43266 31.5213C2.32554 31.8022 2.05582 32 1.74203 32C1.33371 32 1.00098 31.6643 1.00098 31.2494V12.235H1.0035C1.0035 12.1304 1.02492 12.0231 1.07155 11.921L6.32079 0.479967C6.42665 0.199147 6.69636 0 7.01142 0H7.01248ZM11.5887 19.216L12.1004 10.3179C12.1218 9.91838 12.4482 9.60948 12.8376 9.61075V9.6082H19.1641C19.5725 9.6082 19.9052 9.9439 19.9052 10.3588L20.4143 19.216H24.2495V6.49727H7.75231V19.216L11.5887 19.216Z" fill="#ECE9E2"/>
          </svg>
          .hero-bottom-item__text
            h3 Квартири від
            p 51 111 грн/м²

  
  section.section.about-project(id="about-project")
    .about-project-bg 
      img(src="./assets/images/home/sky.jpg", alt="sky").sky
    .about-project-content 
      .about-project-text
        h2.section-title ПРО ПРОЄКТ
        p У передмісті Києва ми створюємо продуманий житловий комплекс Свідомі. Тут немає випадкових рішень чи компромісів — кожна деталь, від архітектури до матеріалів, підпорядкована одній меті: створити житло комфорт-класу, що втілює гармонію цінностей і стане вашим домом на десятиліття.
        a(href="/about.html").general-btn
          span Дізнатися більше
      
      .about-project-video 
        .video-wrapper
          .controls-wrap
            button(type="button").video-btn.ellipse-btn
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                <path d="M28.341 19.569L14.0242 27.876C12.8092 28.5803 11.25 27.7275 11.25 26.3078V9.69378C11.25 8.27628 12.807 7.42128 14.0242 8.12778L28.341 16.4348C28.6174 16.5926 28.8471 16.8206 29.0069 17.0958C29.1667 17.3711 29.2509 17.6837 29.2509 18.0019C29.2509 18.3202 29.1667 18.6327 29.0069 18.908C28.8471 19.1832 28.6174 19.4113 28.341 19.569Z" fill="#1C1E2C"/>
              </svg>
          video(controls)
            source(src="./assets/images/home/inzhur_video_desktop.mp4" type="video/mp4")
            | Your browser does not support the video tag.
    .about-project-img 
      img(src="./assets/images/home/house.png", alt="house")
      <svg class="corner" xmlns="http://www.w3.org/2000/svg" width="950" height="707" viewBox="0 0 950 707" fill="none">
        <path d="M116.475 369.608C38.0276 261.822 0.531483 136.44 0 0V707H950C575.836 698.627 275.176 587.731 116.475 369.608Z" fill="#ECE9E2"/>
      </svg>

  section.section.location-homepage 
    .location-homepage__content.container
      h2.section-title ВИГІДНА ЛОКАЦІЯ
      .location-homepage__text-wrap 
        p <span> Крюківщина </span>  — південно-західне передмістя Києва, що активно розвивається. Ми знаємо, як важко знайти баланс між спокоєм заміського життя та доступністю столичної інфраструктури. ЖК Свідомі — саме така знахідка: справжнє місце рівноваги всіх цінностей.
        a(href="/location.html").general-btn
          span Дізнатися більше
    .map-main-wrap
      .map-wrapper
        #map.map
      .map-navigation
        button.general-btn(type="button" id="filter-button") 
          span.oppened-fltr Приховати фільтр
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M3.29004 4.7876C2.90291 4.39375 2.90291 3.75469 3.29004 3.36084C3.67716 2.96703 4.3052 2.96712 4.69238 3.36084L8.37402 7.10693L12.0049 3.41357C12.3921 3.01994 13.0201 3.0198 13.4072 3.41357C13.7942 3.80737 13.7941 4.44554 13.4072 4.83936L9.77637 8.53271L13.4072 12.2261C13.7942 12.6199 13.7943 13.2591 13.4072 13.6528C13.0201 14.0465 12.392 14.0464 12.0049 13.6528L8.37402 9.95947L4.69238 13.7046C4.30522 14.0984 3.67721 14.0984 3.29004 13.7046C2.90324 13.3108 2.90324 12.6726 3.29004 12.2788L6.97168 8.53369L3.29004 4.7876Z" fill="#ECE9E2"/>
            </svg>
          span.closed-fltr Показати фільтри
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M9 3.94922C8.99971 3.7748 8.97341 3.64663 8.94531 3.55273C8.89717 3.40093 8.65272 3.26336 8.38086 3.23242C8.37565 3.23178 8.37045 3.23095 8.36523 3.23047C8.28857 3.22339 8.19951 3.21625 8.0957 3.21094C8.00713 3.20627 7.90733 3.20278 7.7959 3.20117C7.75043 3.20053 4.54953 3.2002 4.5 3.2002C4.44446 3.2002 1.24982 3.20053 1.2041 3.20117C1.09267 3.20294 0.992873 3.20643 0.904297 3.21094C0.800488 3.21641 0.711427 3.22339 0.634766 3.23047C0.629552 3.23095 0.624065 3.23178 0.619141 3.23242C0.347279 3.26352 0.102832 3.40109 0.0546876 3.55273C0.0265933 3.64663 0.000290028 3.7748 1.08523e-07 3.94922L1.085e-07 3.95117C0.000293838 4.12529 0.0266448 4.25284 0.0546876 4.34668C0.102762 4.49853 0.347204 4.63703 0.619141 4.66797C0.624354 4.66861 0.629552 4.66944 0.634766 4.66992C0.711424 4.677 0.800495 4.68414 0.904297 4.68945C0.992875 4.69412 1.09267 4.69761 1.2041 4.69922C1.24957 4.69986 4.45047 4.7002 4.5 4.7002C4.55554 4.70019 7.75018 4.69986 7.7959 4.69922C7.90733 4.69745 8.00713 4.69396 8.0957 4.68945C8.1995 4.68398 8.28858 4.677 8.36523 4.66992C8.37045 4.66944 8.37594 4.66861 8.38086 4.66797C8.65261 4.63705 8.89672 4.49923 8.94531 4.34766C8.97341 4.25377 8.99971 4.12559 9 3.95117L9 3.94922ZM4.9502 10.7998C4.95006 9.55736 3.94264 8.54994 2.7002 8.5498C1.45764 8.5498 0.450328 9.55728 0.450195 10.7998C0.450195 12.0424 1.45755 13.0498 2.7002 13.0498C3.94272 13.0497 4.9502 12.0424 4.9502 10.7998ZM16 10.749C15.9997 10.5746 15.9734 10.4464 15.9453 10.3525C15.897 10.2008 15.6526 10.0632 15.3809 10.0322C15.3756 10.0316 15.3704 10.0308 15.3652 10.0303C15.2886 10.0232 15.1995 10.0161 15.0957 10.0107C15.0071 10.0061 14.9073 10.0026 14.7959 10.001C14.7504 10.0003 10.5495 10 10.5 10C10.4462 10 8.24982 10.0003 8.2041 10.001C8.09267 10.0027 7.99287 10.0062 7.9043 10.0107C7.80049 10.0162 7.71142 10.0232 7.63477 10.0303C7.62955 10.0308 7.62406 10.0316 7.61914 10.0322C7.34738 10.0633 7.10297 10.201 7.05469 10.3525C7.02659 10.4464 7.00029 10.5746 7 10.749L7 10.751C7.00029 10.9254 7.02659 11.0536 7.05469 11.1475C7.10297 11.2992 7.34738 11.4368 7.61914 11.4678C7.62435 11.4684 7.62955 11.4692 7.63477 11.4697C7.71142 11.4768 7.80049 11.4839 7.9043 11.4893C7.99287 11.4939 8.09267 11.4974 8.2041 11.499C8.24957 11.4997 10.4505 11.5 10.5 11.5C10.5572 11.5 14.7502 11.4997 14.7959 11.499C14.9073 11.4973 15.0071 11.4938 15.0957 11.4893C15.1995 11.4838 15.2886 11.4768 15.3652 11.4697C15.3704 11.4692 15.3759 11.4684 15.3809 11.4678C15.6527 11.4368 15.8969 11.2991 15.9453 11.1475C15.9734 11.0536 15.9997 10.9254 16 10.751L16 10.749ZM15.1504 3.5C15.1504 2.25749 14.1429 1.25021 12.9004 1.25C11.6578 1.25 10.6504 2.25736 10.6504 3.5C10.6504 4.74264 11.6577 5.75 12.9004 5.75C14.1429 5.74979 15.1504 4.74251 15.1504 3.5Z" fill="#ECE9E2"/>
            </svg>
        ul.map-navigation__main
          //- li(data-marker data-type="supermarket" data-category="supermarket").map-navigation__button
          //-   +svg('supermarket')
          //-   span Супермаркети
          li(data-marker data-type="mall" data-category="mall").map-navigation__button
            +svg('mall')
            span Торгівельні центри
          //- li(data-marker data-type="kindergarden" data-category="kindergarden").map-navigation__button
          //-   +svg('kindergarden')
          //-   span Дитячі садочки
          li(data-marker data-type="school" data-category="school").map-navigation__button
            +svg('school')
            span Школи і дитячі садочки
          //- li(data-marker data-type="university" data-category="university").map-navigation__button
          //-   +svg('university')
          //-   span Вищі навчальні заклади
          li(data-marker data-type="restaurant" data-category="restaurant").map-navigation__button
            +svg('restaurant')
            span Ресторани та кав’ярні
          li(data-marker data-type="pharmacy" data-category="pharmacy").map-navigation__button
            +svg('pharmacy')
            span Медицина
          //- li(data-marker data-type="park" data-category="park").map-navigation__button
          //-   +svg('park')
          //-   span Місця для відпочинку
          li(data-marker data-type="sport" data-category="sport").map-navigation__button
            +svg('sport')
            span Спорт та культура
          li(data-marker data-type="supermarket" data-category="supermarket").map-navigation__button
            +svg('supermarket')
            span Супермаркет
          li(data-marker data-type="drivingSchool" data-category="drivingSchool").map-navigation__button
            +svg('driving-school')
            span Автошкола
          li(data-marker data-type="post" data-category="post").map-navigation__button
            +svg('post')
            span Нова Пошта
          li(data-marker data-type="aquapark" data-category="aquapark").map-navigation__button
            +svg('aquapark')
            span Аквапарк
          li(data-marker data-type="petrolStation" data-category="petrolStation").map-navigation__button
            +svg('petrol-station')
            span АЗС
          li(data-marker data-type="busStop" data-category="busStop").map-navigation__button
            +svg('bus-stop')
            span Автовокзал
          li(data-marker data-type="carWashing" data-category="carWashing").map-navigation__button
            +svg('car-washing')
            span Автомийка 
  section.section.advantages.container
    h2.section-title ЧОМУ ОБИРАЮТЬ СВІДОМІ?
    .swiper-advantages 
      .swiper-wrapper
        .swiper-slide 
          img(src="./assets/images/home/advantages1.jpg", alt="advantages1")
          .advantages-card__content 
            h3 Продумана архітектура
            ul.advantages-card__list
              li Периметральна забудова із акцентними вставками у вигляді низько поверхових секцій
              li Напіввідкриті внутрішні двори, щоб ваш простір ніколи не страждав від нестачі повітря і сонця. 
              li Житлові двори підняті на рівень 1-го поверху, що забезпечуює акустичний та візуальний бар'єр від дороги
        .swiper-slide 
          img(src="./assets/images/home/advantages1.jpg", alt="advantages1")
          .advantages-card__content 
            h3 Продумана архітектура
            ul.advantages-card__list
              li Периметральна забудова із акцентними вставками у вигляді низько поверхових секцій
              li Напіввідкриті внутрішні двори, щоб ваш простір ніколи не страждав від нестачі повітря і сонця. 
              li Житлові двори підняті на рівень 1-го поверху, що забезпечуює акустичний та візуальний бар'єр від дороги
      .swiper-btns-wrap 
        .swiper-button-prev.ellipse-btn(data-advantages-button-prev)
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M22 10.582H4.82434V13.4195H22V10.582Z" fill="#393028"/>
            <path d="M9.10511 2.22646H13.0854L5.82264 12H1.99994L9.10511 2.22646Z" fill="#393028"/>
            <path d="M9.10511 21.7735H13.0854L5.82264 12H1.99994L9.10511 21.7735Z" fill="#393028"/>
          </svg>
        .swiper-button-next.ellipse-btn(data-advantages-button-next)
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
            <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
            <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
          </svg>

  section.tech-params.section.container 
    h2.section-title ТЕХНІЧНІ ХАРАКТЕ<span class="mobile-transfer">-</span>РИСТИКИ
    .swipers-tech-wrap
      .swiper-btns-wrap--tech
          .swiper-button-prev.ellipse-btn(data-tech-button-prev)
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M22 10.582H4.82434V13.4195H22V10.582Z" fill="#393028"/>
              <path d="M9.10511 2.22646H13.0854L5.82264 12H1.99994L9.10511 2.22646Z" fill="#393028"/>
              <path d="M9.10511 21.7735H13.0854L5.82264 12H1.99994L9.10511 21.7735Z" fill="#393028"/>
            </svg>
          .swiper-button-next.ellipse-btn(data-tech-button-next)
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
      .swiper-tech-mobile 
        .swiper-wrapper 
          .swiper-slide 
            .tech-logo-decor
              
              <svg xmlns="http://www.w3.org/2000/svg" width="69" height="12" viewBox="0 0 69 12" fill="none">
              <g clip-path="url(#clip0_2125_21254)">
              <path d="M6.01619 0C8.61248 0 10.7901 1.57555 11.5577 3.97998H9.70115C9.0311 2.55646 7.77492 1.58905 6.01619 1.58905C3.60136 1.58905 1.75873 3.49628 1.75873 5.96997C1.75873 8.44364 3.60136 10.3509 6.01619 10.3509C7.77492 10.3509 9.0311 9.3905 9.70115 7.95993H11.5577C10.7901 10.3647 8.61248 11.9399 6.01619 11.9399C2.61022 11.9402 0 9.33532 0 5.96997C0 2.60459 2.61022 0 6.01619 0Z" fill="#393028"/>
              <path d="M21.8087 8.51864C21.8087 10.3774 20.4479 11.8009 18.0259 11.8009H12.7637V0.192383H18.0051C20.3361 0.192383 21.6415 1.56747 21.6415 3.3432C21.6415 4.40747 21.1879 5.3194 20.1478 5.87911C21.2715 6.45968 21.809 7.3854 21.809 8.51864H21.8087ZM17.9213 5.26423C19.2613 5.26423 19.9453 4.60089 19.9453 3.42626C19.9453 2.25164 19.2613 1.71951 17.9213 1.71951H14.4385V5.27126H17.9213V5.26423ZM20.05 8.44964C20.05 7.30264 19.331 6.70827 17.9352 6.70827H14.4317V10.2738H17.9352C19.3242 10.2738 20.05 9.62426 20.05 8.44964Z" fill="#393028"/>
              <path d="M24.6197 0.192383V11.8009H22.9446V0.192383H24.6197Z" fill="#393028"/>
              <path d="M64.2868 11.737L61.4605 3.94257L57.5029 11.9028L53.7346 4.00477L50.7195 11.737H48.9607L52.8479 2.15304L51.8779 0.128418H53.7551L57.5243 8.43413L60.7555 2.001L60.0856 0.128418H61.893L66.1017 11.737H64.2868Z" fill="#393028"/>
              <path d="M68.9915 0.192383V11.8009H67.3164V0.192383H68.9915Z" fill="#393028"/>
              <path d="M38.0444 10.1602H36.7111V0.192383H29.4738V1.18737C29.4738 5.2105 28.5704 8.42029 26.9738 10.1602H25.8513V11.8009H38.0441V10.1602H38.0444ZM31.107 1.81079H35.0292V10.1599H28.9448C30.2802 8.15822 31.0238 5.30205 31.107 1.81079Z" fill="#393028"/>
              <path d="M42.4841 11.9726C41.2878 11.9726 40.1917 11.5864 39.3919 10.7936C37.4156 8.83503 37.9668 5.09808 40.6151 2.46676C41.8656 1.22786 43.3984 0.401634 44.9309 0.148629C46.5712 -0.124627 48.0234 0.268674 49.0184 1.25457C50.9948 3.21315 50.4434 6.9501 47.7952 9.58139C46.2153 11.147 44.2385 11.9729 42.4841 11.9729V11.9726ZM45.9262 1.72712C45.6979 1.72712 45.4625 1.74708 45.2204 1.78699C44.0308 1.98687 42.8139 2.64639 41.8123 3.64549C39.8493 5.59057 39.2846 8.32842 40.5887 9.62101C41.8928 10.9133 44.6493 10.3539 46.619 8.40853C48.5815 6.46346 49.1467 3.72562 47.8422 2.4333C47.3785 1.97366 46.713 1.72712 45.9333 1.72712H45.9262Z" fill="#393028"/>
              </g>
              <defs>
              <clipPath id="clip0_2125_21254">
              <rect width="69" height="12" fill="white"/>
              </clipPath>
              </defs>
              </svg>
              .right-spot
              .left-spot
              
            .tech-item
              h3 Клас:
              p комфорт
            .tech-item
              h3 Площа території:
              p складає 2,5 га 
          .swiper-slide 
            .tech-logo-decor 
              <svg xmlns="http://www.w3.org/2000/svg" width="69" height="12" viewBox="0 0 69 12" fill="none">
              <g clip-path="url(#clip0_2125_21254)">
              <path d="M6.01619 0C8.61248 0 10.7901 1.57555 11.5577 3.97998H9.70115C9.0311 2.55646 7.77492 1.58905 6.01619 1.58905C3.60136 1.58905 1.75873 3.49628 1.75873 5.96997C1.75873 8.44364 3.60136 10.3509 6.01619 10.3509C7.77492 10.3509 9.0311 9.3905 9.70115 7.95993H11.5577C10.7901 10.3647 8.61248 11.9399 6.01619 11.9399C2.61022 11.9402 0 9.33532 0 5.96997C0 2.60459 2.61022 0 6.01619 0Z" fill="#393028"/>
              <path d="M21.8087 8.51864C21.8087 10.3774 20.4479 11.8009 18.0259 11.8009H12.7637V0.192383H18.0051C20.3361 0.192383 21.6415 1.56747 21.6415 3.3432C21.6415 4.40747 21.1879 5.3194 20.1478 5.87911C21.2715 6.45968 21.809 7.3854 21.809 8.51864H21.8087ZM17.9213 5.26423C19.2613 5.26423 19.9453 4.60089 19.9453 3.42626C19.9453 2.25164 19.2613 1.71951 17.9213 1.71951H14.4385V5.27126H17.9213V5.26423ZM20.05 8.44964C20.05 7.30264 19.331 6.70827 17.9352 6.70827H14.4317V10.2738H17.9352C19.3242 10.2738 20.05 9.62426 20.05 8.44964Z" fill="#393028"/>
              <path d="M24.6197 0.192383V11.8009H22.9446V0.192383H24.6197Z" fill="#393028"/>
              <path d="M64.2868 11.737L61.4605 3.94257L57.5029 11.9028L53.7346 4.00477L50.7195 11.737H48.9607L52.8479 2.15304L51.8779 0.128418H53.7551L57.5243 8.43413L60.7555 2.001L60.0856 0.128418H61.893L66.1017 11.737H64.2868Z" fill="#393028"/>
              <path d="M68.9915 0.192383V11.8009H67.3164V0.192383H68.9915Z" fill="#393028"/>
              <path d="M38.0444 10.1602H36.7111V0.192383H29.4738V1.18737C29.4738 5.2105 28.5704 8.42029 26.9738 10.1602H25.8513V11.8009H38.0441V10.1602H38.0444ZM31.107 1.81079H35.0292V10.1599H28.9448C30.2802 8.15822 31.0238 5.30205 31.107 1.81079Z" fill="#393028"/>
              <path d="M42.4841 11.9726C41.2878 11.9726 40.1917 11.5864 39.3919 10.7936C37.4156 8.83503 37.9668 5.09808 40.6151 2.46676C41.8656 1.22786 43.3984 0.401634 44.9309 0.148629C46.5712 -0.124627 48.0234 0.268674 49.0184 1.25457C50.9948 3.21315 50.4434 6.9501 47.7952 9.58139C46.2153 11.147 44.2385 11.9729 42.4841 11.9729V11.9726ZM45.9262 1.72712C45.6979 1.72712 45.4625 1.74708 45.2204 1.78699C44.0308 1.98687 42.8139 2.64639 41.8123 3.64549C39.8493 5.59057 39.2846 8.32842 40.5887 9.62101C41.8928 10.9133 44.6493 10.3539 46.619 8.40853C48.5815 6.46346 49.1467 3.72562 47.8422 2.4333C47.3785 1.97366 46.713 1.72712 45.9333 1.72712H45.9262Z" fill="#393028"/>
              </g>
              <defs>
              <clipPath id="clip0_2125_21254">
              <rect width="69" height="12" fill="white"/>
              </clipPath>
              </defs>
              </svg>
              .right-spot
              .left-spot
            .tech-item
              h3 Площа озеленення:
              p 31%
            .tech-item
              h3 Секцій:
              p 18
      .swiper-tech-tablet 
        .swiper-wrapper 
          .swiper-slide 
            .tech-logo-decor 
              <svg xmlns="http://www.w3.org/2000/svg" width="69" height="12" viewBox="0 0 69 12" fill="none">
                <g clip-path="url(#clip0_2125_21254)">
                <path d="M6.01619 0C8.61248 0 10.7901 1.57555 11.5577 3.97998H9.70115C9.0311 2.55646 7.77492 1.58905 6.01619 1.58905C3.60136 1.58905 1.75873 3.49628 1.75873 5.96997C1.75873 8.44364 3.60136 10.3509 6.01619 10.3509C7.77492 10.3509 9.0311 9.3905 9.70115 7.95993H11.5577C10.7901 10.3647 8.61248 11.9399 6.01619 11.9399C2.61022 11.9402 0 9.33532 0 5.96997C0 2.60459 2.61022 0 6.01619 0Z" fill="#393028"/>
                <path d="M21.8087 8.51864C21.8087 10.3774 20.4479 11.8009 18.0259 11.8009H12.7637V0.192383H18.0051C20.3361 0.192383 21.6415 1.56747 21.6415 3.3432C21.6415 4.40747 21.1879 5.3194 20.1478 5.87911C21.2715 6.45968 21.809 7.3854 21.809 8.51864H21.8087ZM17.9213 5.26423C19.2613 5.26423 19.9453 4.60089 19.9453 3.42626C19.9453 2.25164 19.2613 1.71951 17.9213 1.71951H14.4385V5.27126H17.9213V5.26423ZM20.05 8.44964C20.05 7.30264 19.331 6.70827 17.9352 6.70827H14.4317V10.2738H17.9352C19.3242 10.2738 20.05 9.62426 20.05 8.44964Z" fill="#393028"/>
                <path d="M24.6197 0.192383V11.8009H22.9446V0.192383H24.6197Z" fill="#393028"/>
                <path d="M64.2868 11.737L61.4605 3.94257L57.5029 11.9028L53.7346 4.00477L50.7195 11.737H48.9607L52.8479 2.15304L51.8779 0.128418H53.7551L57.5243 8.43413L60.7555 2.001L60.0856 0.128418H61.893L66.1017 11.737H64.2868Z" fill="#393028"/>
                <path d="M68.9915 0.192383V11.8009H67.3164V0.192383H68.9915Z" fill="#393028"/>
                <path d="M38.0444 10.1602H36.7111V0.192383H29.4738V1.18737C29.4738 5.2105 28.5704 8.42029 26.9738 10.1602H25.8513V11.8009H38.0441V10.1602H38.0444ZM31.107 1.81079H35.0292V10.1599H28.9448C30.2802 8.15822 31.0238 5.30205 31.107 1.81079Z" fill="#393028"/>
                <path d="M42.4841 11.9726C41.2878 11.9726 40.1917 11.5864 39.3919 10.7936C37.4156 8.83503 37.9668 5.09808 40.6151 2.46676C41.8656 1.22786 43.3984 0.401634 44.9309 0.148629C46.5712 -0.124627 48.0234 0.268674 49.0184 1.25457C50.9948 3.21315 50.4434 6.9501 47.7952 9.58139C46.2153 11.147 44.2385 11.9729 42.4841 11.9729V11.9726ZM45.9262 1.72712C45.6979 1.72712 45.4625 1.74708 45.2204 1.78699C44.0308 1.98687 42.8139 2.64639 41.8123 3.64549C39.8493 5.59057 39.2846 8.32842 40.5887 9.62101C41.8928 10.9133 44.6493 10.3539 46.619 8.40853C48.5815 6.46346 49.1467 3.72562 47.8422 2.4333C47.3785 1.97366 46.713 1.72712 45.9333 1.72712H45.9262Z" fill="#393028"/>
                </g>
                <defs>
                <clipPath id="clip0_2125_21254">
                <rect width="69" height="12" fill="white"/>
                </clipPath>
                </defs>
              </svg>
              .right-spot
              .left-spot
              .top-spot 
              .bottom-spot
            .tech-item
              h3 Клас:
              p комфорт
            .tech-item
              h3 Площа території:
              p складає 2,5 га 
            .tech-item
              h3 Площа озеленення:
              p 31%
            .tech-item
              h3 Секцій:
              p 18
          .swiper-slide 
            .tech-logo-decor 
              <svg xmlns="http://www.w3.org/2000/svg" width="69" height="12" viewBox="0 0 69 12" fill="none">
              <g clip-path="url(#clip0_2125_21254)">
              <path d="M6.01619 0C8.61248 0 10.7901 1.57555 11.5577 3.97998H9.70115C9.0311 2.55646 7.77492 1.58905 6.01619 1.58905C3.60136 1.58905 1.75873 3.49628 1.75873 5.96997C1.75873 8.44364 3.60136 10.3509 6.01619 10.3509C7.77492 10.3509 9.0311 9.3905 9.70115 7.95993H11.5577C10.7901 10.3647 8.61248 11.9399 6.01619 11.9399C2.61022 11.9402 0 9.33532 0 5.96997C0 2.60459 2.61022 0 6.01619 0Z" fill="#393028"/>
              <path d="M21.8087 8.51864C21.8087 10.3774 20.4479 11.8009 18.0259 11.8009H12.7637V0.192383H18.0051C20.3361 0.192383 21.6415 1.56747 21.6415 3.3432C21.6415 4.40747 21.1879 5.3194 20.1478 5.87911C21.2715 6.45968 21.809 7.3854 21.809 8.51864H21.8087ZM17.9213 5.26423C19.2613 5.26423 19.9453 4.60089 19.9453 3.42626C19.9453 2.25164 19.2613 1.71951 17.9213 1.71951H14.4385V5.27126H17.9213V5.26423ZM20.05 8.44964C20.05 7.30264 19.331 6.70827 17.9352 6.70827H14.4317V10.2738H17.9352C19.3242 10.2738 20.05 9.62426 20.05 8.44964Z" fill="#393028"/>
              <path d="M24.6197 0.192383V11.8009H22.9446V0.192383H24.6197Z" fill="#393028"/>
              <path d="M64.2868 11.737L61.4605 3.94257L57.5029 11.9028L53.7346 4.00477L50.7195 11.737H48.9607L52.8479 2.15304L51.8779 0.128418H53.7551L57.5243 8.43413L60.7555 2.001L60.0856 0.128418H61.893L66.1017 11.737H64.2868Z" fill="#393028"/>
              <path d="M68.9915 0.192383V11.8009H67.3164V0.192383H68.9915Z" fill="#393028"/>
              <path d="M38.0444 10.1602H36.7111V0.192383H29.4738V1.18737C29.4738 5.2105 28.5704 8.42029 26.9738 10.1602H25.8513V11.8009H38.0441V10.1602H38.0444ZM31.107 1.81079H35.0292V10.1599H28.9448C30.2802 8.15822 31.0238 5.30205 31.107 1.81079Z" fill="#393028"/>
              <path d="M42.4841 11.9726C41.2878 11.9726 40.1917 11.5864 39.3919 10.7936C37.4156 8.83503 37.9668 5.09808 40.6151 2.46676C41.8656 1.22786 43.3984 0.401634 44.9309 0.148629C46.5712 -0.124627 48.0234 0.268674 49.0184 1.25457C50.9948 3.21315 50.4434 6.9501 47.7952 9.58139C46.2153 11.147 44.2385 11.9729 42.4841 11.9729V11.9726ZM45.9262 1.72712C45.6979 1.72712 45.4625 1.74708 45.2204 1.78699C44.0308 1.98687 42.8139 2.64639 41.8123 3.64549C39.8493 5.59057 39.2846 8.32842 40.5887 9.62101C41.8928 10.9133 44.6493 10.3539 46.619 8.40853C48.5815 6.46346 49.1467 3.72562 47.8422 2.4333C47.3785 1.97366 46.713 1.72712 45.9333 1.72712H45.9262Z" fill="#393028"/>
              </g>
              <defs>
              <clipPath id="clip0_2125_21254">
              <rect width="69" height="12" fill="white"/>
              </clipPath>
              </defs>
              </svg>
              .right-spot
              .left-spot
              .top-spot 
              .bottom-spot
            .tech-item
              h3 Клас:
              p комфорт
            .tech-item
              h3 Площа території:
              p складає 2,5 га 
            .tech-item
              h3 Площа озеленення:
              p 31%
            .tech-item
              h3 Секцій:
              p 18 
  section.developer-homepage.container 
    .developer-homepage__bg
      .developer-homepage__bg--blur
      img(src="./assets/images/home/dev-bg.jpg", alt="")
    .developer-homepage__title-wrap
      h2.section-title ХТО БУДУЄ
      a(href="/developer.html").general-btn.tablet-mode  
        span Дізнатися більше
    .developer-homepage__content 
      .developer-color-block
        h3.developer-color-block__title
          +svg("three-ellipse")
          | Проект ЖК Свідомі реалізує Inzhur — досвідчений гравець ринку української нерухомості
        +svg("square-logo")
        <svg xmlns="http://www.w3.org/2000/svg" class="ellipse-decor" width="280" height="169" viewBox="0 0 280 169" fill="none">
          <path d="M564.378 530.594C636.755 468.045 575.915 303.968 428.488 164.116C281.062 24.265 102.877 -38.4018 30.5002 24.1465C-41.8763 86.6947 18.9635 250.772 166.39 390.624C313.816 530.475 492.002 593.142 564.378 530.594Z" fill="#B3BECD"/>
        </svg>
      .developer-descr-block 
        h3 Маємо 16-річний досвід у будівництві, юриспруденції та інвестиціях
        .developer-descr-block__text-wrap 
          p Реалізували та здали в експлуатацію сучасний ЖК Оптимісто площею 86 986 м² — раніше заявлених термінів, незважаючи на пандемію та повномасштабну війну.
          p Побудували 40+ успішних комерційних обєктів нерухомості загальною площею більше 80 000 м² — це об'єкти для відомих українських та міжнародних брендів: “Сільпо”, McDonald’s, “Фора”, Novus, Comfy тощо.
          a(href="/developer.html").general-btn.mobile-mode  
            span Дізнатися більше
  section.terms-homepage.container 
    .terms-homepage__title-wrap
      h2.section-title УМОВИ ПРИДБАННЯ
      a(href="/payment.html").general-btn
        span Переглянути усі варіанти
    .terms-homepage__content
      a(href="/single-payment.html").terms-img-block
        .terms-img-block__wrap 
          .terms-img-block__wrap-bg 
          img(src="./assets/images/home/terms.jpg", alt="woman in the kitchen")
        .terms-img-block__title
          h3 Знижка 7% на купівлю квартири при повній оплаті
          .ellipse-btn 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
      .terms-banner-block
        a(href="/single-payment.html").terms-banner-item 
          h3 Знижка 3% на розтермінування під 0% від забудовника
          .terms-banner-item__list-wrap 
            ul  
              li Термін -  до 3х років
              li Перший внесок -  50%
            .ellipse-btn 
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
                <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
                <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
              </svg>
        a(href="/single-payment.html").terms-banner-item 
          h3 Квартира з розтермінуванням під 0% та знижкою 7%
          .terms-banner-item__list-wrap 
            ul  
              li Термін -  до 15 років
              li Перший внесок -  50%
            .ellipse-btn 
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
                <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
                <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
              </svg>
      a(href="/payment.html").general-btn.mob-tab-mode
        span Переглянути усі варіанти
  section.filler-3d
    img.filler-3d__bg(src="./assets/images/home/master-plan.jpg", alt="master-plan")
    .filler-3d__content
      img(src="./assets/images/home/title.svg", alt="title")
      p.filler-3d__descr Гармонія цінностей
      a(href="/3d").general-btn
        span Переглянути генплан
  section.progress-homepage.container.section
    .location-homepage__content
      h2.section-title НОВИНИ ТА ХІД РОБІТ
      .location-homepage__text-wrap 
        p У передмісті Києва ми створюємо житловий комплекс Свідомі. Тут кожна деталь — від архітектури до матеріалів — продумана, щоб забезпечити якість і комфорт на десятиліття.
        a(href="/progress.html").general-btn
          span Переглянути більше
    .swiper-progress 
      .swiper-wrapper 
        a(href="/single-promo.html").swiper-slide.progress-card
          img(src="./assets/images/home/progress1.jpg", alt="progress")
          .progress-card__bg
          .progress-card__date-wrap 
            p 06.08.2025
          .progress-card__text-wrap
            h3  Знижка 3% на розтермінування під 0% від забудовника
            .ellipse-btn 
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
                <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
                <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
              </svg>
        a(href="/single-promo.html").swiper-slide.progress-card
          img(src="./assets/images/home/progress2.jpg", alt="progress")
          .progress-card__bg
          .progress-card__date-wrap 
            p 06.09.2025
          .progress-card__text-wrap
            h3  Квартира з розтермінуванням під 0% та знижкою 7%
            .ellipse-btn  
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
                <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
                <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
              </svg>
        a(href="/single-promo.html").swiper-slide.progress-card
          img(src="./assets/images/home/progress3.jpg", alt="progress")
          .progress-card__bg
          .progress-card__date-wrap 
            p 25.10.2025
          .progress-card__text-wrap
            h3  Знижка 7% на купівлю квартири при повній оплаті
            .ellipse-btn 
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
                <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
                <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
              </svg>




block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
