
extends ../layout/main
block variable
  -
    var title_page = 'location'
    var id_page = 'id-page-location'
    var class_page = 'class-page-location'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/location.bundle.js')
block content
  h1 location

  section.cycle-section.container
    .cycle-section__house-wrapper
      picture.cycle-section__house
        source(media="(min-width: 1024px)" srcset="/assets/images/location/desk-house.jpg")
        source(media="(min-width: 768px)" srcset="/assets/images/location/tab-house.jpg")
        img(src="/assets/images/location/mob-house.jpg" alt="")

      picture.cycle-section__mask
        source(media="(min-width: 1024px)" srcset="/assets/images/location/desk-house-oval.svg")
        source(media="(min-width: 768px)" srcset="/assets/images/location/tab-house-oval.svg")
        img(src="/assets/images/location/mob-house-oval.svg" alt="")

    .icon-inzhure-block
      ul.cycle-icons-list
        li.cycle-icons-list__item
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" class="cycle-icon">
            <path d="M8.55754 24C6.16459 24 3.9723 23.2216 2.37252 21.6239C-1.58064 17.6767 -0.478174 10.1455 4.81919 4.84245C7.32038 2.34565 10.3864 0.680519 13.4517 0.170628C16.7326 -0.380077 19.6375 0.412559 21.6275 2.39947C25.5808 6.34669 24.4779 13.8779 19.1809 19.1809C16.0208 22.336 12.0668 24 8.55754 24Z" fill="#ECE9E2"/>
          </svg>
        li.cycle-icons-list__item
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" class="cycle-icon">
            <path d="M8.55754 24C6.16459 24 3.9723 23.2216 2.37252 21.6239C-1.58064 17.6767 -0.478174 10.1455 4.81919 4.84245C7.32038 2.34565 10.3864 0.680519 13.4517 0.170628C16.7326 -0.380077 19.6375 0.412559 21.6275 2.39947C25.5808 6.34669 24.4779 13.8779 19.1809 19.1809C16.0208 22.336 12.0668 24 8.55754 24Z" fill="#ECE9E2"/>
          </svg>
        li.cycle-icons-list__item
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="#ece9e2" class="cycle-icon">
            <path d="M8.55754 24C6.16459 24 3.9723 23.2216 2.37252 21.6239C-1.58064 17.6767 -0.478174 10.1455 4.81919 4.84245C7.32038 2.34565 10.3864 0.680519 13.4517 0.170628C16.7326 -0.380077 19.6375 0.412559 21.6275 2.39947C25.5808 6.34669 24.4779 13.8779 19.1809 19.1809C16.0208 22.336 12.0668 24 8.55754 24Z" fill="#ECE9E2"/>
        </svg>
      p.inzhur ЖК СВІДОМІ —

    h2.inzhur-title ЦЕ ВСЕ НЕОБХІДНЕ ДЛЯ ЖИТТЯ 

    .inzhure-text-link-block
      p.inzure-text <span>У максимальній доступності від вашого дому: </span>магазини, медичні заклади, школи та дитячі садочки, тренажерні зали, парки тощо.


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
