
extends ../layout/main
block variable
  -
    var title_page = 'present'
    var id_page = 'id-page-present'
    var class_page = 'class-page-present'
    var headerCustomClass = 'type1' 
    var footerCustomClass = ''
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/present.bundle.js')
block content
  section.present.container.documents
    <svg class="page-svg" xmlns="http://www.w3.org/2000/svg" width="265" height="219" viewBox="0 0 265 219" fill="none">
      <path d="M339.534 -177.04C400.735 -155.157 382.439 -49.8358 298.67 58.2024C214.901 166.241 97.3804 236.084 36.1801 214.201C-25.0202 192.319 -6.72468 86.9974 77.0443 -21.0408C160.813 -129.079 278.334 -198.922 339.534 -177.04Z" fill="#B3BECD"/>
    </svg>
    .page-title__wrap 
      include ../includes/breadcrumbs.pug
      h1 ПРЕЗЕНТАЦІЇ
    
    .present-content 
      .present-card 
        h3 Презентація 1 секції
        .present-card__btn-wrap
          
          a.general-btn(href="#")
            span Переглянути
          .svg-pdf 
            <svg xmlns="http://www.w3.org/2000/svg" width="92" height="92" viewBox="0 0 92 92" fill="none">
              <path d="M52.5 13.5H26C23.7909 13.5 22 15.2909 22 17.5V74C22 76.2091 23.7909 78 26 78H66C68.2091 78 70 76.2091 70 74V31.5M52.5 13.5V27.5C52.5 29.7091 54.2909 31.5 56.5 31.5H70M52.5 13.5L70 31.5" stroke="#393028"/>
              <path d="M43.7077 47.5571C42.3967 44.2675 40.5611 37.5567 43.7077 37.0304C46.8543 36.504 45.4559 42.9516 44.3633 46.2412C42.8337 51.0661 38.5946 61.7686 33.8747 65.9793C30.597 69.2689 27.3194 64.0055 41.0856 58.7422C50.2634 55.4526 54.1966 55.4526 56.8188 55.4526C60.752 55.4526 62.0631 57.4263 60.0965 58.7422C58.1299 60.058 48.2961 58.0833 43.7077 47.5571Z" stroke="#393028"/>
            </svg>
      .present-card 
        h3 Презентація 2 секції
        .present-card__btn-wrap
          a.general-btn(href="#")
            span Переглянути
          .svg-pdf 
            <svg xmlns="http://www.w3.org/2000/svg" width="92" height="92" viewBox="0 0 92 92" fill="none">
              <path d="M52.5 13.5H26C23.7909 13.5 22 15.2909 22 17.5V74C22 76.2091 23.7909 78 26 78H66C68.2091 78 70 76.2091 70 74V31.5M52.5 13.5V27.5C52.5 29.7091 54.2909 31.5 56.5 31.5H70M52.5 13.5L70 31.5" stroke="#393028"/>
              <path d="M43.7077 47.5571C42.3967 44.2675 40.5611 37.5567 43.7077 37.0304C46.8543 36.504 45.4559 42.9516 44.3633 46.2412C42.8337 51.0661 38.5946 61.7686 33.8747 65.9793C30.597 69.2689 27.3194 64.0055 41.0856 58.7422C50.2634 55.4526 54.1966 55.4526 56.8188 55.4526C60.752 55.4526 62.0631 57.4263 60.0965 58.7422C58.1299 60.058 48.2961 58.0833 43.7077 47.5571Z" stroke="#393028"/>
            </svg>
      .present-card 
        h3 Презентація 3 секції
        .present-card__btn-wrap
          a.general-btn(href="#")
            span Переглянути
          .svg-pdf 
            <svg xmlns="http://www.w3.org/2000/svg" width="92" height="92" viewBox="0 0 92 92" fill="none">
              <path d="M52.5 13.5H26C23.7909 13.5 22 15.2909 22 17.5V74C22 76.2091 23.7909 78 26 78H66C68.2091 78 70 76.2091 70 74V31.5M52.5 13.5V27.5C52.5 29.7091 54.2909 31.5 56.5 31.5H70M52.5 13.5L70 31.5" stroke="#393028"/>
              <path d="M43.7077 47.5571C42.3967 44.2675 40.5611 37.5567 43.7077 37.0304C46.8543 36.504 45.4559 42.9516 44.3633 46.2412C42.8337 51.0661 38.5946 61.7686 33.8747 65.9793C30.597 69.2689 27.3194 64.0055 41.0856 58.7422C50.2634 55.4526 54.1966 55.4526 56.8188 55.4526C60.752 55.4526 62.0631 57.4263 60.0965 58.7422C58.1299 60.058 48.2961 58.0833 43.7077 47.5571Z" stroke="#393028"/>
            </svg>
      .present-card 
        h3 Презентація 4 секції
        .present-card__btn-wrap
          a.general-btn(href="#")
            span Переглянути
          .svg-pdf 
            <svg xmlns="http://www.w3.org/2000/svg" width="92" height="92" viewBox="0 0 92 92" fill="none">
              <path d="M52.5 13.5H26C23.7909 13.5 22 15.2909 22 17.5V74C22 76.2091 23.7909 78 26 78H66C68.2091 78 70 76.2091 70 74V31.5M52.5 13.5V27.5C52.5 29.7091 54.2909 31.5 56.5 31.5H70M52.5 13.5L70 31.5" stroke="#393028"/>
              <path d="M43.7077 47.5571C42.3967 44.2675 40.5611 37.5567 43.7077 37.0304C46.8543 36.504 45.4559 42.9516 44.3633 46.2412C42.8337 51.0661 38.5946 61.7686 33.8747 65.9793C30.597 69.2689 27.3194 64.0055 41.0856 58.7422C50.2634 55.4526 54.1966 55.4526 56.8188 55.4526C60.752 55.4526 62.0631 57.4263 60.0965 58.7422C58.1299 60.058 48.2961 58.0833 43.7077 47.5571Z" stroke="#393028"/>
            </svg>
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
