
extends ../layout/main
block variable
  -
    var title_page = 'progress'
    var id_page = 'id-page-progress'
    var class_page = 'class-page-progress'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/progress.bundle.js')
block content
  section.progress-page.container.documents
    <svg class="page-svg" xmlns="http://www.w3.org/2000/svg" width="265" height="219" viewBox="0 0 265 219" fill="none">
      <path d="M339.534 -177.04C400.735 -155.157 382.439 -49.8358 298.67 58.2024C214.901 166.241 97.3804 236.084 36.1801 214.201C-25.0202 192.319 -6.72468 86.9974 77.0443 -21.0408C160.813 -129.079 278.334 -198.922 339.534 -177.04Z" fill="#B3BECD"/>
    </svg>
    .page-title__wrap 
      include ../includes/breadcrumbs.pug
      h1 Новини та хід робіт
    .progress-page__content
      a(href="/single-promo.html").swiper-slide.progress-card
        img(src="./assets/images/home/progress1.jpg", alt="progress")
        .progress-card__bg
        .progress-card__date-wrap 
          p 06.08.2025
        .progress-card__text-wrap
          h3  Знижка 3% на розтермінування під 0% від забудовника
          .ellipse-btn 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
      a(href="/single-promo.html").swiper-slide.progress-card
        img(src="./assets/images/home/progress2.jpg", alt="progress")
        .progress-card__bg
        .progress-card__date-wrap 
          p 06.09.2025
        .progress-card__text-wrap
          h3  Квартира з розтермінуванням під 0% та знижкою 7%
          .ellipse-btn  
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
      a(href="/single-promo.html").swiper-slide.progress-card
        img(src="./assets/images/home/progress3.jpg", alt="progress")
        .progress-card__bg
        .progress-card__date-wrap 
          p 25.10.2025
        .progress-card__text-wrap
          h3  Знижка 7% на купівлю квартири при повній оплаті
          .ellipse-btn 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
      a(href="/single-promo.html").swiper-slide.progress-card
        img(src="./assets/images/home/progress1.jpg", alt="progress")
        .progress-card__bg
        .progress-card__date-wrap 
          p 06.08.2025
        .progress-card__text-wrap
          h3  Знижка 3% на розтермінування під 0% від забудовника
          .ellipse-btn 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
      a(href="/single-promo.html").swiper-slide.progress-card
        img(src="./assets/images/home/progress2.jpg", alt="progress")
        .progress-card__bg
        .progress-card__date-wrap 
          p 06.09.2025
        .progress-card__text-wrap
          h3  Квартира з розтермінуванням під 0% та знижкою 7%
          .ellipse-btn  
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
      a(href="/single-promo.html").swiper-slide.progress-card
        img(src="./assets/images/home/progress3.jpg", alt="progress")
        .progress-card__bg
        .progress-card__date-wrap 
          p 25.10.2025
        .progress-card__text-wrap
          h3  Знижка 7% на купівлю квартири при повній оплаті
          .ellipse-btn 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
      a(href="/single-promo.html").swiper-slide.progress-card
        img(src="./assets/images/home/progress1.jpg", alt="progress")
        .progress-card__bg
        .progress-card__date-wrap 
          p 06.08.2025
        .progress-card__text-wrap
          h3  Знижка 3% на розтермінування під 0% від забудовника
          .ellipse-btn 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
      a(href="/single-promo.html").swiper-slide.progress-card
        img(src="./assets/images/home/progress2.jpg", alt="progress")
        .progress-card__bg
        .progress-card__date-wrap 
          p 06.09.2025
        .progress-card__text-wrap
          h3  Квартира з розтермінуванням під 0% та знижкою 7%
          .ellipse-btn  
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
      a(href="/single-promo.html").swiper-slide.progress-card
        img(src="./assets/images/home/progress3.jpg", alt="progress")
        .progress-card__bg
        .progress-card__date-wrap 
          p 25.10.2025
        .progress-card__text-wrap
          h3  Знижка 7% на купівлю квартири при повній оплаті
          .ellipse-btn 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
      a(href="/single-promo.html").swiper-slide.progress-card
        img(src="./assets/images/home/progress1.jpg", alt="progress")
        .progress-card__bg
        .progress-card__date-wrap 
          p 06.08.2025
        .progress-card__text-wrap
          h3  Знижка 3% на розтермінування під 0% від забудовника
          .ellipse-btn 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
      a(href="/single-promo.html").swiper-slide.progress-card
        img(src="./assets/images/home/progress2.jpg", alt="progress")
        .progress-card__bg
        .progress-card__date-wrap 
          p 06.09.2025
        .progress-card__text-wrap
          h3  Квартира з розтермінуванням під 0% та знижкою 7%
          .ellipse-btn  
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
      a(href="/single-promo.html").swiper-slide.progress-card
        img(src="./assets/images/home/progress3.jpg", alt="progress")
        .progress-card__bg
        .progress-card__date-wrap 
          p 25.10.2025
        .progress-card__text-wrap
          h3  Знижка 7% на купівлю квартири при повній оплаті
          .ellipse-btn 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M2 10.582H19.1757V13.4195H2V10.582Z" fill="#393028"/>
              <path d="M14.8949 2.22646H10.9146L18.1774 12H22.0001L14.8949 2.22646Z" fill="#393028"/>
              <path d="M14.8949 21.7735H10.9146L18.1774 12H22.0001L14.8949 21.7735Z" fill="#393028"/>
            </svg>
    .pagination-wrap
      .pagination
        button(type="button" disabled).pagination__button.prev
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M20 8.35547H2.82434V11.1929H20V8.35547Z" fill="#393028"/>
            <path d="M7.1056 -0.000103076H11.0859L3.82313 9.77344H0.000425339L7.1056 -0.000103076Z" fill="#393028"/>
            <path d="M7.1056 19.547H11.0859L3.82313 9.77344H0.000430107L7.1056 19.547Z" fill="#393028"/>
          </svg>
        .pagination__middle
          input(type="text", name="pagination-current").pagination__input
          .pagination__span.text-style-1920-tiny.color-white 
            | з 
            span 02 
            |  сторінок
        button(type="button").pagination__button.next
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M0 8.35547H17.1757V11.1929H0V8.35547Z" fill="#393028"/>
            <path d="M12.8944 -0.000103076H8.91406L16.1769 9.77344H19.9996L12.8944 -0.000103076Z" fill="#393028"/>
            <path d="M12.8944 19.547H8.91406L16.1769 9.77344H19.9996L12.8944 19.547Z" fill="#393028"/>
          </svg>
      button(type="button").incredible-button
        .incredible-button__title(data-title="Завантажити ще") Завантажити ще
        
        .incredible-button__line
        .incredible-button__line2
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
