
extends ../layout/main
block variable
  -
    var title_page = 'progress'
    var id_page = 'id-page-progress'
    var class_page = 'class-page-progress'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/progress.bundle.js')
block content
  section.progress-page.container
    .page-title__wrap 
      h1 Хід робіт та новини
      <svg width="596" height="791" viewBox="0 0 596 791" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_12751_13808)">
          <mask id="mask0_12751_13808" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="-6" width="596" height="798">
            <path d="M520.485 763.516C506.214 762.017 495.961 748.256 497.588 732.769C499.216 717.283 512.102 705.996 526.374 707.496L529.947 673.499C515.676 671.999 505.422 658.239 507.045 642.793C508.669 627.347 521.559 616.019 535.83 617.519L539.404 583.523C525.133 582.023 514.879 568.262 516.506 552.776C518.134 537.289 531.021 526.002 545.292 527.502L548.865 493.506C534.594 492.006 524.34 478.245 525.968 462.759C527.595 447.272 540.482 435.985 554.753 437.485L558.326 403.488C544.055 401.988 533.801 388.228 535.429 372.741C537.057 357.255 549.943 345.968 564.214 347.468L567.787 313.471C553.516 311.971 543.262 298.21 544.89 282.724C546.518 267.238 559.408 255.909 573.679 257.409L577.253 223.413C562.982 221.913 552.728 208.152 554.356 192.666C555.983 177.179 568.874 165.851 583.145 167.351L586.718 133.355C572.447 131.855 562.193 118.094 563.821 102.608C565.449 87.1214 578.339 75.7933 592.61 77.2932L595.557 49.2624L78.4053 -5.09239L75.4592 22.9384C89.7302 24.4383 99.984 38.199 98.3606 53.6446C96.7372 69.0901 83.8422 80.4591 69.5712 78.9591L65.998 112.956C80.269 114.456 90.5228 128.216 88.8951 143.703C87.2674 159.189 74.3767 170.517 60.1057 169.017L56.5325 203.014C70.8035 204.514 81.0573 218.274 79.4296 233.761C77.8019 249.247 64.9112 260.575 50.6402 259.075L47.067 293.072C61.338 294.572 71.5918 308.333 69.9684 323.778C68.345 339.224 55.45 350.593 41.179 349.093L37.6058 383.089C51.8768 384.589 62.1306 398.35 60.5072 413.795C58.8838 429.241 45.9888 440.61 31.7178 439.11L28.1446 473.106C42.4156 474.606 52.6694 488.367 51.046 503.813C49.4226 519.258 36.5276 530.627 22.2566 529.127L18.6834 563.124C32.9544 564.624 43.2082 578.384 41.5848 593.83C39.9614 609.275 27.0707 620.603 12.7997 619.103L9.22649 653.1C23.4975 654.6 33.7513 668.361 32.1279 683.806C30.5045 699.252 17.6095 710.621 3.33848 709.121L0.396616 737.111L517.548 791.466L520.49 763.476L520.485 763.516Z" fill="#C2E1EF"/>
          </mask>
        <g mask="url(#mask0_12751_13808)">
          <path d="M520.485 763.516C506.214 762.017 495.961 748.256 497.588 732.769C499.216 717.283 512.102 705.996 526.374 707.496L529.947 673.499C515.676 671.999 505.422 658.239 507.045 642.793C508.669 627.347 521.559 616.019 535.83 617.519L539.404 583.523C525.133 582.023 514.879 568.262 516.506 552.776C518.134 537.289 531.021 526.002 545.292 527.502L548.865 493.506C534.594 492.006 524.34 478.245 525.968 462.759C527.595 447.272 540.482 435.985 554.753 437.485L558.326 403.488C544.055 401.988 533.801 388.228 535.429 372.741C537.057 357.255 549.943 345.968 564.214 347.468L567.787 313.471C553.516 311.971 543.262 298.21 544.89 282.724C546.518 267.238 559.408 255.909 573.679 257.409L577.253 223.413C562.982 221.913 552.728 208.152 554.356 192.666C555.983 177.179 568.874 165.851 583.145 167.351L586.718 133.355C572.447 131.855 562.193 118.094 563.821 102.608C565.449 87.1214 578.339 75.7933 592.61 77.2932L595.557 49.2624L78.4053 -5.09239L75.4592 22.9384C89.7302 24.4383 99.984 38.199 98.3606 53.6446C96.7372 69.0901 83.8422 80.4591 69.5712 78.9591L65.998 112.956C80.269 114.456 90.5228 128.216 88.8951 143.703C87.2674 159.189 74.3767 170.517 60.1057 169.017L56.5325 203.014C70.8035 204.514 81.0573 218.274 79.4296 233.761C77.8019 249.247 64.9112 260.575 50.6402 259.075L47.067 293.072C61.338 294.572 71.5918 308.333 69.9684 323.778C68.345 339.224 55.45 350.593 41.179 349.093L37.6058 383.089C51.8768 384.589 62.1306 398.35 60.5072 413.795C58.8838 429.241 45.9888 440.61 31.7178 439.11L28.1446 473.106C42.4156 474.606 52.6694 488.367 51.046 503.813C49.4226 519.258 36.5276 530.627 22.2566 529.127L18.6834 563.124C32.9544 564.624 43.2082 578.384 41.5848 593.83C39.9614 609.275 27.0707 620.603 12.7997 619.103L9.22649 653.1C23.4975 654.6 33.7513 668.361 32.1279 683.806C30.5045 699.252 17.6095 710.621 3.33848 709.121L0.396616 737.111L517.548 791.466L520.49 763.476L520.485 763.516Z" fill="#C2E1EF"/>
          <path d="M482.956 814.551C430.084 780.86 374.242 774.175 315.13 796.097C303.484 800.309 291.151 802.275 279.096 805.357C278.561 805.437 278.141 805.665 277.606 805.744C270.439 806.214 263.198 806.133 255.869 805.634C249.467 805.097 243.252 804.036 237.224 802.451C225.09 797.506 213.813 793.195 203.688 786.694C186.644 775.796 169.448 767.601 151.97 762.094C120.187 752.23 87.5877 751.386 53.9996 759.952C53.5943 760.045 53.1891 760.139 52.6535 760.218C50.2222 760.778 47.907 761.486 45.4474 762.315C43.682 762.809 42.047 763.317 40.2816 763.811C38.9214 764.212 37.5471 764.747 36.0425 765.268C34.8127 765.683 33.4525 766.083 32.2086 766.632C31.8033 766.725 31.384 766.953 30.9787 767.047C20.823 770.872 10.083 772.733 -0.597397 775.281C-9.12447 776.151 -17.6971 776.202 -26.3295 775.566C-31.8049 774.991 -37.2661 774.281 -42.5404 773.047C-42.5545 773.181 -42.5687 773.316 -42.5969 773.585C-42.0909 778.803 -41.3383 784.182 -40.5574 789.293L-40.5857 789.562C-38.0671 805.729 -34.3187 821.482 -29.6013 836.792C-2.53085 838.822 25.2178 834.399 53.5001 823.644C57.623 822.039 61.7177 820.702 65.9144 819.648C101.472 811.153 135.039 816.584 167.749 837.691C220.709 871.799 277.038 876.361 335.671 853.981C375.353 838.852 413.014 842.946 448.669 866.129C468.658 879.104 489.754 889.068 513.325 893.041C513.716 893.082 513.977 893.109 514.368 893.15C516.947 893.693 519.396 894.222 521.859 894.617C522.349 893.717 522.969 892.831 523.459 891.931C524.771 889.486 526.226 886.921 527.407 884.463C528.402 882.529 529.396 880.594 530.39 878.66C531.384 876.726 532.248 874.778 533.112 872.83C534.451 870.117 535.66 867.389 536.739 864.649C537.416 863.225 537.949 861.921 538.495 860.484C541.848 852.409 544.838 844.025 547.582 835.479C544.96 835.339 542.194 835.32 539.457 835.033C518.672 833.392 500.073 826 482.406 814.765" fill="#C2E1EF"/>
          <path d="M231.335 608.524C232.309 616.818 233.678 627.611 236.655 638.163C239.209 647.716 244.669 654.706 252.932 658.851C257.179 661.073 262.178 662.417 267.914 663.02C283.165 664.623 295.012 658.496 302.47 645.217C306.206 638.51 309.435 631.614 311.737 624.756C324.547 588.148 337.11 551.377 349.659 514.742L353.099 504.59C357.848 490.754 362.452 477.039 367.389 462.677L374.656 441.186C360.51 435.331 345.729 430.5 330.546 426.993L273.85 601.524L256.794 418.968C241.083 419.229 225.635 420.745 210.581 423.532L215.985 472.431C221.05 518.29 226.055 563.461 231.335 608.524Z" fill="#F6D7A8"/>
          <path d="M563.478 751.208L395.325 732.444L559.598 677.621C557.669 665.834 555.059 654.249 551.768 642.865C550.715 639.075 549.531 635.271 548.202 631.588L545.333 632.513C542.884 633.21 540.827 633.948 538.639 634.672L512.735 643.805C487.931 652.509 463.128 661.212 438.426 670.2L431.429 672.735C407.017 681.48 381.634 690.668 357.095 700.626C342.623 706.464 334.782 719.54 335.505 736.514C336.254 751.991 343.257 763.221 355.829 769.175C356.831 769.689 357.847 770.069 358.863 770.448C365.206 772.886 371.242 774.475 376.972 775.213C416.79 780.625 456.636 785.766 496.482 790.908L513.018 793.055C524.085 794.491 535.283 795.941 546.743 797.418L557.027 798.771C559.363 787.842 561.047 776.845 562.237 765.523C562.733 760.805 563.098 756.074 563.319 751.464" fill="#F6D7A8"/>
          <path d="M0.536342 738.78L17.1191 740.115C57.071 743.362 97.0371 746.474 137.003 749.586C142.618 750.04 148.968 749.756 155.664 748.691C156.734 748.531 157.804 748.372 158.889 748.077C172.379 745.006 181.687 735.372 185.5 720.399C189.728 703.974 184.789 689.578 171.877 680.874C149.996 666.058 127.132 651.819 105.124 638.213L98.8211 634.286C76.5804 620.384 54.1811 606.738 31.7818 593.092L8.39718 578.797C6.5426 577.65 4.54365 576.624 2.3125 575.301L-0.179127 573.951C-0.98589 575.362 -1.79266 576.774 -2.59942 578.186C-3.56471 579.853 -4.54415 581.655 -5.50944 583.322C-11.2417 594.012 -16.2207 605.052 -20.7071 616.417L128.228 704.04L-39.7629 687.472C-40.5184 692.154 -41.1436 696.85 -41.6387 701.56C-42.8125 712.729 -43.3352 723.966 -43.4389 734.975L-33.1218 735.787C-21.6325 736.723 -10.5339 737.617 0.69487 738.525" fill="#F6D7A8"/>
          <path d="M323.053 621.316C318.264 628.039 312.062 636.932 307.092 646.636C302.612 655.437 301.937 664.366 305.067 673.422C306.683 678.091 309.355 682.735 312.982 687.071C322.918 699.024 335.528 703.076 349.683 698.701C356.898 696.459 363.778 693.637 369.906 690.463C403.491 672.858 436.96 655.104 470.444 637.216L479.78 632.334C492.338 625.609 504.896 618.884 517.873 611.93L536.992 601.668C530.623 587.09 523.142 573.077 514.779 559.927L358.323 646.567L467.169 501.744C455.919 491.017 443.802 481.017 430.906 472.162L402.576 511.181C375.76 548.315 349.291 584.667 323.053 621.316Z" fill="#F6D7A8"/>
          <path d="M156.813 664.108C162.981 669.404 171.095 676.271 180.263 681.882C188.43 686.978 197.14 688.167 206.001 685.408C210.635 683.981 215.251 681.459 219.721 677.828C231.944 668.177 236.727 655.284 233.408 640.446C231.697 632.885 229.552 625.688 226.685 619.099C211.833 583.502 196.851 547.891 181.869 512.28L177.763 502.417C172.172 489.117 166.451 475.803 160.526 461.921L151.412 440.733C136.95 446.594 122.896 453.592 109.526 461.618L183.312 629.03L49.7701 508.238C38.579 519.364 28.2156 531.397 18.6799 544.337L55.4015 576.355C89.467 606.044 122.923 635.258 156.538 664.216" fill="#F6D7A8"/>
        </g>
        </g>
        <defs>
          <clipPath id="clip0_12751_13808">
            <rect width="520" height="740" fill="white" transform="translate(78.0996 0.699036) rotate(6)"/>
          </clipPath>
        </defs>
      </svg>
    .progress-page__content
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
      a(href="/").progress-card
        .progress-card__img-wrap
          img(src="./assets/images/progress-1.jpg", alt="progress")
        .progress-card__text-wrap 
          h3 Змонтовано перекриття другого поверху
          .progress-card__bottom-block 
            .progress-card__button 
              span Дізнатися більше
              <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 6.36035L46.2967 9.49906L43 12.6386L44.9977 9.49946L43 6.36035Z" stroke="#343B52"/>
                <path d="M45 9V10L1 10V9L45 9Z" fill="#343B52"/>
              </svg>
            p.progress-card__date 06.08.2025
    .pagination-wrap
      .pagination
        button(type="button" disabled).pagination__button.prev
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.5385 6L6 12M6 12L11.5385 18M6 12H18" stroke="#101820" stroke-width="1"/>
          </svg>
        .pagination__middle
          input(type="text", name="pagination-current").pagination__input
          .pagination__span.text-style-1920-tiny.color-white 
            | з 
            span 02 
            |  сторінок
        button(type="button").pagination__button.next
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.4615 6L18 12M18 12L12.4615 18M18 12L6 12" stroke="#101820" stroke-width="1"/>
          </svg>
      button(type="button").incredible-button
        .incredible-button__title(data-title="ЗАВАНТАЖИТИ ЩЕ") ЗАВАНТАЖИТИ ЩЕ
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
          <path d="M6.5 12.4615L12.5 18M12.5 18L18.5 12.4615M12.5 18L12.5 6" stroke="#1C1E2C"/>
        </svg>
        .incredible-button__line
        .incredible-button__line2
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
