
extends ../layout/main
block variable
  -
    var title_page = 'single-promo'
    var id_page = 'id-page-single-promo'
    var class_page = 'class-page-single-promo'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/singleProgress.bundle.js')
block content
  section.property.container.sp
    .page-title__wrap 
      h1 Змонтовано перекриття другого поверху
      <svg width="596" height="791" viewBox="0 0 596 791" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_12751_13808)">
          <mask id="mask0_12751_13808" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="-6" width="596" height="798">
            <path d="M520.485 763.516C506.214 762.017 495.961 748.256 497.588 732.769C499.216 717.283 512.102 705.996 526.374 707.496L529.947 673.499C515.676 671.999 505.422 658.239 507.045 642.793C508.669 627.347 521.559 616.019 535.83 617.519L539.404 583.523C525.133 582.023 514.879 568.262 516.506 552.776C518.134 537.289 531.021 526.002 545.292 527.502L548.865 493.506C534.594 492.006 524.34 478.245 525.968 462.759C527.595 447.272 540.482 435.985 554.753 437.485L558.326 403.488C544.055 401.988 533.801 388.228 535.429 372.741C537.057 357.255 549.943 345.968 564.214 347.468L567.787 313.471C553.516 311.971 543.262 298.21 544.89 282.724C546.518 267.238 559.408 255.909 573.679 257.409L577.253 223.413C562.982 221.913 552.728 208.152 554.356 192.666C555.983 177.179 568.874 165.851 583.145 167.351L586.718 133.355C572.447 131.855 562.193 118.094 563.821 102.608C565.449 87.1214 578.339 75.7933 592.61 77.2932L595.557 49.2624L78.4053 -5.09239L75.4592 22.9384C89.7302 24.4383 99.984 38.199 98.3606 53.6446C96.7372 69.0901 83.8422 80.4591 69.5712 78.9591L65.998 112.956C80.269 114.456 90.5228 128.216 88.8951 143.703C87.2674 159.189 74.3767 170.517 60.1057 169.017L56.5325 203.014C70.8035 204.514 81.0573 218.274 79.4296 233.761C77.8019 249.247 64.9112 260.575 50.6402 259.075L47.067 293.072C61.338 294.572 71.5918 308.333 69.9684 323.778C68.345 339.224 55.45 350.593 41.179 349.093L37.6058 383.089C51.8768 384.589 62.1306 398.35 60.5072 413.795C58.8838 429.241 45.9888 440.61 31.7178 439.11L28.1446 473.106C42.4156 474.606 52.6694 488.367 51.046 503.813C49.4226 519.258 36.5276 530.627 22.2566 529.127L18.6834 563.124C32.9544 564.624 43.2082 578.384 41.5848 593.83C39.9614 609.275 27.0707 620.603 12.7997 619.103L9.22649 653.1C23.4975 654.6 33.7513 668.361 32.1279 683.806C30.5045 699.252 17.6095 710.621 3.33848 709.121L0.396616 737.111L517.548 791.466L520.49 763.476L520.485 763.516Z" fill="#C2E1EF"/>
          </mask>
        <g mask="url(#mask0_12751_13808)">
          <path d="M520.485 763.516C506.214 762.017 495.961 748.256 497.588 732.769C499.216 717.283 512.102 705.996 526.374 707.496L529.947 673.499C515.676 671.999 505.422 658.239 507.045 642.793C508.669 627.347 521.559 616.019 535.83 617.519L539.404 583.523C525.133 582.023 514.879 568.262 516.506 552.776C518.134 537.289 531.021 526.002 545.292 527.502L548.865 493.506C534.594 492.006 524.34 478.245 525.968 462.759C527.595 447.272 540.482 435.985 554.753 437.485L558.326 403.488C544.055 401.988 533.801 388.228 535.429 372.741C537.057 357.255 549.943 345.968 564.214 347.468L567.787 313.471C553.516 311.971 543.262 298.21 544.89 282.724C546.518 267.238 559.408 255.909 573.679 257.409L577.253 223.413C562.982 221.913 552.728 208.152 554.356 192.666C555.983 177.179 568.874 165.851 583.145 167.351L586.718 133.355C572.447 131.855 562.193 118.094 563.821 102.608C565.449 87.1214 578.339 75.7933 592.61 77.2932L595.557 49.2624L78.4053 -5.09239L75.4592 22.9384C89.7302 24.4383 99.984 38.199 98.3606 53.6446C96.7372 69.0901 83.8422 80.4591 69.5712 78.9591L65.998 112.956C80.269 114.456 90.5228 128.216 88.8951 143.703C87.2674 159.189 74.3767 170.517 60.1057 169.017L56.5325 203.014C70.8035 204.514 81.0573 218.274 79.4296 233.761C77.8019 249.247 64.9112 260.575 50.6402 259.075L47.067 293.072C61.338 294.572 71.5918 308.333 69.9684 323.778C68.345 339.224 55.45 350.593 41.179 349.093L37.6058 383.089C51.8768 384.589 62.1306 398.35 60.5072 413.795C58.8838 429.241 45.9888 440.61 31.7178 439.11L28.1446 473.106C42.4156 474.606 52.6694 488.367 51.046 503.813C49.4226 519.258 36.5276 530.627 22.2566 529.127L18.6834 563.124C32.9544 564.624 43.2082 578.384 41.5848 593.83C39.9614 609.275 27.0707 620.603 12.7997 619.103L9.22649 653.1C23.4975 654.6 33.7513 668.361 32.1279 683.806C30.5045 699.252 17.6095 710.621 3.33848 709.121L0.396616 737.111L517.548 791.466L520.49 763.476L520.485 763.516Z" fill="#C2E1EF"/>
          <path d="M482.956 814.551C430.084 780.86 374.242 774.175 315.13 796.097C303.484 800.309 291.151 802.275 279.096 805.357C278.561 805.437 278.141 805.665 277.606 805.744C270.439 806.214 263.198 806.133 255.869 805.634C249.467 805.097 243.252 804.036 237.224 802.451C225.09 797.506 213.813 793.195 203.688 786.694C186.644 775.796 169.448 767.601 151.97 762.094C120.187 752.23 87.5877 751.386 53.9996 759.952C53.5943 760.045 53.1891 760.139 52.6535 760.218C50.2222 760.778 47.907 761.486 45.4474 762.315C43.682 762.809 42.047 763.317 40.2816 763.811C38.9214 764.212 37.5471 764.747 36.0425 765.268C34.8127 765.683 33.4525 766.083 32.2086 766.632C31.8033 766.725 31.384 766.953 30.9787 767.047C20.823 770.872 10.083 772.733 -0.597397 775.281C-9.12447 776.151 -17.6971 776.202 -26.3295 775.566C-31.8049 774.991 -37.2661 774.281 -42.5404 773.047C-42.5545 773.181 -42.5687 773.316 -42.5969 773.585C-42.0909 778.803 -41.3383 784.182 -40.5574 789.293L-40.5857 789.562C-38.0671 805.729 -34.3187 821.482 -29.6013 836.792C-2.53085 838.822 25.2178 834.399 53.5001 823.644C57.623 822.039 61.7177 820.702 65.9144 819.648C101.472 811.153 135.039 816.584 167.749 837.691C220.709 871.799 277.038 876.361 335.671 853.981C375.353 838.852 413.014 842.946 448.669 866.129C468.658 879.104 489.754 889.068 513.325 893.041C513.716 893.082 513.977 893.109 514.368 893.15C516.947 893.693 519.396 894.222 521.859 894.617C522.349 893.717 522.969 892.831 523.459 891.931C524.771 889.486 526.226 886.921 527.407 884.463C528.402 882.529 529.396 880.594 530.39 878.66C531.384 876.726 532.248 874.778 533.112 872.83C534.451 870.117 535.66 867.389 536.739 864.649C537.416 863.225 537.949 861.921 538.495 860.484C541.848 852.409 544.838 844.025 547.582 835.479C544.96 835.339 542.194 835.32 539.457 835.033C518.672 833.392 500.073 826 482.406 814.765" fill="#C2E1EF"/>
          <path d="M231.335 608.524C232.309 616.818 233.678 627.611 236.655 638.163C239.209 647.716 244.669 654.706 252.932 658.851C257.179 661.073 262.178 662.417 267.914 663.02C283.165 664.623 295.012 658.496 302.47 645.217C306.206 638.51 309.435 631.614 311.737 624.756C324.547 588.148 337.11 551.377 349.659 514.742L353.099 504.59C357.848 490.754 362.452 477.039 367.389 462.677L374.656 441.186C360.51 435.331 345.729 430.5 330.546 426.993L273.85 601.524L256.794 418.968C241.083 419.229 225.635 420.745 210.581 423.532L215.985 472.431C221.05 518.29 226.055 563.461 231.335 608.524Z" fill="#F6D7A8"/>
          <path d="M563.478 751.208L395.325 732.444L559.598 677.621C557.669 665.834 555.059 654.249 551.768 642.865C550.715 639.075 549.531 635.271 548.202 631.588L545.333 632.513C542.884 633.21 540.827 633.948 538.639 634.672L512.735 643.805C487.931 652.509 463.128 661.212 438.426 670.2L431.429 672.735C407.017 681.48 381.634 690.668 357.095 700.626C342.623 706.464 334.782 719.54 335.505 736.514C336.254 751.991 343.257 763.221 355.829 769.175C356.831 769.689 357.847 770.069 358.863 770.448C365.206 772.886 371.242 774.475 376.972 775.213C416.79 780.625 456.636 785.766 496.482 790.908L513.018 793.055C524.085 794.491 535.283 795.941 546.743 797.418L557.027 798.771C559.363 787.842 561.047 776.845 562.237 765.523C562.733 760.805 563.098 756.074 563.319 751.464" fill="#F6D7A8"/>
          <path d="M0.536342 738.78L17.1191 740.115C57.071 743.362 97.0371 746.474 137.003 749.586C142.618 750.04 148.968 749.756 155.664 748.691C156.734 748.531 157.804 748.372 158.889 748.077C172.379 745.006 181.687 735.372 185.5 720.399C189.728 703.974 184.789 689.578 171.877 680.874C149.996 666.058 127.132 651.819 105.124 638.213L98.8211 634.286C76.5804 620.384 54.1811 606.738 31.7818 593.092L8.39718 578.797C6.5426 577.65 4.54365 576.624 2.3125 575.301L-0.179127 573.951C-0.98589 575.362 -1.79266 576.774 -2.59942 578.186C-3.56471 579.853 -4.54415 581.655 -5.50944 583.322C-11.2417 594.012 -16.2207 605.052 -20.7071 616.417L128.228 704.04L-39.7629 687.472C-40.5184 692.154 -41.1436 696.85 -41.6387 701.56C-42.8125 712.729 -43.3352 723.966 -43.4389 734.975L-33.1218 735.787C-21.6325 736.723 -10.5339 737.617 0.69487 738.525" fill="#F6D7A8"/>
          <path d="M323.053 621.316C318.264 628.039 312.062 636.932 307.092 646.636C302.612 655.437 301.937 664.366 305.067 673.422C306.683 678.091 309.355 682.735 312.982 687.071C322.918 699.024 335.528 703.076 349.683 698.701C356.898 696.459 363.778 693.637 369.906 690.463C403.491 672.858 436.96 655.104 470.444 637.216L479.78 632.334C492.338 625.609 504.896 618.884 517.873 611.93L536.992 601.668C530.623 587.09 523.142 573.077 514.779 559.927L358.323 646.567L467.169 501.744C455.919 491.017 443.802 481.017 430.906 472.162L402.576 511.181C375.76 548.315 349.291 584.667 323.053 621.316Z" fill="#F6D7A8"/>
          <path d="M156.813 664.108C162.981 669.404 171.095 676.271 180.263 681.882C188.43 686.978 197.14 688.167 206.001 685.408C210.635 683.981 215.251 681.459 219.721 677.828C231.944 668.177 236.727 655.284 233.408 640.446C231.697 632.885 229.552 625.688 226.685 619.099C211.833 583.502 196.851 547.891 181.869 512.28L177.763 502.417C172.172 489.117 166.451 475.803 160.526 461.921L151.412 440.733C136.95 446.594 122.896 453.592 109.526 461.618L183.312 629.03L49.7701 508.238C38.579 519.364 28.2156 531.397 18.6799 544.337L55.4015 576.355C89.467 606.044 122.923 635.258 156.538 664.216" fill="#F6D7A8"/>
        </g>
        </g>
        <defs>
          <clipPath id="clip0_12751_13808">
            <rect width="520" height="740" fill="white" transform="translate(78.0996 0.699036) rotate(6)"/>
          </clipPath>
        </defs>
      </svg>
    .sp-content 
      .sp-date-wrap 
        a(href="/").back-btn
          .back-btn-wrap
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M5.37891 12.3623L4.99902 12L5.37891 11.6377L8.67578 8.49805L9.44238 9.12891L7.93359 11.5L19 11.5L19 12.5L7.93457 12.5L9.44238 14.8701L8.67578 15.501L5.37891 12.3623Z" fill="#F4F5F9"/>
            </svg>
          span НАЗАД
        p.sp-date 06.08.2025
      .sp-content__container 
        h2 Завершення ключового етапу
        p Змонтовано перекриття другого поверху, що знаменує завершення одного з найбільш важливих і відповідальних етапів у процесі зведення будівлі. Перекриття виконує критичну роль у забезпеченні структурної стійкості будинку, розподіляючи навантаження між поверхами. Завдяки використанню сучасних матеріалів і технологій, цей етап був завершений швидко й без затримок. Інженери ретельно перевірили кожен вузол конструкції, що гарантує надійність і безпеку в майбутньому експлуатаційному періоді. Монтажні роботи виконувалися з точним дотриманням будівельних норм, щоб забезпечити довговічність та відповідність високим стандартам якості.
        .swiper-sp
          .swiper-wrapper 
            .swiper-slide 
              img(src="./assets/images/progress-1.jpg", alt="progress")
            .swiper-slide 
              img(src="./assets/images/progress-2.jpg", alt="progress")
            .swiper-slide 
              img(src="./assets/images/progress-3.jpg", alt="progress")
          .swiper-btns 
            .swiper-button-prev 
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M1.37891 11.1387L0.999023 11.501L1.37891 11.8633L4.67578 15.0029L5.44238 14.3721L3.93359 12.001H23V11.001H3.93457L5.44238 8.63086L4.67578 8L1.37891 11.1387Z" fill="#F4F5F9"/>
              </svg>
            .swiper-button-next 
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M22.6211 11.1387L23.001 11.501L22.6211 11.8633L19.3242 15.0029L18.5576 14.3721L20.0664 12.001H1V11.001H20.0654L18.5576 8.63086L19.3242 8L22.6211 11.1387Z" fill="#F4F5F9"/>
              </svg>
        h3 Станом на сьогоднішній день, вже було зроблено:
        ul 
          li Завершено штукатурні роботи;
          li Вкладання керамічної плитки в МЗК 1-го під’їзду виконано на 80%;
          li Тривають малярні роботи в 1-му під’їзді;
          li Змонтовано 1 шар покрівлі з руберойду;
          li Завершено мурування стін та перегородок на 6-му поверсі;
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tkj0oZwCpbk?si=_lsKn2Fq5g3fIUbb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  section.sp-other.container
    .section-title.sp-other__title
      <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 140 140" fill="none">
        <path d="M122.244 82.3769C109.705 76.2739 97.1377 76.097 84.5115 82.1999C82.0213 83.3793 79.3262 84.0869 76.7189 85.0303C76.6017 85.0598 76.5138 85.1188 76.3966 85.1482C74.8147 85.4136 73.2034 85.561 71.5629 85.62C70.1274 85.6495 68.7213 85.561 67.3444 85.3546C64.532 84.5586 61.9247 83.8805 59.5225 82.7012C55.4798 80.7258 51.4663 79.3401 47.4528 78.5441C40.1583 77.1289 32.893 77.6891 25.6278 80.313C25.5399 80.3425 25.452 80.372 25.3348 80.4015C24.8075 80.5784 24.3095 80.7848 23.7822 81.0206C23.4014 81.168 23.0498 81.3155 22.669 81.4629C22.376 81.5808 22.0831 81.7282 21.7608 81.8756C21.4972 81.9936 21.2042 82.1115 20.9405 82.2589C20.8527 82.2884 20.7648 82.3474 20.6769 82.3769C18.509 83.4382 16.1654 84.0869 13.8511 84.8829C11.9762 85.2662 10.072 85.4726 8.13848 85.5315C6.90808 85.5315 5.67767 85.502 4.47656 85.3546C4.47656 85.3841 4.47656 85.4136 4.47656 85.4726C4.71093 86.5929 5.00388 87.7427 5.29683 88.8336V88.8926C6.23428 92.3421 7.43539 95.6737 8.84157 98.8873C14.9057 98.7104 20.9698 97.1183 27.0047 94.1406C27.8835 93.6983 28.7624 93.315 29.6706 92.9907C37.3752 90.3372 44.9627 90.75 52.726 94.5828C65.2937 100.774 77.92 100.479 90.4291 94.288C98.8955 90.1014 107.362 90.1309 115.828 94.3469C120.574 96.7056 125.496 98.3861 130.827 98.7104C130.915 98.7104 130.974 98.7104 131.062 98.7104C131.648 98.7694 132.204 98.8284 132.761 98.8578C132.849 98.6515 132.966 98.4451 133.054 98.2387C133.288 97.6785 133.552 97.0889 133.757 96.5287C133.933 96.0864 134.108 95.6442 134.284 95.2019C134.46 94.7597 134.606 94.3175 134.753 93.8752C134.987 93.2561 135.192 92.6369 135.368 92.0178C135.485 91.6935 135.573 91.3986 135.661 91.0743C136.218 89.2464 136.686 87.3595 137.097 85.4431C136.511 85.4726 135.895 85.5315 135.28 85.5315C130.622 85.6495 126.316 84.4701 122.127 82.4358" fill="#C2E1EF"/>
        <path d="M83.8479 123.322C75.3845 127.578 66.921 127.459 58.4576 123.233C47.5635 117.816 36.6401 117.072 25.6582 121.001C25.7753 120.971 25.8924 120.941 26.0096 120.882C25.8632 120.882 25.7167 120.882 25.5703 120.912C37.5772 131.863 53.4498 138.559 70.8745 138.559C82.1201 138.559 92.7213 135.762 102.034 130.822C101.126 131.298 100.218 131.774 99.2812 132.191C100.218 131.744 101.126 131.298 102.034 130.822C102.034 130.822 102.122 130.792 102.18 130.762C102.239 130.762 102.298 130.703 102.356 130.673C103.235 130.197 104.143 129.721 104.992 129.185C106.866 128.084 108.682 126.893 110.439 125.614C111.083 125.137 111.727 124.661 112.372 124.155C112.489 124.066 112.635 123.947 112.752 123.858C113.338 123.382 113.924 122.905 114.51 122.429C114.51 122.429 114.539 122.4 114.568 122.37C115.212 121.834 115.827 121.269 116.442 120.703C115.974 120.525 115.476 120.376 115.007 120.227C104.26 117.221 93.8927 118.263 83.8772 123.292" fill="#C2E1EF"/>
        <path d="M122.394 103.113C109.504 96.7513 96.7306 96.8405 83.8109 103.113C81.1743 104.392 78.274 105.313 75.4029 105.849C68.8113 107.068 62.6591 105.432 56.7998 102.37C51.8781 99.8134 46.5754 99.0405 41.097 98.4756C30.6676 97.4053 22.0838 102.905 12.7383 105.908C15.1113 109.892 17.8651 113.608 20.9705 117.027C22.6697 116.492 24.3396 115.897 25.9216 115.154C34.9741 110.843 43.7923 110.754 52.7569 115.154C64.9149 121.13 77.2193 121.278 89.3479 115.303C98.547 110.784 107.482 110.784 116.74 115.214C118.088 115.868 119.494 116.373 120.929 116.849C124.093 113.37 126.876 109.535 129.279 105.432C126.935 104.808 124.562 104.213 122.394 103.173" fill="#C2E1EF"/>
        <path d="M61.5047 43.422C61.9148 45.1989 62.4713 47.5089 63.3794 49.7301C64.1703 51.744 65.5471 53.1359 67.4804 53.8467C68.4764 54.2317 69.6188 54.4094 70.9077 54.4094C74.335 54.4094 76.8249 52.8102 78.1724 49.7597C78.8461 48.2197 79.4027 46.6501 79.7542 45.1101C81.7461 36.8769 83.6795 28.6141 85.6128 20.3809L86.1401 18.1005C86.8724 14.9909 87.5754 11.9108 88.3371 8.68272L89.4502 3.85536C86.1694 2.90765 82.7714 2.19687 79.3148 1.78225L70.7906 40.9342L62.735 1.72302C59.2491 2.13764 55.8511 2.8188 52.5703 3.76651L54.9138 14.2505C57.1107 24.0829 59.2784 33.7672 61.5047 43.422Z" fill="#1C1E2C"/>
        <path d="M138.662 66.8005L100.85 66.564L136.08 50.9263C135.376 48.4136 134.526 45.9601 133.528 43.5657C133.206 42.7675 132.854 41.9694 132.472 41.2008L131.856 41.4669C131.328 41.6738 130.888 41.8807 130.419 42.0876L124.875 44.6594C119.565 47.113 114.255 49.5665 108.975 52.0792L107.479 52.7886C102.258 55.2422 96.8307 57.814 91.6092 60.5336C88.5291 62.1299 87.0917 65.1451 87.649 68.8106C88.177 72.151 89.9958 74.4272 92.9293 75.4322C93.1639 75.5209 93.3986 75.58 93.6333 75.6392C95.1 76.0235 96.4787 76.2304 97.7695 76.2599C106.746 76.526 115.722 76.7329 124.699 76.9398L128.424 77.0285C130.918 77.0876 133.44 77.1468 136.022 77.2059L138.339 77.265C138.603 74.841 138.721 72.417 138.721 69.9339C138.721 68.8993 138.691 67.8647 138.633 66.8596" fill="#1C1E2C"/>
        <path d="M13.2473 76.9395L16.9642 76.851C25.9198 76.6444 34.8755 76.4083 43.8311 76.1722C45.0896 76.1427 46.4944 75.9361 47.9577 75.5525C48.1919 75.4935 48.426 75.4344 48.6601 75.3459C51.5868 74.372 53.4306 72.0701 53.9281 68.7353C54.4842 65.0758 53.0501 62.0656 49.9771 60.472C44.7676 57.7569 39.3533 55.1894 34.1438 52.7399L32.6512 52.0316C27.3832 49.5231 22.0859 47.0736 16.7886 44.6242L11.2571 42.0566C10.8181 41.8501 10.3499 41.673 9.82307 41.4369L9.23774 41.2008C9.0914 41.5254 8.94507 41.8501 8.79873 42.1747C8.62313 42.5583 8.44753 42.9715 8.27193 43.3552C7.24759 45.8046 6.39886 48.3131 5.66719 50.8807L40.8166 66.4924L3.09171 66.7285C3.03317 67.7614 3.00391 68.7943 3.00391 69.8272C3.00391 72.2767 3.15024 74.7261 3.38437 77.1166L5.69645 77.0576C8.27193 76.9986 10.7596 76.9395 13.2766 76.8805" fill="#1C1E2C"/>
        <path d="M82.1875 44.1057C81.2802 45.6733 80.1095 47.7438 79.2315 49.9622C78.4413 51.9735 78.4998 53.9257 79.4071 55.8187C79.8754 56.7947 80.5778 57.7412 81.4851 58.599C83.9728 60.9653 86.8703 61.5568 89.9141 60.285C91.4653 59.6343 92.9287 58.8652 94.2164 58.037C101.27 53.4524 108.294 48.8382 115.318 44.1944L117.279 42.9226C119.913 41.1774 122.547 39.4323 125.269 37.6281L129.279 34.966C127.523 31.949 125.533 29.0799 123.367 26.4179L90.6165 48.779L111.426 14.8824C108.675 12.8119 105.748 10.9189 102.675 9.29211L97.2895 18.4022C92.197 27.0686 87.163 35.5576 82.1875 44.1057Z" fill="#1C1E2C"/>
        <path d="M46.2379 57.1785C47.7326 58.1866 49.6963 59.4913 51.8651 60.4994C53.7995 61.4186 55.7632 61.4779 57.6682 60.6773C58.6647 60.2622 59.6319 59.6099 60.5405 58.7203C63.0317 56.3482 63.7937 53.4424 62.7093 50.2994C62.1524 48.6982 61.5076 47.186 60.7163 45.822C56.5838 38.4388 52.422 31.0557 48.2602 23.6725L47.1172 21.6265C45.5638 18.869 43.9811 16.1114 42.3399 13.2352L39.8193 8.8468C36.7419 10.448 33.7818 12.2864 30.9975 14.3323L51.3083 48.9651L18.8051 25.8074C16.5777 28.476 14.5554 31.3225 12.7383 34.347L21.6481 40.4551C29.9131 46.1185 38.0315 51.693 46.1793 57.2081" fill="#1C1E2C"/>
      </svg>
      h2 Дивіться також
    .promo-list 
      a(href="/").promo-homepage-card
        img(src="./assets/images/promo-1.jpg", alt="promo")
        .promo-homepage-card-top
            .promo-homepage-card-list
                .promo-homepage-card-list-item 
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M15.9894 5.5H6.00796C5.22044 5.5 4.58203 6.13841 4.58203 6.92593V16.9074C4.58203 17.6949 5.22044 18.3333 6.00796 18.3333H15.9894C16.777 18.3333 17.4154 17.6949 17.4154 16.9074V6.92593C17.4154 6.13841 16.777 5.5 15.9894 5.5Z" stroke="#F4F5F9" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.75 3.66699V6.41699" stroke="#F4F5F9" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.25 3.66699V6.41699" stroke="#F4F5F9" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.58203 9.16699H17.4154" stroke="#F4F5F9" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    span.text-tiny.text-white до 27.08.2024
                
            .promo-homepage-card-button
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 8 23" fill="none">
                  <path d="M3.30273 0.880859L3.66504 0.500976L4.02734 0.880859L7.16699 4.17773L6.53613 4.94434L4.16504 3.43555L4.16504 22.502L3.16504 22.502L3.16504 3.43652L0.794921 4.94434L0.164062 4.17773L3.30273 0.880859Z" fill="#F4F5F9"/>
                </svg>
        .promo-homepage-card-text
            h3.promo-homepage-card-title.text-h4.text-white Знижка -5% при 100% оплаті
      a(href="/").promo-homepage-card
        img(src="./assets/images/promo-2.jpg", alt="promo")
        .promo-homepage-card-top
            .promo-homepage-card-list
                .promo-homepage-card-list-item 
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M15.9894 5.5H6.00796C5.22044 5.5 4.58203 6.13841 4.58203 6.92593V16.9074C4.58203 17.6949 5.22044 18.3333 6.00796 18.3333H15.9894C16.777 18.3333 17.4154 17.6949 17.4154 16.9074V6.92593C17.4154 6.13841 16.777 5.5 15.9894 5.5Z" stroke="#F4F5F9" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.75 3.66699V6.41699" stroke="#F4F5F9" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.25 3.66699V6.41699" stroke="#F4F5F9" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.58203 9.16699H17.4154" stroke="#F4F5F9" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    span.text-tiny.text-white до 27.08.2024
                
            .promo-homepage-card-button
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 8 23" fill="none">
                  <path d="M3.30273 0.880859L3.66504 0.500976L4.02734 0.880859L7.16699 4.17773L6.53613 4.94434L4.16504 3.43555L4.16504 22.502L3.16504 22.502L3.16504 3.43652L0.794921 4.94434L0.164062 4.17773L3.30273 0.880859Z" fill="#F4F5F9"/>
                </svg>
        .promo-homepage-card-text
            h3.promo-homepage-card-title.text-h4.text-white Знижки на паркомісця
      a(href="/").promo-homepage-card
        img(src="./assets/images/promo-3.jpg", alt="promo")
        .promo-homepage-card-top
            .promo-homepage-card-list
                .promo-homepage-card-list-item 
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M15.9894 5.5H6.00796C5.22044 5.5 4.58203 6.13841 4.58203 6.92593V16.9074C4.58203 17.6949 5.22044 18.3333 6.00796 18.3333H15.9894C16.777 18.3333 17.4154 17.6949 17.4154 16.9074V6.92593C17.4154 6.13841 16.777 5.5 15.9894 5.5Z" stroke="#F4F5F9" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.75 3.66699V6.41699" stroke="#F4F5F9" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.25 3.66699V6.41699" stroke="#F4F5F9" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.58203 9.16699H17.4154" stroke="#F4F5F9" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    span.text-tiny.text-white до 27.08.2024
                
            .promo-homepage-card-button
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 8 23" fill="none">
                  <path d="M3.30273 0.880859L3.66504 0.500976L4.02734 0.880859L7.16699 4.17773L6.53613 4.94434L4.16504 3.43555L4.16504 22.502L3.16504 22.502L3.16504 3.43652L0.794921 4.94434L0.164062 4.17773L3.30273 0.880859Z" fill="#F4F5F9"/>
                </svg>
        .promo-homepage-card-text
            h3.promo-homepage-card-title.text-h4.text-white Спецпропозиція для ЗСУ, ветеранів та мешканців ТОТ
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
