@import './pages/about';
@import './pages/commercial';
@import './pages/developer';
@import './pages/documents';
@import './pages/floors';
@import './pages/index';
@import './pages/invest';
@import './pages/location';
@import './pages/patio';
@import './pages/payment';
@import './pages/present';
@import './pages/progress';
@import './pages/promo';
@import './pages/property';
@import './pages/single-payment';
@import './pages/single-promo';
@import './pages/terms';
