@import './pages/about';
@import './pages/commercial';
@import './pages/company';
@import './pages/contacts';
@import './pages/developer';
@import './pages/documents';
@import './pages/index';
@import './pages/location';
@import './pages/payment';
@import './pages/present';
@import './pages/progress';
@import './pages/showroom';
@import './pages/single-payment';
@import './pages/single-promo';
