.class-page-404 {
  & .left-side__breadcrumbs,
  & .left-side__down-button {
    display: none;
  }

  & .left-side {
    padding-bottom: 0;
    min-height: 0;

    @include tablet {
      min-height: 512px;
    }
  }

  & .right-side {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 40px;
    }

    @include laptop {
      margin-bottom: 0;
    }
  }

  & .left-side__title {
    font-size: 42px;
    line-height: 100%;
    margin-bottom: 20px;

    @include tablet {
      font-size: 80px;
    }

    @include laptop {
      font-size: vw(100);
    }
  }

  & .left-side__subtitle {
    margin-top: 0;
  }

  & .hero-page {
    min-height: calc(100svh - 120px);

    @include tablet {
      min-height: calc(100svh - 108px);
    }

    @include laptop {
      min-height: calc(100svh - 150px);
    }
  }
}

.not-found-section {
  padding-bottom: 60px;

  @include tablet {
    padding-bottom: 100px;
  }

  @include laptop {
    padding-bottom: 140px;
  }
}

.icon-text-block {
  position: absolute;
  top: 72px;
  right: 34px;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 20px;

  @include tablet {
    top: 184px;
    right: 74px;
  }

  @include laptop {
    flex-direction: column-reverse;
    gap: 60px;

    @media screen and (min-width: 1366px) {
      top: 255px;
      right: 248px;
    }
  }
}

.icon-404 {
  width: 120px;
  height: 120px;

  @include laptop {
    width: 140px;
    height: 140px;
  }
}

.text-404 {
  @include section-title;

  font-size: 80px;
  color: $text-color-2;

  @include tablet {
    font-size: 160px;
  }

  @include tablet {
    font-size: vw(260);
  }
}

.nav-block {
  border-radius: 24px;
  border: 1px solid $accent-color-2;
  padding: 20px;
  position: absolute;
  top: 394px;
  z-index: 1;
  max-width: 335px;

  @include tablet {
    height: 238px;
    top: 655px;
    right: 20px;
    padding: 40px;
    max-width: 479px;
    bottom: 144px;
  }

  @include laptop {
    max-width: 445px;

    @media screen and (max-width: 1199px) {
      top: 290px;
      left: 20px;
    }

    @media screen and (min-width: 1200px) and (max-width: 1365px) {
      top: 320px;
      left: 20px;
    }

    @media screen and (min-width: 1366px) and (max-width: 1650px) {
      top: 380px;
      left: 200px;
    }

    @media screen and (min-width: 1650px) {
      top: 444px;
      left: 335px;
    }
  }
}

.nav-block-text {
  @include general-text;

  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.nav-block-list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.back-link {
  &.general-btn {
    background-color: $bc;

    span {
      color: $text-color;
    }

    &::before {
      background-color: $olive-color;
    }

    &:hover {
      span {
        color: $text-color-2;
      }
    }
  }
}
