.not-found-section {
  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 100px;
  }

  @include laptop {
    margin-bottom: 140px;
  }
}

.class-page-404 {
  & .left-side {
    padding-bottom: 0;
    min-height: 0;

    @include tablet {
      min-height: 512px;
    }

    @include laptop {
      top: 105px;
    }
  }

  & .right-side {
    overflow: hidden;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 40px;
    }

    @include laptop {
      margin-bottom: 0;
    }
  }

  & .left-side__title {
    font-size: 42px;
    line-height: 100%;
    margin-bottom: 20px;

    @include tablet {
      font-size: 80px;
      line-height: 90%;
    }

    @include laptop {
      font-size: vw(100);
      margin-bottom: 40px;
    }
  }

  & .left-side__subtitle {
    margin-top: 0;
  }

  & .hero-page {
    min-height: calc(100svh - 90px);

    @include tablet {
      min-height: calc(100svh - 108px);
    }

    @include laptop {
      min-height: calc(100svh - 150px);
    }
  }
}

.icon-text-block {
  position: absolute;
  top: 0;
  right: 34px;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 20px;

  @include tablet {
    top: 76px;
    right: 74px;
  }

  @include laptop {
    flex-direction: column-reverse;
    gap: 60px;
    @media screen and (min-width: 1366px) {
      top: 105px;
      right: 248px;
    }
  }
}

.icon-404 {
  width: 120px;
  height: 120px;

  @include laptop {
    width: 140px;
    height: 140px;
  }
}

.text-404 {
  @include section-title;

  font-size: 80px;
  color: $text-color-2;

  @include tablet {
    font-size: 160px;
  }

  @include tablet {
    font-size: vw(260);
  }
}

.nav-block {
  border-radius: 24px;
  border: 1px solid $accent-color-2;
  padding: 20px;
  position: relative;
  z-index: 2;
  max-width: 479px;
  margin: 20px 0 0;

  @include tablet {
    margin: 40px 0 0 auto;
  }

  @include laptop {
    max-width: 445px;
    margin: 40px 0 0 35%;
  }
}

.nav-block-text {
  @include general-text;

  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.nav-block-list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.back-link {
  &.general-btn {
    background-color: $bc;

    span {
      color: $text-color;
    }

    &::before {
      background-color: $olive-color;
    }

    &:hover {
      span {
        color: $text-color-2;
      }
    }
  }
}
