.footer {
  position: relative;

  overflow: hidden;
  max-width: 100vw;

  @include tablet {
  }

  &.monotone {
    .footer-form-section {
      background-color: $accent-color-2;
    }
  }
}

.footer-form-section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: $accent-color-2;

  @include tablet {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 155px;
    padding-right: 155px;
  }

  @include laptop {
    padding-top: vw(200);
    padding-bottom: vw(200);
    padding-left: vw(195);
    padding-right: vw(195);
  }

  & > picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__blocks-wrap {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;

    @include tablet {
      gap: 40px;
    }

    @include laptop {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: rgba(100, 104, 110, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 28px 20px;

    @include tablet {
      padding: 60px 40px;
    }

    @include laptop {
      width: vw(700);
      padding: vw(60) vw(40);
    }

    @media screen and (min-width: 1366px) {
      width: vw(600);
    }

    h3 {
      @include block-title;
      color: $wc;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $olive-color;
      text-align: center;

      @include tablet {
        font-size: 48px;
        padding-bottom: 60px;
        margin-bottom: 60px;
      }

      @include laptop {
        padding-bottom: vw(60);
        margin-bottom: vw(60);
        font-size: clamp(32px, calc(32px + (36 - 32) * ((100vw - 1024px) / (1920 - 1024))), 48px);
      }
    }

    .header-link {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 12px;

      svg {
        width: 24px;
        height: 24px;

        @include tablet {
          width: 40px;
          height: 40px;
        }
      }

      span {
        @include general-text;
        color: $wc;
        line-height: 0.8;

        @include tablet {
          font-size: 32px;
        }

        @include laptop {
          font-size: clamp(32px, calc(32px + (36 - 32) * ((100vw - 1024px) / (1920 - 1024))), 36px);
        }
      }

      @include tablet {
        gap: 20px;
        margin-bottom: 28px;
      }
    }

    .general-btn {
      width: 100%;
    }
  }
}

.footer-contacts-section {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include tablet {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 60px;
  }

  @include laptop {
    gap: 20px;
    flex-wrap: nowrap;
  }

  .footer-contacts-section__label {
    @include general-text;
    color: #64686e;
    margin-bottom: 8px;
    display: block;

    @include tablet {
      margin-bottom: 12px;
    }
  }

  .footer-contacts-section__link {
    @include block-title;
    color: $accent-color;
    display: block;

    span {
      @include block-title;
      color: $accent-color;
    }
  }

  .footer-contacts-section__nav-menu,
  .footer-contacts-section__address-socials {
    @include tablet {
      width: calc(50% - 10px);
    }

    @include laptop {
      width: calc((100% - 60px) / 4);
    }
  }

  .footer-contacts-section__address-socials {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include tablet {
      gap: 40px;
    }
  }

  .footer-nav__list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include tablet {
      gap: 12px;
    }
  }

  .social-footer__list {
    display: flex;
    align-items: center;
    gap: 12px;

    .social-footer__link {
      width: 41px;
      height: 55px;
      background-color: $olive-color;

      &::before {
        background-color: $accent-color-2;
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .address-wrap {
    .footer-contacts-section__link {
      position: relative;

      text-decoration: none;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          120deg,
          transparent 0%,
          rgba(255, 255, 255, 0.3) 50%,
          transparent 100%
        );
        transform: skewX(-20deg);
        transition: left 0.5s ease;
      }

      &:hover::before {
        left: 100%;
      }
    }
  }
}

.btn-up {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  margin-left: auto;

  @include tablet {
    margin-top: auto;
  }

  @include laptop {
    margin-top: 0;
    margin-bottom: auto;
  }

  span {
    @include text-24;
    color: $accent-color;
  }

  .ellipse-btn {
    background-color: $accent-color;

    &::before {
      background-color: $olive-color;
    }

    svg path {
      transition: all 0.4s ease-in-out;
    }
  }

  &:hover {
    .ellipse-btn svg path {
      fill: $accent-color-2;
    }

    .ellipse-btn::before {
      transform: translate3d(100%, 30%, 0);
    }
  }
}

.footer__bottom-block {
  padding-top: 40px;
  border-top: 1px solid rgba(57, 48, 40, 0.2);
  padding-bottom: 20px;

  .footer__license-wrap {
    display: flex;
    justify-content: space-between;
  }

  .footer__license {
    @include general-text;
    color: #64686e;

    span {
      display: block;

      @include tablet {
        margin-top: 0;
        margin-left: 12px;
        display: inline;
      }
    }
  }
}

.dev-logo {
  transform: translateY(20px);

  .dev-logo-bg {
    transition: fill 0.4s ease;
  }

  &:hover {
    .dev-logo-bg {
      fill: $olive-color;
    }
  }
}
