.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 0.4s ease;

  &.visible {
    transform: translateY(0);
  }

  &.hide {
    .header-bg {
      transform: translateY(-100%);
    }
  }
}

.nav-link {
  overflow: hidden;
  position: relative;

  .fake {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-105%);
    transition: all 0.4s ease-in-out;
    color: $olive-color;
  }

  .real {
    display: block;
    transition: all 0.4s ease-in-out;
    transform: translateY(0%);
  }

  &:hover {
    .fake {
      transform: translateY(0%);
    }

    .real {
      transform: translateY(105%);
    }
  }
}

.header-bg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 72px;
  transition: all 0.4s ease-out;
  width: 100%;
  background-color: $accent-color;
  position: relative;
  transition: all 0.4s ease;


  @include tablet {
    height: 108px;

  }

  @include laptop-header {
    height: 150px;
    justify-content: space-between;

  }

  &.menu-is-open {
    height: 60px;

    @include tablet {
      height: 88px;

    }

    @include laptop {
      height: 120px;

    }
  }

  &.scroll-down {
    height: 60px;

    @include tablet {
      height: 88px;

    }

    @include laptop {
      height: 120px;

    }


  }

  .general-btn {

    background-color: $olive-color;

    span {
      color: $accent-color;
    }

    &::before {
      background-color: $wc;
    }

    &:hover {
      color: $wc;

    }
  }

  .socials-list {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}

.header-left-toolkit {
  display: flex;
  gap: 28px;
  align-items: center;
}

.logo-wrap {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 134px;
  height: 40px;

  display: flex;
  align-items: center;
  height: 100%;

  @include tablet {
    width: 207px;
    height: 63px;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .rotate-hover {
    transition: all 0.5s ease-in-out;
    transform-origin: center center;
    transform-box: fill-box;
  }

  &:hover {
    .rotate-hover {
      transform: rotateY(360deg);
    }
  }




  @include laptop-header {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;


  }

}

.header-tools__wrapper {
  display: flex;
  align-items: center;
  gap: 14px;


  @include tablet {
    padding-left: 20px;
    gap: 16px;
  }

  @include laptop-header {
    gap: 28px;

  }
}


.ellipse-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotate(50deg);
  background-color: $olive-color;
  width: 41px;
  height: 55px;
  transform-origin: center center;
  border-radius: 50%/50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%/50%;
    top: 0;
    left: 0%;

    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    background-color: $wc;

  }

  &:hover {


    &::before {
      transform: translate3d(100%, 30%, 0);
    }

    // &.button--white {
    //   background: var(--green-light);
    // }
  }

  @include tablet {
    width: 59px;
    height: 78px;
  }

  svg {
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 2;
    transform: rotate(-50deg);

    @include tablet {
      width: 24px;
      height: 24px;
    }
  }
}

.header-mob-tel {
  display: flex;
  align-items: center;
  gap: 12px;

  @include laptop-header {
    display: none;
  }

  span {
    display: none;

    @include tablet {
      display: inline;
      transition: all 0.5s ease;
      color: $text-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      font-family: $default-font;
      line-height: 100%;
      text-transform: uppercase;
    }
  }

  svg path {
    transition: all 0.4s ease-in-out;
  }

  svg {
    width: 24px;
    height: 24px;

    @include tablet {
      width: 13px;
      height: 13px;
    }
  }
}

.header-link {
  display: none;

  &.header-call-back {
    svg {
      clip-path: polygon(30% 0%, 100% 0, 100% 100%, 30% 100%);
      overflow: hidden;
      transition: all 0.4s linear;
      transform: translateX(-29%);
      transform-origin: left
    }

    &:hover,
    &:focus {
      svg {
        clip-path: polygon(1% 0%, 100% 0%, 100% 100%, 1% 100%);
        transform: translateX(0%);

      }
    }
  }

  @include laptop-header {
    display: flex;
    // align-items: baseline;
    gap: 12px;

    span {
      transition: all 0.5s ease;
      color: $wc;
      font-size: 1.25vw;
      font-style: normal;
      font-weight: 600;
      font-family: $default-font;
      line-height: 140%;
      text-transform: uppercase;
      letter-spacing: -0.06em;

    }

    svg path {
      transition: all 0.5s ease;

    }
  }

  &.laptop-mode {
    display: none;

    @include laptop-header {
      display: flex;
    }
  }
}

@media (hover: hover) {
  .header-link svg {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box
  }

  .header-link span {
    position: relative
  }

  .header-link span:after {
    content: "";
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0)
  }

  .header-link:hover svg {
    -webkit-animation: wobble 1s ease infinite;
    animation: wobble 1s ease infinite
  }

  .header-link:hover span:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
  }
}

@-webkit-keyframes wobble {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }

  15% {
    -webkit-transform: translateX(-2px) rotate(-5deg);
    transform: translateX(-2px) rotate(-5deg)
  }

  30% {
    -webkit-transform: translateX(1px) rotate(5deg);
    transform: translateX(1px) rotate(5deg)
  }

  45% {
    -webkit-transform: translateX(-1px) rotate(-2.7777777778deg);
    transform: translateX(-1px) rotate(-2.7777777778deg)
  }

  60% {
    -webkit-transform: translateX(.6060606061px) rotate(1.6666666667deg);
    transform: translateX(.6060606061px) rotate(1.6666666667deg)
  }

  75% {
    -webkit-transform: translateX(-.3636363636px) rotate(-1deg);
    transform: translateX(-.3636363636px) rotate(-1deg)
  }
}

@keyframes wobble {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }

  15% {
    -webkit-transform: translateX(-2px) rotate(-5deg);
    transform: translateX(-2px) rotate(-5deg)
  }

  30% {
    -webkit-transform: translateX(1px) rotate(5deg);
    transform: translateX(1px) rotate(5deg)
  }

  45% {
    -webkit-transform: translateX(-1px) rotate(-2.7777777778deg);
    transform: translateX(-1px) rotate(-2.7777777778deg)
  }

  60% {
    -webkit-transform: translateX(.6060606061px) rotate(1.6666666667deg);
    transform: translateX(.6060606061px) rotate(1.6666666667deg)
  }

  75% {
    -webkit-transform: translateX(-.3636363636px) rotate(-1deg);
    transform: translateX(-.3636363636px) rotate(-1deg)
  }
}



.socials-list {
  display: flex;
  align-items: center;
  gap: 4px;

  .social-link {
    padding: 12px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    width: 48px;
    height: 48px;

    .social-svg {
      width: 24px;
      height: 24px;
      transition: all 0.4s ease-in-out;
    }

    .social-hover-svg {
      position: absolute;
      width: 24px;
      height: 24px;
      transition: all 0.4s ease-in-out;
      transform: translate(-50%, 150%);
      top: 50%;
      left: 50%;

      path {
        fill: $olive-color;
      }

    }

    &:hover {
      .social-svg {
        transform: translateY(-200%);
      }

      .social-hover-svg {
        transform: translate(-50%, -50%);
      }
    }
  }


}


.flats-mob-btn {
  @include laptop-header {
    display: none;
  }
}

.general-btn.laptop-mode {

  margin-right: 12px;

}

.menu-burger {
  transform: rotate(-50deg);
  display: flex;
  flex-direction: column;
  gap: 2px;

  @include tablet {
    gap: 4px;
  }

  span {
    position: relative;
    z-index: 3;
    width: 16px;
    height: 2px;
    border-radius: 4px;
    background-color: $text-color;
    transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out, width 0.4s ease-in-out, background-color 0.4s ease;

    @include tablet {
      width: 24px;
      height: 3px;
    }


  }

}

.header.menu-is-open {
  background-color: transparent;

  .menu-burger {
    .over {
      transform: rotate(45deg) translate(2px, 1px);

      @include tablet {
        transform: rotate(45deg) translate(3px, 2px);
      }
    }

    .under {
      transform: rotate(-45deg) translate(2px, -1px);

      @include tablet {
        transform: rotate(-45deg) translate(4px, -2px);
      }
    }

  }
}








.menu-overlay {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  // background-color: $bg-color;
  pointer-events: all;
  display: flex;


  @include laptop {
    align-items: center;
  }

  .menu-left-part,
  .menu-right-part {
    position: absolute;
    z-index: -1;
    background-color: $wc;
    width: 50%;
    top: 0;
    height: 100%;
  }

  .menu-right-part {
    right: 0;
  }

  &.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

}

.menu-container {
  width: 100%;
  height: 100svh;
  padding-top: 60px;
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 100%;


  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    padding-top: 120px;
  }

  @include laptop {
    padding: 6.2vw;
    padding-top: 15vw;
    // padding-top: 8vw;
    row-gap: 0;
    height: auto;
  }
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.3s ease-in-out;
  flex: 1;
  background-color: $blue-color;
  position: relative;



  @include tablet {
    flex: auto;
    width: calc((100% - 20px) / 2);
    // padding: 8px;
    height: fit-content;
    // gap: 12px;
    background-color: transparent;
  }

  @include laptop {
    width: calc((100% - 80px) / 5);
    // padding: 2vw;
    padding-bottom: 2.2vw;
    flex-direction: column;
    // gap: 2.2vw;


  }

  .menu-item-double-wrap {
    transition: transform 0.5s cubic-bezier(.31, 2.93, .43, .39);
    display: flex;
    justify-content: center;
    align-items: center;
    // transition: height 0.3s ease-in-out;
    // flex: 1;
    background-color: $blue-color;

    @include tablet {
      // flex: auto;
      // width: calc((100% - 20px) / 2);
      padding: 8px;
      height: fit-content;
      gap: 12px;
    }

    @include laptop {
      // width: calc((100% - 80px) / 5);
      padding: 2vw;
      padding-bottom: 2.2vw;
      flex-direction: column;
      gap: 2.2vw;
    }


  }

  &:hover {

    // transform: translate(10%, -10%) !important;
    .menu-item-double-wrap {
      transform: translate(0%, -10%);
    }

    z-index: 11;
  }


  img {
    display: none;

    @include tablet {
      display: block;
      flex: 1;
      width: 50%;
      aspect-ratio: 1 / 0.75;
    }

    @include laptop {
      width: 100%;
      aspect-ratio: 1 / 0.83;

    }
  }

  span {
    @include block-title;
    color: $dark-color;
    text-align: 2;

    @include tablet {
      display: block;
      flex: 1;
      text-align: center;
    }
  }

  &-1 {

    @include tablet {
      transform: rotate(1deg);

    }

    @include laptop {
      transform: rotate(3deg) translate(20%, 0);
      z-index: 10;
    }
  }

  &-2 {
    .menu-item-double-wrap {
      background-color: $accent-color-2;
    }

    background-color: $accent-color-2;

    @include tablet {
      transform: rotate(-1deg);
      background-color: transparent;
    }

    @include laptop {
      transform: rotate(-7deg) translate(10%, -5%);
      z-index: 9;
    }
  }

  &-3 {
    .menu-item-double-wrap {
      background-color: $grey-color;
    }

    background-color: $grey-color;

    @include tablet {
      transform: rotate(-1deg);
      background-color: transparent;
    }

    @include laptop {
      transform: rotate(7deg) translate(8%, 5%);
      z-index: 8;
    }
  }

  &-4 {

    @include tablet {
      transform: rotate(1deg);
    }

    @include laptop {
      transform: rotate(-12deg) translate(-8%, -15%);
      z-index: 7;

      .menu-item-double-wrap {
        background-color: $accent-color-2;
      }
    }
  }

  &-5 {
    .menu-item-double-wrap {
      background-color: $accent-color-2;
    }

    background-color: $accent-color-2;

    @include tablet {
      transform: rotate(1deg);
      background-color: transparent;
    }

    @include laptop {
      transform: rotate(12deg) translate(-8%, 5%);

      .menu-item-double-wrap {
        background-color: $blue-color;
      }

      z-index: 6;
    }
  }

  &-6 {
    .menu-item-double-wrap {
      background-color: $grey-color;
    }

    background-color: $grey-color;

    @include tablet {
      transform: rotate(-1deg);
      background-color: transparent;
    }

    @include laptop {
      transform: rotate(-12deg) translate(10%, -25%);

      z-index: 5;
    }
  }

  &-7 {

    @include tablet {
      transform: rotate(-1deg);
    }

    @include laptop {
      transform: rotate(12deg) translate(0%, -17%);

      z-index: 4;
    }
  }

  &-8 {
    .menu-item-double-wrap {
      background-color: $accent-color-2;
    }

    background-color: $accent-color-2;

    @include tablet {
      transform: rotate(1deg);
      background-color: transparent;
    }

    @include laptop {
      transform: rotate(-9deg) translate(-10%, -14%);

      z-index: 3;
    }
  }

  &-9 {
    @include tablet {
      transform: rotate(1deg);
    }

    @include laptop {
      transform: rotate(12deg) translate(-20%, -10%);

      z-index: 2;
    }
  }

  &-10 {
    .menu-item-double-wrap {
      background-color: $grey-color;
    }

    background-color: $grey-color;

    @include tablet {
      transform: rotate(-1deg);
      background-color: transparent;
    }

    @include laptop {
      transform: rotate(-15deg) translate(-20%, -20%);

      .menu-item-double-wrap {
        background-color: $grey-color;
      }

    }
  }

}


.accent-color {
  color: $accent-color;
}

.overflow[data-mob-call__overflow] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: calc(100vh - 100svh + 20px);
  gap: 4px;
  z-index: 99;

  .general-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 22px 28px;

    span {
      @include general-text;
      font-weight: 700;
    }

    svg path {
      transition: all 0.3s ease;
    }

    &[data-mob-call-close] {
      background-color: transparent;

      &::before {
        background-color: transparent;
      }
    }
  }
}