.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 0.6s ease;
  pointer-events: none;

  &.visible {
    transform: translateY(0);
  }

  &.hide {
    .header-bg {
      transform: translateY(-100%);
    }
  }

  &.menu-is-open {
    // height: 60px;

    // @include tablet {
    //   height: 88px;

    // }

    // @include laptop {
    //   height: 120px;

    // }
    .header-bg {
      background-color: transparent;
    }
  }
}

.nav-link {
  overflow: hidden;
  position: relative;

  .fake {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-105%);
    transition: all 0.4s ease-in-out;
    color: $olive-color;
  }

  .real {
    display: block;
    transition: all 0.4s ease-in-out;
    transform: translateY(0%);
  }

  &:hover {
    .fake {
      transform: translateY(0%);
    }

    .real {
      transform: translateY(105%);
    }
  }
}

.header-bg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 72px;
  transition: all 0.4s ease-out;
  width: 100%;
  background-color: $accent-color;
  position: relative;
  transition: all 0.4s ease;
  pointer-events: all;

  @include tablet {
    height: 108px;
  }

  @include laptop-header {
    height: 150px;
    justify-content: space-between;
  }

  &.scroll-down {
    height: 60px;

    @include tablet {
      height: 88px;
    }

    @include laptop {
      height: 120px;
    }
  }

  .general-btn {
    background-color: $olive-color;

    span {
      color: $accent-color;
    }

    &::before {
      background-color: $wc;
    }

    &:hover {
      color: $wc;
    }
  }

  .socials-list {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}

.header-left-toolkit {
  display: flex;
  gap: 28px;
  align-items: center;
}

.logo-wrap {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 134px;
  height: 40px;

  display: flex;
  align-items: center;
  height: 100%;

  @include tablet {
    width: 207px;
    height: 63px;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .rotate-hover {
    transition: all 0.5s ease-in-out;
    transform-origin: center center;
    transform-box: fill-box;
  }

  &:hover {
    .rotate-hover {
      transform: rotateY(360deg);
    }
  }

  @include laptop-header {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
  }
}

.header-tools__wrapper {
  display: flex;
  align-items: center;
  gap: 14px;

  @include tablet {
    padding-left: 20px;
    gap: 16px;
  }

  @include laptop-header {
    gap: 28px;
  }
}

.ellipse-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotate(50deg);
  background-color: $olive-color;
  width: 41px;
  height: 55px;
  transform-origin: center center;
  border-radius: 50%/50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%/50%;
    top: 0;
    left: 0%;

    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    background-color: $wc;
  }

  &:hover {
    &::before {
      transform: translate3d(100%, 30%, 0);
    }

    // &.button--white {
    //   background: var(--green-light);
    // }
  }

  @include tablet {
    width: 59px;
    height: 78px;
  }

  svg {
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 2;
    transform: rotate(-50deg);

    @include tablet {
      width: 24px;
      height: 24px;
    }
  }
}

.header-mob-tel {
  display: flex;
  align-items: center;
  gap: 12px;

  @include laptop-header {
    display: none;
  }

  span {
    display: none;

    @include tablet {
      display: inline;
      transition: all 0.5s ease;
      color: $text-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      font-family: $default-font;
      line-height: 100%;
      text-transform: uppercase;
    }
  }

  svg path {
    transition: all 0.4s ease-in-out;
  }

  svg {
    width: 24px;
    height: 24px;

    @include tablet {
      width: 13px;
      height: 13px;
    }
  }
}

.header-link {
  display: none;

  &.header-call-back {
    svg {
      clip-path: polygon(30% 0%, 100% 0, 100% 100%, 30% 100%);
      overflow: hidden;
      transition: all 0.4s linear;
      transform: translateX(-29%);
      transform-origin: left;
    }

    &:hover,
    &:focus {
      svg {
        clip-path: polygon(1% 0%, 100% 0%, 100% 100%, 1% 100%);
        transform: translateX(0%);
      }
    }
  }

  @include laptop-header {
    display: flex;
    // align-items: baseline;
    gap: 12px;

    span {
      transition: all 0.5s ease;
      color: $wc;
      font-size: 1.25vw;
      font-style: normal;
      font-weight: 600;
      font-family: $default-font;
      line-height: 140%;
      text-transform: uppercase;
      letter-spacing: -0.06em;
    }

    svg path {
      transition: all 0.5s ease;
    }
  }

  &.laptop-mode {
    display: none;

    @include laptop-header {
      display: flex;
    }
  }
}

@media (hover: hover) {
  .header-link svg {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
  }

  .header-link span {
    position: relative;
  }

  .header-link span:after {
    content: '';
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
  }

  .header-link:hover svg {
    -webkit-animation: wobble 1s ease infinite;
    animation: wobble 1s ease infinite;
  }

  .header-link:hover span:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@-webkit-keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-2px) rotate(-5deg);
    transform: translateX(-2px) rotate(-5deg);
  }

  30% {
    -webkit-transform: translateX(1px) rotate(5deg);
    transform: translateX(1px) rotate(5deg);
  }

  45% {
    -webkit-transform: translateX(-1px) rotate(-2.7777777778deg);
    transform: translateX(-1px) rotate(-2.7777777778deg);
  }

  60% {
    -webkit-transform: translateX(0.6060606061px) rotate(1.6666666667deg);
    transform: translateX(0.6060606061px) rotate(1.6666666667deg);
  }

  75% {
    -webkit-transform: translateX(-0.3636363636px) rotate(-1deg);
    transform: translateX(-0.3636363636px) rotate(-1deg);
  }
}

@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-2px) rotate(-5deg);
    transform: translateX(-2px) rotate(-5deg);
  }

  30% {
    -webkit-transform: translateX(1px) rotate(5deg);
    transform: translateX(1px) rotate(5deg);
  }

  45% {
    -webkit-transform: translateX(-1px) rotate(-2.7777777778deg);
    transform: translateX(-1px) rotate(-2.7777777778deg);
  }

  60% {
    -webkit-transform: translateX(0.6060606061px) rotate(1.6666666667deg);
    transform: translateX(0.6060606061px) rotate(1.6666666667deg);
  }

  75% {
    -webkit-transform: translateX(-0.3636363636px) rotate(-1deg);
    transform: translateX(-0.3636363636px) rotate(-1deg);
  }
}

.socials-list {
  display: flex;
  align-items: center;
  gap: 4px;

  .social-link {
    padding: 12px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    width: 48px;
    height: 48px;

    .social-svg {
      width: 24px;
      height: 24px;
      transition: all 0.4s ease-in-out;
    }

    .social-hover-svg {
      position: absolute;
      width: 24px;
      height: 24px;
      transition: all 0.4s ease-in-out;
      transform: translate(-50%, 150%);
      top: 50%;
      left: 50%;

      path {
        fill: $olive-color;
      }
    }

    &:hover {
      .social-svg {
        transform: translateY(-200%);
      }

      .social-hover-svg {
        transform: translate(-50%, -50%);
      }
    }
  }
}

.flats-mob-btn {
  @include laptop-header {
    display: none;
  }
}

.general-btn.laptop-mode {
  margin-right: 12px;
}

.menu-burger {
  transform: rotate(-50deg);
  display: flex;
  flex-direction: column;
  gap: 2px;

  @include tablet {
    gap: 4px;
  }

  span {
    position: relative;
    z-index: 3;
    width: 16px;
    height: 2px;
    border-radius: 4px;
    background-color: $text-color;
    transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out, width 0.4s ease-in-out,
      background-color 0.4s ease;

    @include tablet {
      width: 24px;
      height: 3px;
    }
  }
}

.header.menu-is-open {
  background-color: transparent;

  .menu-burger {
    .over {
      transform: rotate(45deg) translate(2px, 1px);

      @include tablet {
        transform: rotate(45deg) translate(3px, 2px);
      }
    }

    .under {
      transform: rotate(-45deg) translate(2px, -1px);

      @include tablet {
        transform: rotate(-45deg) translate(4px, -2px);
      }
    }
  }
}

.menu-overlay {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  background-color: $accent-color;
  pointer-events: all;
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  @include laptop {
    align-items: center;
  }

  &.hidden {
    // visibility: hidden;
    pointer-events: none;
    // opacity: 0;
  }
}

.menu-container {
  width: 100%;
  height: 100svh;

  // visibility: hidden;
  .cycle-section__house-wrapper {
    overflow: visible;
  }

  .cycle-section {
    height: 100%;
    padding-top: 92px;

    @include tablet {
      padding-top: 116px;
    }

    @include laptop-header {
      padding-top: 190px;
    }

    &.menu-section {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-image: url('/assets/images/menu/mob-oval.svg');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;

        width: clamp(370px, 28vw, 795px);
        aspect-ratio: 355 / 255;
        height: auto;

        @include tablet {
          background-image: url('/assets/images/menu/tab-oval.svg');
          width: clamp(400px, 100vw, 650px);
          aspect-ratio: 499 / 351;
        }

        @include laptop {
          background-image: url('/assets/images/menu/desk-oval.svg');
          width: clamp(500px, 40vw, 795px);
          aspect-ratio: 640 / 480;
        }
      }
    }
  }

  .menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include tablet {
      gap: 0;
    }

    @include laptop {
      gap: 12px;
    }
  }

  .menu-main-link {
    display: block;
    width: fit-content;
    padding-right: 20px;

    span {
      @include section-title;
      color: $wc;
      font-size: 36px;

      @include tablet {
        font-size: 88px;
      }

      @include laptop {
        gap: 12px;
        font-size: vw(100);
      }

      &.fake {
        color: $olive-color;

        &.flat {
          @media screen and (max-width: 387px) {
            max-width: 315px;
          }
        }
      }
    }
  }

  .menu-subnav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    bottom: 75px;
    // left: 30px;

    & .fake {
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      & .fake {
        opacity: 1;
        visibility: visible;
      }
    }

    @media screen and (max-width: 480px) {
      left: 40vw;
    }

    @media screen and (min-width: 480px) {
      left: 60vw;
    }

    @include tablet {
      bottom: 64px;
      left: 50vw;
      gap: 4px;
    }

    @include laptop {
      bottom: vw(60);
      left: vw(1435);
      gap: 8px;
    }

    @include laptop-header {
      bottom: vw(130);
    }
  }

  .menu-link {
    display: block;

    span {
      @include text-24;
      font-size: 18px;
      font-weight: 700;
      color: $accent-color;
      line-height: 140%;

      @include tablet {
        font-size: 24px;
      }

      @include laptop {
        font-size: clamp(18px, calc(18px + (24 - 18) * ((100vw - 1024px) / (1920 - 1024))), 24px);
      }

      &.fake {
        color: $text-color-2;
      }
    }
  }
}

.accent-color {
  color: $accent-color;
}

.overflow[data-mob-call__overflow] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: calc(100vh - 100svh + 20px);
  gap: 4px;
  z-index: 99;
  height: 100dvh;

  .general-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 22px 28px;

    span {
      @include general-text;
      font-weight: 700;
    }

    svg path {
      transition: all 0.3s ease;
    }

    &[data-mob-call-close] {
      background-color: transparent;

      &::before {
        background-color: transparent;
      }
    }
  }
}
