.thank-you-popup {
  // &.overlay {
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   transition: ease-in visibility 0s, opacity 0.3s linear;
  //   background-color: rgba(0, 0, 0, 0.8);
  //   z-index: 15000;
  //   // pointer-events: none;

  //   &.modal-open {
  //     visibility: visible;
  //     opacity: 1;
  //     pointer-events: all;
  //   }
  // }
  .modal-form {
    .th-decor {
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom-left-radius: 24px;
      overflow: hidden;
      width: 60%;
      aspect-ratio: 202 /150;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .form-title {
    margin-bottom: 12px;
  }

  .form-descr {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 90px;
    }

    @include laptop {
      margin-bottom: vw(124);
    }
  }

  .form-title,
  .form-descr {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .th-you-img-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;

    .th-check {
      width: 48px;
      height: 48px;

      @include tablet {
        width: 68px;
        height: 68px;
      }
    }

    .th-logo {
      width: 155px;
      height: 48px;

      @include tablet {
        width: 243px;
        height: 74px;
      }
    }
  }

  // &__text {
  //   width: 90%;
  //   padding: 32px 20px;
  //   background-color: $bg-color;
  //   border-radius: 20px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);

  //   @include tablet {
  //     padding: 60px 120px;
  //     width: fit-content;
  //   }



  //   svg {
  //     align-self: center;
  //     width: 48px;
  //     height: 48px;
  //     margin-bottom: 20px;
  //   }



  //   @include laptop {


  //     svg {
  //       width: 70px;
  //       height: 70px;
  //     }
  //   }
  // }


  & .thank-you-popup__btn {}
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: rgba(28, 30, 44, 0.8);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease-in, opacity 0.3s linear;
  // background-color: rgba(0, 0, 0, 0.8);
  z-index: 1500;
  pointer-events: none;

  &.modal-open {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}